/* 
    Created on : 26-gen-2014, 12.53.10
    Author     : Lorenzo Di Giuseppe
*/
/* 
    Created on : 26-gen-2014, 13.03.45
    Author     : Lorenzo Di Giuseppe
*/
/* Griglia basata su 1024px*/
body {
  width: 96%;
  margin: 0 auto;
  /*overflow-x: hidden;*/ }

.span5 {
  width: 94.140625%; }

.span4 {
  width: 74.921875%; }

.span3 {
  width: 55.703125%; }

.span2 {
  width: 36.484375%; }

.span1 {
  width: 17.265625%; }

.span-divide-l {
  margin-left: 0.9765625%; }

.span-divide-r {
  margin-right: 0.9765625%; }

.margin-border-l {
  margin-left: 2.9296875%; }

.margin-border-r {
  margin-right: 2.9296875%; }

.margin-border-t {
  margin-top: 2.5445293%; }

.margin-border-b {
  margin-bottom: 1.2722646%; }

@media all and (min-width: 480px) and (max-width: 768px), all and (min-device-width: 480px) and (max-device-width: 768px) {
  body {
    width: 100%; }

  .span5 {
    width: 96.66667%; }

  .span2 {
    width: 36.66667%; }

  .span3 {
    width: 56.66667%; }

  .span1 {
    width: 16.66667%; }

  .span-divide-l {
    margin-left: 1.66667%; }

  .span-divide-r {
    margin-right: 1.66667%; }

  .margin-border-l {
    margin-left: 1.66667%; }

  .margin-border-r {
    margin-right: 1.66667%; }

  .margin-border-t {
    margin-top: 2.5%; }

  .margin-border-b {
    margin-bottom: 2.5%; } }
@media all and (max-width: 480px), all and (max-device-width: 480px) {
  body {
    width: 100%; }

  .span5 {
    width: 95.83333%; }

  .span4 {
    width: 95.83333%; }

  .span3 {
    width: 95.83333%; }

  .span2 {
    width: 95.83333%; }

  .span1 {
    width: 95.83333%; }

  .span-divide-l {
    margin-left: 2.08333%; }

  .span-divide-r {
    margin-right: 2.08333%; }

  .margin-border-l {
    margin-left: 2.08333%; }

  .margin-border-r {
    margin-right: 2.08333%; }

  .margin-border-t {
    margin-top: 2.08333%; }

  .margin-border-b {
    margin-bottom: 2.08333%; } }
#navigation {
  clear: both;
  display: block;
  position: relative;
  z-index: 2;
  width: 96%;
  overflow: hidden;
  border-width: 2pt 0 2pt 0;
  border-style: double;
  border-color: #4eb3d3;
  margin-top: 0.9765625%;
  margin-bottom: 1.2722646%;
  background-color: #206db3;
  padding: 0 2%; }
  #navigation .nav-button {
    display: block;
    float: left;
    text-align: center;
    text-decoration: none;
    height: 3em;
    padding: 0.5em  0;
    height: 3em;
    margin: 0.5em 0;
    width: 16.66667%;
    vertical-align: middle; }
    #navigation .nav-button a {
      display: block;
      position: relative;
      text-decoration: none;
      text-align: center;
      width: 90%;
      height: 2.5em;
      padding: 0.25em 0;
      margin: 0 auto;
      color: #FFFFFF;
      vertical-align: middle; }
  #navigation .nav_h_divider {
    position: relative;
    clear: both;
    width: 100%;
    height: 2px;
    background-color: white;
    display: none;
    float: left; }
  #navigation .nav-button:first-child {
    padding-left: 0;
    border-left: 0; }
  #navigation .nav-button:last-child {
    padding-right: 0;
    border-right: 0; }
  #navigation .nav-button:hover {
    background-color: #8EA7D6; }
  #navigation .nav-button-selected {
    background-color: #8EA7D6; }

@media all and (min-width: 481px) and (max-width: 768px), all and (min-device-width: 481px) and (max-device-width: 768px) {
  #navigation {
    padding: 0 1.30208%;
    margin: 0;
    height: auto;
    margin: 0.5em 0;
    width: 97.39583%; }
    #navigation .nav-button {
      width: 19.47917%;
      padding: 0.2em  0; }
    #navigation #nav_6 {
      margin-left: 38.95833%; }
    #navigation #break1 {
      clear: both;
      display: block; } }
@media all and (min-width: 420px) and (max-width: 480px), all and (min-device-width: 420px) and (max-device-width: 480px) {
  #navigation {
    padding: 0 2.08333%;
    margin: 0;
    height: auto;
    margin: 0.5em 0;
    width: 95.83333%; }
    #navigation .nav-button, #navigation #nav_6, #navigation #nav_5 {
      width: 23.64583%;
      padding: 0.2em  0; }
    #navigation #nav_5 {
      margin-left: 24.0625%; }
    #navigation #nav_6 {
      margin-left: 0; }
    #navigation #break1 {
      clear: both;
      display: none; }
    #navigation #break2 {
      clear: both;
      display: block; } }
@media all and (max-width: 420px), all and (max-device-width: 420px) {
  #navigation {
    padding: 0 2.38095%;
    margin: 0;
    height: auto;
    margin: 0.5em auto;
    width: 95.2381%; }
    #navigation .nav-button, #navigation #nav_6, #navigation #nav_5, #navigation #nav_4 {
      width: 31.74603%;
      padding: 0.2em  0; }
    #navigation #nav_5 {
      margin-left: 0; }
    #navigation #nav_6 {
      margin-left: 0; }
    #navigation #break1 {
      clear: both;
      display: none; }
    #navigation #break2 {
      clear: both;
      display: none; }
    #navigation #break3 {
      clear: both;
      display: block; } }
