
/*  SECTIONS  ============================================================================= */

.section {
	clear: both;
	padding: 0px;
	margin: 0px;
        margin-bottom: 1em;
}

/*  GROUPING  ============================================================================= */


.group:before,
.group:after {
    content:"";
    display:table;
}
.group:after {
    clear:both;
}
.group {
    zoom:1; /* For IE 6/7 (trigger hasLayout) */
}

/*  GRID COLUMN SETUP   ==================================================================== */

.col {
    display: block;
    float:left;
    margin: 0.5em 0 0.5em 1.6%;
}

.col:first-child { margin-left: 0; } /* all browsers except IE6 and lower */

/*@media only screen and (min-width: 481px) and (max-width: 769px){
    .col{
        margin: 1% 0 1% 1.6%;
    }

}*/


/*  REMOVE MARGINS AS ALL GO FULL WIDTH AT 480 PIXELS */

@media only screen and (max-width: 600px) {
	.col { 
		margin: 1% 0 1% 0%;
	}
}