@charset "UTF-8";
/* 
    Created on : 23-mar-2014, 12.08.24
    Author     : Lorenzo Di Giuseppe
*/
/* ---- MIXIN ----- */
/* ---- GRIGLIA ------ */
.column {
  float: left;
  margin: 0 0 0 1.6%; }
  .column:first-child {
    margin-left: 0; }

.column-right {
  float: right;
  margin: 0 1.6% 0 0; }
  .column-right:first-child {
    margin-right: 0; }

.column, .column-right {
  display: block;
  font-size: inherit; }
  .column .col_1_5, .column .col_2_5, .column .col_3_5, .column .col_4_5, .column .col_5_5, .column-right .col_1_5, .column-right .col_2_5, .column-right .col_3_5, .column-right .col_4_5, .column-right .col_5_5 {
    margin-top: 1em; }
    .column .col_1_5:first-child, .column .col_2_5:first-child, .column .col_3_5:first-child, .column .col_4_5:first-child, .column .col_5_5:first-child, .column-right .col_1_5:first-child, .column-right .col_2_5:first-child, .column-right .col_3_5:first-child, .column-right .col_4_5:first-child, .column-right .col_5_5:first-child {
      margin-top: 0; }

@media only screen and (max-width: 480px) {
  .column {
    margin: 0.5em 0 0 0; }
    .column:first-child {
      margin: 0; }

  .column-right {
    margin: 0 0 0.5em 0; }
    .column-right:first-child {
      margin: 0; }

  .column .col_1_5, .column .col_2_5, .column .col_3_5, .column .col_4_5, .column .col_5_5, .column-right .col_1_5, .column-right .col_2_5, .column-right .col_3_5, .column-right .col_4_5, .column-right .col_5_5 {
    font-size: inherit;
    margin-top: 0.7em; }
    .column .col_1_5:first-child, .column .col_2_5:first-child, .column .col_3_5:first-child, .column .col_4_5:first-child, .column .col_5_5:first-child, .column-right .col_1_5:first-child, .column-right .col_2_5:first-child, .column-right .col_3_5:first-child, .column-right .col_4_5:first-child, .column-right .col_5_5:first-child {
      margin-top: 0; } }
.section {
  font-size: inherit;
  clear: both;
  padding: 0px;
  margin: 0px;
  margin-bottom: 1.6em; }
  .section:first-child {
    margin-top: 1.6em; }

.group:before,
.group:after {
  content: "";
  display: table; }

.group:after {
  clear: both; }

.group {
  font-size: inherit;
  zoom: 1;
  /* Per IE 7 */ }
  .group:before, .group:after {
    content: "";
    display: table; }
  .group:after {
    clear: both; }

.col_1_5, .col_1_5_to_2_4 {
  width: 18.72%; }

.col_2_5 {
  width: 39.04%; }

.col_3_5 {
  width: 59.36%; }

.col_4_5 {
  width: 79.68%; }

.col_5_5 {
  width: 100%; }

.grid-brake {
  display: none;
  height: 0;
  clear: both;
  float: left;
  width: 100%;
  margin-top: 0.5em; }

@media screen and (max-width: 768px) {
  .col_1_5_to_2_4 {
    width: 49.2%; }
    .col_1_5_to_2_4:nth-of-type(1), .col_1_5_to_2_4:nth-of-type(3), .col_1_5_to_2_4:nth-of-type(5) {
      margin-left: 0; }
    .col_1_5_to_2_4:nth-of-type(2), .col_1_5_to_2_4:nth-of-type(4), .col_1_5_to_2_4:nth-of-type(6) {
      float: right;
      margin-right: 0; }

  .section {
    clear: both;
    padding: 0px;
    margin-bottom: 0.7em; }
    .section:first-child {
      margin-top: 0.7em; }
    .section .grid-brake {
      display: block; } }
@media screen and (max-width: 480px) {
  .col_1_5_to_2_4 {
    margin-top: 0.5em; }
    .col_1_5_to_2_4:nth-of-type(1), .col_1_5_to_2_4:nth-of-type(3), .col_1_5_to_2_4:nth-of-type(5) {
      margin-left: 0; }

  .section .grid-brake {
    display: none; }

  .col_1_5, .col_2_5, .col_3_5, .col_4_5, .col_5_5, .col_1_5_to_2_4 {
    width: 100%; } }
/* ----- CONTENITORI E OGGETTI COMUNI ------ */
.wrapper {
  display: block;
  float: none;
  width: 98%;
  margin: 0 1%; }
  @media screen and (min-width: 481px) {
    .wrapper {
      width: 100%;
      margin: 0; } }

@media screen and (min-width: 1281px) {
  .wrapper {
    width: 1140px;
    margin: 0 auto;
    padding: 0; }
    .wrapper header {
      width: 100%;
      padding: 0;
      margin: 0; } }
.img {
  display: block;
  position: relative;
  width: 100%;
  top: 0;
  height: auto;
  margin: auto; }

.container {
  display: block;
  width: 100%;
  height: 100%;
  position: relative; }

.page-img {
  background-color: #FFFFFF;
  float: left;
  height: fit-content; }

.lazy-image {
  -webkit-box-sizing: border-box;
  /* Android ≤ 2.3, iOS ≤ 4 */
  -moz-box-sizing: border-box;
  /* Firefox 1+ */
  box-sizing: border-box;
  /* Chrome, IE 8+, Opera, Safari 5.1 */
  position: relative;
  width: 100%;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  padding: 0;
  margin: 0;
  border: 0; }
  .lazy-image img {
    z-index: -1; }

.content-box {
  -webkit-box-sizing: border-box;
  /* Android ≤ 2.3, iOS ≤ 4 */
  -moz-box-sizing: border-box;
  /* Firefox 1+ */
  box-sizing: border-box;
  /* Chrome, IE 8+, Opera, Safari 5.1 */
  padding-bottom: 0.5em;
  overflow: hidden; }
  @media screen and (max-width: 768px) {
    .content-box {
      -webkit-border-radius: 0.4em 0.4em 0 0;
      -moz-border-radius: 0.4em 0.4em 0 0;
      -ms-border-radius: 0.4em 0.4em 0 0;
      border-radius: 0.4em 0.4em 0 0; } }
  .content-box .decorator, .content-box .decorator-bottom, .content-box .decorator-header {
    display: none;
    visibility: hidden; }
  .content-box .header {
    clear: both;
    z-index: 2;
    display: inline-block;
    width: 100%;
    top: 0;
    margin: 0;
    text-wrap: normal;
    padding: 0; }
    .content-box .header h1, .content-box .header h2, .content-box .header h3, .content-box .header h4, .content-box .header h5, .content-box .header h6 {
      display: inline-block;
      position: relative;
      width: 80%;
      margin: 0.3em 0;
      padding: 0.2em 10%;
      height: auto;
      text-decoration: none;
      text-align: center;
      color: inherit; }
  .content-box h1, .content-box h2, .content-box h3, .content-box h4, .content-box h5, .content-box h6 {
    color: inherit; }
  .content-box p {
    display: block;
    clear: both;
    color: inherit; }

/* ----- STILI GLOBALI ------ */
body {
  position: relative;
  font-size-adjust: none; }

@media screen and (max-width: 900px) {
  html {
    overflow-y: hidden; }

  body {
    overflow-y: auto;
    overflow-x: hidden; } }
html, body {
  height: 100%;
  min-height: 100%;
  width: 100%;
  margin: 0;
  padding: 0; }

@media screen and (max-width: 768px) {
  html {
    -webkit-text-size-adjust: none; } }
.body-background {
  display: table;
  z-index: -2;
  margin: 0;
  padding: 0;
  border: 0;
  width: 100%; }
  .body-background .decorator {
    display: none;
    visibility: hidden; }

.desktop_content {
  display: block; }

.mobile_content {
  display: none; }

@media screen and (max-width: 480px) {
  .desktop_content {
    display: none; }

  .mobile_content {
    display: block; } }
/* ----- LOGO E HEADER ------ */
#page-header {
  padding-bottom: 0;
  width: 100%;
  margin: 0;
  border: 0;
  height: auto;
  position: relative;
  text-align: center; }
  #page-header .wrapper {
    height: auto;
    margin-bottom: 0; }
  #page-header #logo {
    -webkit-box-sizing: border-box;
    /* Android ≤ 2.3, iOS ≤ 4 */
    -moz-box-sizing: border-box;
    /* Firefox 1+ */
    box-sizing: border-box;
    /* Chrome, IE 8+, Opera, Safari 5.1 */
    display: block;
    height: 6em;
    padding: 0;
    border: 0; }
    #page-header #logo #logo-img {
      display: block;
      position: relative;
      float: left;
      height: 100%;
      width: 40%;
      margin: auto 5%;
      margin-left: 0; }
      #page-header #logo #logo-img a {
        z-index: 2;
        position: relative;
        display: block;
        width: 100%;
        height: 100%;
        float: left; }
        #page-header #logo #logo-img a img {
          display: block;
          position: relative;
          height: 100%;
          max-width: 100%;
          float: left;
          margin: auto 0; }
    #page-header #logo #logo-text {
      display: inline-block;
      position: absolute;
      float: none;
      padding: 0;
      top: 0.5em;
      left: 25%;
      right: 25%;
      width: 50%;
      text-align: center; }
      #page-header #logo #logo-text h4 {
        display: block;
        position: relative;
        padding: 0;
        width: 100%;
        margin: 0;
        margin-bottom: 0.1em; }
      #page-header #logo #logo-text span {
        display: block;
        max-width: 100%;
        margin: 0;
        padding: 0; }
  #page-header .jump {
    position: absolute;
    width: 30%;
    left: -9999px;
    text-align: center; }

@media screen and (max-width: 768px) {
  #page-header .nav-wrapper {
    display: block; }
  #page-header #logo {
    clear: both;
    height: auto;
    width: 98%;
    margin-left: 1%;
    margin-right: 1%;
    margin-bottom: 0.2em; }
    #page-header #logo #logo-img {
      height: 100%;
      width: 40%;
      margin: 0.2em 0;
      height: 5.6em;
      float: left; }
      #page-header #logo #logo-img a {
        margin: auto; }
        #page-header #logo #logo-img a img {
          float: none;
          max-width: 100%;
          height: 100%;
          margin: 0 auto; }
    #page-header #logo #logo-text {
      position: relative;
      left: auto;
      right: auto;
      top: 0;
      width: 60%;
      float: right;
      margin: 0.5em 0;
      text-align: right; }
    #page-header #logo:after {
      content: "";
      display: table;
      clear: both; } }
@media screen and (max-width: 480px) {
  #page-header #logo {
    position: relative; }
    #page-header #logo #logo-img {
      width: 25%;
      margin: 0.2em auto;
      margin-right: 5%;
      max-height: 3em;
      height: 3em;
      float: left; }
      #page-header #logo #logo-img img {
        display: block;
        position: relative;
        max-width: 100%;
        max-height: 100%; }
    #page-header #logo #logo-text {
      width: 70%;
      float: left;
      margin: 0.3em auto; } }
.lang-menu {
  display: inline-block;
  position: relative;
  height: auto;
  float: left;
  margin-top: 0.8em; }
  .lang-menu .decorator {
    display: none;
    visibility: hidden; }
  .lang-menu #lang-menu {
    display: block;
    position: relative;
    width: 100%;
    height: auto;
    margin: 0;
    padding: 0;
    border: 0;
    left: 0;
    top: 0;
    display: block; }
  .lang-menu .controls {
    display: none;
    position: absolute;
    left: -10000px;
    visibility: hidden; }
  .lang-menu .selected {
    cursor: default; }
    .lang-menu .selected span {
      text-decoration: none; }
  .lang-menu a:not(.controls) {
    display: block;
    visibility: visible;
    position: relative;
    width: 50%;
    height: 2em;
    padding: 0;
    margin: 0.5em 0;
    float: left; }
    .lang-menu a:not(.controls) img {
      display: block;
      float: left;
      height: 1.5em;
      margin: 0.25em 0.2em;
      margin: auto 0;
      vertical-align: middle; }
    .lang-menu a:not(.controls) span {
      display: block;
      width: 40%;
      height: 1.5em;
      margin: auto 0.2em;
      padding: 0.25em auto;
      line-height: 1.5em;
      float: left; }
    .lang-menu a:not(.controls):not(.selected) span {
      text-decoration: underline; }

@media screen and (max-width: 768px) {
  .lang-menu {
    display: block;
    position: absolute;
    right: 0;
    left: auto;
    bottom: 0;
    float: none;
    width: 23%;
    margin: 0;
    margin-top: 0.35em;
    padding-top: -2pt;
    height: auto;
    border: 0;
    -webkit-box-sizing: content-box;
    /* Android ≤ 2.3, iOS ≤ 4 */
    -moz-box-sizing: content-box;
    /* Firefox 1+ */
    box-sizing: content-box;
    /* Chrome, IE 8+, Opera, Safari 5.1 */
    z-index: 3; }
    .lang-menu .controls {
      clear: both;
      -webkit-box-sizing: border-box;
      /* Android ≤ 2.3, iOS ≤ 4 */
      -moz-box-sizing: border-box;
      /* Firefox 1+ */
      box-sizing: border-box;
      /* Chrome, IE 8+, Opera, Safari 5.1 */
      font-size: inherit;
      visibility: visible;
      display: block;
      position: relative;
      left: 0;
      width: 100%;
      height: 3.16em;
      padding: 0em 0;
      border: 0;
      border-left-width: 0.1em;
      border-left-style: groove; }
      .lang-menu .controls img {
        display: block;
        position: relative;
        max-width: 80%;
        max-height: 80%;
        float: none;
        margin: auto;
        top: 10%;
        box-shadow: none;
        -webkit-box-sizing: border-box;
        /* Android ≤ 2.3, iOS ≤ 4 */
        -moz-box-sizing: border-box;
        /* Firefox 1+ */
        box-sizing: border-box;
        /* Chrome, IE 8+, Opera, Safari 5.1 */
        border: 0;
        -webkit-border-radius: 3pt 3pt 3pt 3pt;
        -moz-border-radius: 3pt 3pt 3pt 3pt;
        -ms-border-radius: 3pt 3pt 3pt 3pt;
        border-radius: 3pt 3pt 3pt 3pt; }
      .lang-menu .controls:hover img {
        border-style: solid;
        border-width: 2pt; }
    .lang-menu #lang-close {
      display: none;
      position: absolute;
      left: -10000px; }
    .lang-menu #lang-menu {
      left: -10000px;
      position: absolute;
      margin: 0;
      height: 0;
      top: 3.14em;
      z-index: 4;
      -webkit-box-sizing: border-box;
      /* Android ≤ 2.3, iOS ≤ 4 */
      -moz-box-sizing: border-box;
      /* Firefox 1+ */
      box-sizing: border-box;
      /* Chrome, IE 8+, Opera, Safari 5.1 */ }
      .lang-menu #lang-menu a {
        display: block;
        -webkit-box-sizing: border-box;
        /* Android ≤ 2.3, iOS ≤ 4 */
        -moz-box-sizing: border-box;
        /* Firefox 1+ */
        box-sizing: border-box;
        /* Chrome, IE 8+, Opera, Safari 5.1 */
        position: relative;
        line-height: auto;
        width: 100%;
        height: 3em;
        border-width: 1pt;
        border-right: 0;
        border-bottom: 0;
        border-style: groove;
        text-decoration: none;
        padding: 0.1em 0;
        margin: 0;
        text-align: center;
        line-height: 3em; }
        .lang-menu #lang-menu a:last-child {
          border-bottom-width: 1pt; }
        .lang-menu #lang-menu a span {
          display: block;
          position: relative;
          margin: 10% auto;
          padding: 0 0.3em;
          width: auto; }
        .lang-menu #lang-menu a img {
          display: block;
          float: left;
          position: relative;
          max-height: 80%;
          height: auto;
          width: 40%;
          top: 10%;
          margin: auto 5%;
          -webkit-box-sizing: border-box;
          /* Android ≤ 2.3, iOS ≤ 4 */
          -moz-box-sizing: border-box;
          /* Firefox 1+ */
          box-sizing: border-box;
          /* Chrome, IE 8+, Opera, Safari 5.1 */
          border: 0;
          -webkit-border-radius: 3pt 3pt 3pt 3pt;
          -moz-border-radius: 3pt 3pt 3pt 3pt;
          -ms-border-radius: 3pt 3pt 3pt 3pt;
          border-radius: 3pt 3pt 3pt 3pt; }
        .lang-menu #lang-menu a:not(.selected):hover img {
          border-style: solid;
          border-width: 2pt; }
    .lang-menu:target {
      clear: both;
      float: right;
      left: auto;
      height: auto; }
      .lang-menu:target #lang-open {
        display: none;
        position: absolute;
        left: -10000px; }
      .lang-menu:target #lang-close {
        display: block;
        position: relative;
        left: auto; }
      .lang-menu:target #lang-menu {
        left: 0;
        right: 0;
        height: auto; }

  .languageMobileVisible #lang-menu {
    left: 0;
    right: 0;
    height: auto; }
  .languageMobileVisible #lang-open {
    display: none; }
  .languageMobileVisible #lang-close {
    display: block;
    position: relative;
    left: auto; } }
      @media screen and (max-width: 768px) and (max-width: 480px) {
        .lang-menu #lang-menu a img {
          margin-left: auto;
          margin-right: auto;
          float: none;
          padding: 0;
          height: auto;
          width: auto;
          top: 10%;
          max-width: 80%;
          max-height: 80%; }
        .lang-menu #lang-menu a span {
          display: none; } }
@media screen and (max-width: 480px) {
  .lang-menu {
    width: 35%; }
    .lang-menu #lang-menu a img {
      max-width: 90%;
      height: 90%;
      margin: auto; } }
/* ----- BARRA DI NAVIGAZIONE ----*/
.navigation {
  display: table;
  position: relative;
  height: 1.8em;
  padding: 0;
  margin: 0;
  margin-top: 0.6em;
  border-bottom: 1pt inset #1C68AA; }
  .navigation .decorator {
    display: none;
    visibility: hidden; }
  .navigation .wrapper {
    height: 1.8em;
    margin-top: 0;
    margin-bottom: 0;
    padding: 0;
    border: 0; }
  .navigation .menu-link {
    display: none; }
  .navigation .selected {
    border-width: 1pt 1pt 0 1pt;
    padding-bottom: 1pt;
    margin-bottom: -1pt;
    -webkit-border-radius: 3pt 3pt 0 0;
    -moz-border-radius: 3pt 3pt 0 0;
    -ms-border-radius: 3pt 3pt 0 0;
    border-radius: 3pt 3pt 0 0;
    border-style: outset;
    border-color: #8DBF3F; }
    @media screen and (min-width: 2500px) {
      .navigation .selected {
        padding-bottom: 2pt;
        margin-bottom: -2pt; } }
  .navigation ul {
    display: inline-block;
    position: relative;
    list-style: none;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    border: 0;
    text-align: left;
    z-index: 3; }
    .navigation ul li {
      display: inline-block;
      height: 1.8em;
      position: relative;
      -webkit-box-sizing: content-box;
      /* Android ≤ 2.3, iOS ≤ 4 */
      -moz-box-sizing: content-box;
      /* Firefox 1+ */
      box-sizing: content-box;
      /* Chrome, IE 8+, Opera, Safari 5.1 */
      margin: 0;
      margin-left: 0.2em;
      padding: auto;
      border: 0; }
      .navigation ul li:first-child {
        margin-left: 0; }
      .navigation ul li a {
        display: inline-block;
        position: relative;
        height: 100%;
        padding: 0 0.5em;
        margin: 0;
        line-height: 1.8em;
        text-align: center;
        color: inherit;
        text-decoration: none; }

@media screen and (max-width: 768px) {
  .navigation {
    margin: 0;
    padding: 0;
    height: auto;
    border: 0;
    padding-top: -2pt;
    width: 100%;
    float: left;
    border-top-width: 0.1em;
    border-top-style: outset;
    border-bottom-width: 0.1em;
    border-bottom-style: outset;
    -webkit-box-sizing: border-box;
    /* Android ≤ 2.3, iOS ≤ 4 */
    -moz-box-sizing: border-box;
    /* Firefox 1+ */
    box-sizing: border-box;
    /* Chrome, IE 8+, Opera, Safari 5.1 */
    /* Stile per i bottoni del menù di primo livello, quando sono visibili */ }
    .navigation .wrapper {
      height: auto;
      float: left;
      margin: 0;
      width: 50%;
      position: relative;
      /* Stile di base per il menù chiuso */ }
      .navigation .wrapper a {
        display: block;
        clear: both;
        width: 80%;
        text-align: center;
        padding: 0.2em 10%;
        line-height: 2em;
        text-decoration: none; }
      .navigation .wrapper .menu-link {
        display: inline-block;
        position: relative;
        -webkit-box-sizing: border-box;
        /* Android ≤ 2.3, iOS ≤ 4 */
        -moz-box-sizing: border-box;
        /* Firefox 1+ */
        box-sizing: border-box;
        /* Chrome, IE 8+, Opera, Safari 5.1 */
        height: 3em;
        line-height: 3em;
        width: 100%;
        margin-bottom: -0.01em;
        padding: 0 1%;
        border-right-width: 0.1em;
        border-right-style: groove;
        z-index: 5; }
        .navigation .wrapper .menu-link span {
          display: block;
          position: absolute;
          float: left;
          width: 80%;
          left: 10%;
          right: 10%;
          height: 2.8em;
          color: inherit; }
        .navigation .wrapper .menu-link .icon {
          display: inline-block;
          float: right;
          width: 1.5em;
          height: 1.5em;
          margin: 0.75em 0.3em;
          background-repeat: no-repeat;
          background-position: right center;
          background-size: 100% 100%; }
      .navigation .wrapper #open {
        display: block; }
      .navigation .wrapper #close {
        display: none; }
      .navigation .wrapper ul {
        font-size: inherit;
        -webkit-box-sizing: border-box;
        /* Android ≤ 2.3, iOS ≤ 4 */
        -moz-box-sizing: border-box;
        /* Firefox 1+ */
        box-sizing: border-box;
        /* Chrome, IE 8+, Opera, Safari 5.1 */
        display: block;
        position: absolute;
        list-style: none;
        margin: 0;
        padding: 0;
        border: 0;
        border-right-width: 1pt;
        border-style: groove;
        width: 100%;
        height: auto;
        top: 3.04em;
        z-index: 4;
        left: -10000px; }
        .navigation .wrapper ul li {
          display: inline-block;
          -webkit-box-sizing: border-box;
          /* Android ≤ 2.3, iOS ≤ 4 */
          -moz-box-sizing: border-box;
          /* Firefox 1+ */
          box-sizing: border-box;
          /* Chrome, IE 8+, Opera, Safari 5.1 */
          width: 100%;
          height: 0em;
          border: 0;
          float: left;
          margin: 0;
          border-width: 1pt 0;
          border-bottom: 0;
          border-style: groove;
          line-height: auto;
          -webkit-transition: height 0.25;
          -moz-transition: height 0.25s;
          -o-transition: height 0.25s;
          transition: height 0.25s; }
          .navigation .wrapper ul li:last-child {
            border-bottom-width: 1pt; }
          .navigation .wrapper ul li a {
            position: relative;
            height: 3em;
            line-height: 3em;
            padding-left: 10%;
            padding-right: 10%;
            z-index: inherit; }
    .navigation:target #close {
      display: inline-block; }
    .navigation:target #open {
      display: none; }
    .navigation:target ul {
      height: auto;
      left: 0px; }
      .navigation:target ul li {
        height: auto; }
        .navigation:target ul li a {
          height: 3em; }

  .menuMobileVisible #menu {
    height: auto;
    left: 0px; }
    .menuMobileVisible #menu li {
      height: auto; }
  .menuMobileVisible #breadcrumb {
    left: -99999px; } }
  @media screen and (max-width: 768px) and (max-width: 480px) {
    .navigation .wrapper {
      width: 35%; }
      .navigation .wrapper .menu-link span {
        display: none; }
      .navigation .wrapper .menu-link .icon {
        float: none;
        margin-left: auto;
        margin-right: auto; }
      .navigation .wrapper ul {
        width: 188%; } }
      @media screen and (max-width: 768px) and (max-width: 480px) and (max-width: 170px) {
        .navigation .wrapper .menu-link .icon {
          width: 80%;
          height: 80%;
          background-size: 100% 100%;
          margin: 10%; } }
      @media screen and (max-width: 768px) and (max-width: 480px) and (max-width: 180px) {
        .navigation .wrapper ul {
          width: 260%; } }
/* ----- BREADCRUMBS ----- */
.breadcrumb {
  display: none;
  position: absolute;
  left: -99999px;
  height: 0;
  width: 100%;
  margin-top: 0.5em; }
  @media screen and (max-width: 768px) {
    .breadcrumb {
      display: block;
      position: relative;
      left: 0;
      height: auto; } }
  .breadcrumb .wrapper {
    margin: auto; }
    .breadcrumb .wrapper div {
      -webkit-border-radius: 0.2em 0.2em 0.2em 0.2em;
      -moz-border-radius: 0.2em 0.2em 0.2em 0.2em;
      -ms-border-radius: 0.2em 0.2em 0.2em 0.2em;
      border-radius: 0.2em 0.2em 0.2em 0.2em;
      display: inline-block;
      -webkit-box-sizing: border-box;
      /* Android ≤ 2.3, iOS ≤ 4 */
      -moz-box-sizing: border-box;
      /* Firefox 1+ */
      box-sizing: border-box;
      /* Chrome, IE 8+, Opera, Safari 5.1 */
      border-style: solid;
      border-width: 1pt;
      border-color: #f6eded;
      padding: 0.2em 0.5em; }
      .breadcrumb .wrapper div a {
        color: #1C68AA; }
        .breadcrumb .wrapper div a:hover {
          color: #FFA01A; }
      .breadcrumb .wrapper div a, .breadcrumb .wrapper div span {
        display: inline-block; }
      .breadcrumb .wrapper div .hidden {
        position: absolute;
        left: -99999px; }
      .breadcrumb .wrapper div .desktop_content {
        display: inline-block; }
      .breadcrumb .wrapper div .mobile_content {
        display: none; }
      @media screen and (max-width: 480px) {
        .breadcrumb .wrapper div .desktop_content {
          display: none; }
        .breadcrumb .wrapper div .mobile_content {
          display: inline-block; } }

/* ---- IMMAGINE PRINCIPALE DELLA HOME PAGE ----*/
#main-image {
  -webkit-box-sizing: content-box;
  /* Android ≤ 2.3, iOS ≤ 4 */
  -moz-box-sizing: content-box;
  /* Firefox 1+ */
  box-sizing: content-box;
  /* Chrome, IE 8+, Opera, Safari 5.1 */
  display: table;
  position: relative;
  height: fit-content;
  min-width: 100%;
  width: 100%;
  max-width: 100%; }
  #main-image .lazy-image img {
    display: table;
    top: 0;
    min-width: 100%;
    width: 100%;
    max-width: 100%;
    height: auto;
    margin: auto;
    left: 0;
    z-index: -1; }
  #main-image .image-mask {
    display: block;
    position: absolute;
    width: 40%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 2; }
    #main-image .image-mask a {
      display: inline-block;
      position: relative;
      width: 100%;
      height: 100%;
      max-height: 100%;
      z-index: 3;
      text-decoration: none; }
      #main-image .image-mask a h5 {
        display: block;
        position: relative;
        text-align: center;
        margin: 0.3em auto;
        padding: 0 0.4em; }
      #main-image .image-mask a p {
        display: inline-block;
        width: 90%;
        margin: 5% 5%;
        margin-bottom: 15%;
        overflow: hidden;
        text-overflow: ellipsis-word;
        min-height: 40%;
        max-height: 40%; }
      #main-image .image-mask a span {
        display: block;
        position: absolute;
        bottom: 0.5em;
        right: 1em;
        padding: 0;
        text-decoration: underline;
        text-align: right; }

@media screen and (max-width: 768px) {
  #main-image img {
    display: block;
    top: 0;
    height: 100%; }
  #main-image .image-mask {
    width: 100%;
    height: 65%;
    bottom: 0%;
    left: 0;
    right: 0;
    top: 35%; }
    #main-image .image-mask a {
      position: relative; }
      #main-image .image-mask a p {
        margin: 0.2em 2%;
        margin-bottom: 10%; } }
@media screen and (max-width: 480px) {
  #main-image {
    min-height: 0; }
    #main-image .image-mask {
      position: relative;
      height: auto; } }
/* ---- TAB -> ACCORDION ---- */
.tab_to_accordion {
  margin-bottom: 2em;
  margin-top: 0.5em; }
  .tab_to_accordion .tab-image {
    display: block;
    position: relative; }
    .tab_to_accordion .tab-image img {
      display: block;
      position: relative;
      width: 100%; }
  .tab_to_accordion .tab_right_col {
    display: block;
    padding: 0;
    border: 0; }
    .tab_to_accordion .tab_right_col .tab_menu {
      width: 100%;
      margin: 0;
      padding: 0; }
      .tab_to_accordion .tab_right_col .tab_menu .menu-button {
        display: table;
        position: relative;
        padding: 0.2em 0;
        right: 0;
        height: auto;
        width: 100%; }
        @media screen and (max-width: 768px) {
          .tab_to_accordion .tab_right_col .tab_menu .menu-button {
            padding: 0.5em 0;
            margin-top: 0.5em; } }
        .tab_to_accordion .tab_right_col .tab_menu .menu-button .icon {
          display: block;
          float: left;
          height: 0.8em;
          width: 0.8em;
          background-repeat: no-repeat;
          background-size: 0.8em;
          margin: 0.35em 1%; }
        .tab_to_accordion .tab_right_col .tab_menu .menu-button a {
          display: block;
          padding: 0 8%;
          line-height: 1.5em;
          min-height: 1.5em;
          text-decoration: none; }
      .tab_to_accordion .tab_right_col .tab_menu #trasporto-gomma-link {
        margin-top: 0; }
      .tab_to_accordion .tab_right_col .tab_menu .selected a {
        cursor: default; }
  .tab_to_accordion .tab-image {
    width: 100%;
    margin-top: 1em; }
    .tab_to_accordion .tab-image .lazy-image {
      position: relative;
      width: 100%; }
  .tab_to_accordion .tab_contents {
    display: block;
    padding: 0;
    border: 0; }
    .tab_to_accordion .tab_contents .decorator {
      display: none;
      visibility: hidden; }
    .tab_to_accordion .tab_contents .tab_pane {
      display: block;
      padding: 0;
      margin: 0;
      border: 0; }
      .tab_to_accordion .tab_contents .tab_pane:not(.current) {
        display: none;
        visibility: hidden; }
      .tab_to_accordion .tab_contents .tab_pane a {
        display: none;
        visibility: hidden; }
      .tab_to_accordion .tab_contents .tab_pane .tab-image {
        display: none;
        position: relative;
        visibility: hidden;
        width: 100%; }

@media screen and (max-width: 480px) {
  .tab_to_accordion {
    -webkit-box-sizing: content-box;
    /* Android ≤ 2.3, iOS ≤ 4 */
    -moz-box-sizing: content-box;
    /* Firefox 1+ */
    box-sizing: content-box;
    /* Chrome, IE 8+, Opera, Safari 5.1 */
    width: 100%; }
    .tab_to_accordion .tab_right_col {
      display: none;
      visibility: hidden; }
    .tab_to_accordion .tab_contents {
      margin: 0;
      -webkit-box-sizing: border-box;
      /* Android ≤ 2.3, iOS ≤ 4 */
      -moz-box-sizing: border-box;
      /* Firefox 1+ */
      box-sizing: border-box;
      /* Chrome, IE 8+, Opera, Safari 5.1 */ }
      .tab_to_accordion .tab_contents .decorator {
        display: block;
        position: relative;
        -webkit-box-sizing: border-box;
        /* Android ≤ 2.3, iOS ≤ 4 */
        -moz-box-sizing: border-box;
        /* Firefox 1+ */
        box-sizing: border-box;
        /* Chrome, IE 8+, Opera, Safari 5.1 */
        visibility: visible;
        width: 100%;
        padding: 0;
        height: 0;
        border-width: 1pt 0;
        border-style: groove;
        bottom: -1pt;
        z-index: 2; }
      .tab_to_accordion .tab_contents .tab_pane {
        -webkit-box-sizing: content-box;
        /* Android ≤ 2.3, iOS ≤ 4 */
        -moz-box-sizing: content-box;
        /* Firefox 1+ */
        box-sizing: content-box;
        /* Chrome, IE 8+, Opera, Safari 5.1 */ }
        .tab_to_accordion .tab_contents .tab_pane .accordion-button {
          display: block;
          -webkit-box-sizing: border-box;
          /* Android ≤ 2.3, iOS ≤ 4 */
          -moz-box-sizing: border-box;
          /* Firefox 1+ */
          box-sizing: border-box;
          /* Chrome, IE 8+, Opera, Safari 5.1 */
          visibility: visible;
          width: 100%;
          min-height: 3em;
          height: auto;
          text-align: center;
          margin: 0 auto;
          margin-bottom: -2pt;
          padding-bottom: 2pt;
          text-decoration: none;
          border: 1pt;
          border-bottom-width: 0;
          border-style: groove;
          float: none;
          overflow: hidden; }
          .tab_to_accordion .tab_contents .tab_pane .accordion-button a {
            display: block;
            visibility: visible;
            position: relative;
            line-height: 1.5em;
            -webkit-box-sizing: content-box;
            /* Android ≤ 2.3, iOS ≤ 4 */
            -moz-box-sizing: content-box;
            /* Firefox 1+ */
            box-sizing: content-box;
            /* Chrome, IE 8+, Opera, Safari 5.1 */
            width: 100%;
            height: 3em;
            margin: 0;
            padding: 0.15em 0; }
            .tab_to_accordion .tab_contents .tab_pane .accordion-button a div {
              display: inline-block;
              position: relative;
              float: left;
              text-align: center;
              width: 50%;
              height: auto;
              bottom: 0;
              padding: 0.15em 5%; }
            .tab_to_accordion .tab_contents .tab_pane .accordion-button a .accordion_icon {
              display: inline-block;
              position: relative;
              float: left;
              padding: 0;
              margin: 0.5em 0;
              width: 20%;
              height: 2em;
              background-position: center center;
              background-repeat: no-repeat;
              background-size: 1.7em 1.7em; }
          .tab_to_accordion .tab_contents .tab_pane .accordion-button .close {
            display: none; }
        .tab_to_accordion .tab_contents .tab_pane:not(.current) {
          display: block;
          visibility: visible; }
          .tab_to_accordion .tab_contents .tab_pane:not(.current) .open {
            display: block; }
        .tab_to_accordion .tab_contents .tab_pane .tab_page {
          display: inline-block;
          position: relative;
          -webkit-box-sizing: border-box;
          /* Android ≤ 2.3, iOS ≤ 4 */
          -moz-box-sizing: border-box;
          /* Firefox 1+ */
          box-sizing: border-box;
          /* Chrome, IE 8+, Opera, Safari 5.1 */
          width: 98%;
          border-width: 1pt;
          border-top-width: 0;
          border-style: groove;
          margin: 0 1%;
          margin-top: -0.6em; }
        .tab_to_accordion .tab_contents .tab_pane .content-box {
          padding-top: 0;
          margin-top: 0; }
          .tab_to_accordion .tab_contents .tab_pane .content-box .header {
            border: 0; }
            .tab_to_accordion .tab_contents .tab_pane .content-box .header h4 {
              border: 0; }
      .tab_to_accordion .tab_contents .current .accordion-button .open {
        display: none; }
      .tab_to_accordion .tab_contents .current .accordion-button .close {
        display: block;
        visibility: visible; }
      .tab_to_accordion .tab_contents .current .tab-image {
        display: block;
        visibility: visible;
        width: 96%;
        margin: auto; }

  #tab:target .current a:not(.close) {
    display: block; }
  #tab:target .current .close {
    display: none; }
  #tab:target .current .tab_page {
    display: none; } }
/* ---- COLLEGAMENTI AI TRASPORTI ----- */
.trasporti-links .content-box {
  display: inline-block; }
  .trasporti-links .content-box a {
    display: inline-block;
    position: relative;
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    text-decoration: none;
    -webkit-box-sizing: content-box;
    /* Android ≤ 2.3, iOS ≤ 4 */
    -moz-box-sizing: content-box;
    /* Firefox 1+ */
    box-sizing: content-box;
    /* Chrome, IE 8+, Opera, Safari 5.1 */ }
    .trasporti-links .content-box a .header .icon {
      display: table;
      position: relative;
      height: 2em;
      margin: 0.3em auto;
      padding: 0 auto;
      width: 80%;
      background-position: center;
      background-repeat: no-repeat;
      background-size: 2em auto; }
    .trasporti-links .content-box a p {
      text-decoration: none; }
      @media screen and (max-width: 480px) {
        .trasporti-links .content-box a p {
          -webkit-hyphens: auto;
          -moz-hyphens: auto;
          -ms-hyphens: auto;
          hyphens: auto; } }
    .trasporti-links .content-box a span {
      display: block;
      position: relative;
      width: 90%;
      margin: 0.3em auto;
      clear: both;
      text-decoration: underline;
      text-align: right; }

@media screen and (max-width: 768px) {
  .trasporti-links .content-box a .header h5 br {
    display: none; } }
  @media screen and (max-width: 768px) and (max-width: 200px) {
    .trasporti-links .content-box a .header h5 br {
      display: block; } }

@media screen and (max-width: 480px) {
  .trasporti-links .content-box {
    display: block;
    position: relative;
    height: 100%;
    padding: 0; }
    .trasporti-links .content-box a .header {
      min-height: 2em; }
      .trasporti-links .content-box a .header .icon {
        display: inline-block;
        float: left;
        width: 20%;
        height: 1.5em;
        margin: 0.25em auto;
        background-size: 1.5em 1.5em; }
      .trasporti-links .content-box a .header h5 {
        display: inline-block;
        float: left;
        position: relative;
        width: 60%;
        height: auto;
        bottom: 0;
        padding: 0;
        margin: 0;
        margin-right: 20%;
        padding: 0;
        text-align: center;
        text-wrap: avoid; }
    .trasporti-links .content-box a p {
      display: block;
      clear: right;
      width: 90%;
      margin: 0.5em 5%; } }
/* ----- MAPPA (google maps)----- */
#map-wrapper {
  display: block;
  width: 100%;
  height: 20em; }
  #map-wrapper #map-canvas {
    display: block;
    position: relative;
    height: 100%;
    width: 100%;
    background-size: 100% 100%;
    background-image: url("../img/mappa.png");
    background-repeat: no-repeat; }

@media screen and (max-width: 480px) {
  #map-wrapper {
    display: block;
    width: 80%;
    margin: auto 10%;
    height: 10em; } }
/* ----- FOOTER ---- */
.sticky-footer {
  position: relative;
  min-height: 100%;
  margin-bottom: -17em; }
  .sticky-footer:after {
    display: table;
    clear: both;
    content: "";
    height: 17em; }

#footer {
  display: inline-block;
  position: relative;
  z-index: 3;
  width: 100%;
  border: 0;
  border-top: 2pt;
  border-style: inset;
  bottom: 0;
  height: 17em;
  margin-bottom: 0; }
  #footer .section {
    margin: 0; }
  #footer a {
    z-index: 3; }
  #footer div p {
    text-align: center;
    color: inherit; }
  #footer span {
    width: fit-content;
    display: block;
    margin: auto 0.2em;
    color: inherit; }
  #footer:before {
    content: "";
    clear: both;
    display: table; }

@media screen and (max-width: 768px) {
  .sticky-footer {
    margin-bottom: -15em; }
    .sticky-footer:after {
      height: 15em; }

  #footer {
    margin-top: 0;
    height: auto; } }
/* ---- GALLERY ----- */
.gallery {
  overflow: hidden;
  position: relative; }
  .gallery .carousel {
    display: block;
    position: relative;
    -webkit-box-sizing: border-box;
    /* Android ≤ 2.3, iOS ≤ 4 */
    -moz-box-sizing: border-box;
    /* Firefox 1+ */
    box-sizing: border-box;
    /* Chrome, IE 8+, Opera, Safari 5.1 */
    width: 100%;
    height: auto;
    margin: 0 auto;
    overflow: hidden;
    background: none; }
    .gallery .carousel .panes {
      transition: left 0.8s ease-in-out 0s;
      -webkit-transition: left 0.8s ease-in-out 0s;
      display: block;
      position: relative;
      height: auto;
      width: 500%;
      list-style: none;
      padding: 0;
      margin: 0;
      overflow: hidden;
      z-index: 1; }
      .gallery .carousel .panes li {
        position: relative;
        padding: 0;
        float: left;
        margin: 0;
        width: 20%; }
        .gallery .carousel .panes li h5 {
          display: none;
          position: absolute;
          height: 1.2em;
          padding: 0.4em;
          font-size: 1.2em;
          line-height: 1.2em;
          width: 100%;
          margin: 0;
          top: 0;
          left: 0;
          text-align: center; }
        .gallery .carousel .panes li img {
          display: block;
          position: relative;
          width: 100%;
          height: auto;
          margin: 0 auto;
          z-index: -1; }
  .gallery .controls {
    display: block;
    position: absolute;
    top: 40%;
    font-size: 1.5em;
    width: 2em;
    height: 2em;
    border-radius: 50%;
    opacity: .5;
    cursor: pointer;
    z-index: 2; }
    .gallery .controls:hover {
      opacity: 1; }
    .gallery .controls label {
      display: none;
      position: relative;
      padding: 0;
      float: left;
      width: 100%;
      height: 100%;
      line-height: 1.8em;
      text-align: center;
      border-radius: 50%;
      cursor: pointer;
      color: inherit; }
  .gallery .left {
    left: 1%; }
  .gallery .right {
    right: 1%; }
  .gallery .bottom {
    display: block;
    position: absolute;
    bottom: 0;
    width: 100%;
    opacity: .7;
    z-index: 2; }
    .gallery .bottom:hover {
      opacity: 1; }
    .gallery .bottom .container {
      height: 1.2em;
      width: 12em;
      margin: 0.3em auto; }
    .gallery .bottom label {
      display: inline-block;
      -webkit-box-sizing: border-box;
      /* Android ≤ 2.3, iOS ≤ 4 */
      -moz-box-sizing: border-box;
      /* Firefox 1+ */
      box-sizing: border-box;
      /* Chrome, IE 8+, Opera, Safari 5.1 */
      width: 1.2em;
      height: 1.2em;
      cursor: pointer;
      margin: auto;
      margin-left: 1.5em;
      padding: 0;
      float: left;
      border-radius: 50%;
      border-width: 1pt;
      border-style: groove; }
      .gallery .bottom label:first-child {
        margin-left: 0; }
  .gallery input {
    display: none; }
  .gallery #img_1:checked ~ .carousel .panes {
    left: 0; }
  .gallery #img_2:checked ~ .carousel .panes {
    left: -100%; }
  .gallery #img_3:checked ~ .carousel .panes {
    left: -200%; }
  .gallery #img_4:checked ~ .carousel .panes {
    left: -300%; }
  .gallery #img_5:checked ~ .carousel .panes {
    left: -400%; }
  .gallery #img_1:checked ~ .controls .a, .gallery #img_2:checked ~ .controls .b, .gallery #img_3:checked ~ .controls .c, .gallery #img_4:checked ~ .controls .d, .gallery #img_5:checked ~ .controls .e {
    display: block; }
  .gallery #img_1:checked ~ .bottom .img_1, .gallery #img_2:checked ~ .bottom .img_2, .gallery #img_3:checked ~ .bottom .img_3, .gallery #img_4:checked ~ .bottom .img_4, .gallery #img_5:checked ~ .bottom .img_5 {
    background-color: #8DBF3F; }

/* ---- COLORI ----- */
body {
  background-color: #FFFFFF; }

@media screen and (max-width: 768px) {
  body {
    background-color: #8DBF3F; } }
.body-background {
  background: -webkit-linear-gradient(top, #8dbf3f, white);
  /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(bottom, #8dbf3f, white);
  /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(bottom, #8dbf3f, white);
  /* For Firefox 3.6 to 15 */
  background: linear-gradient(to bottom, #8dbf3f, white);
  /* Standard syntax */ }
  @media screen and (max-width: 768px) {
    .body-background {
      background: none;
      border-top: 1pt inset #8DBF3F; } }

.content-box-shadow {
  box-shadow: 1pt 1pt 5pt #030320; }
  @media screen and (max-width: 768px) {
    .content-box-shadow {
      box-shadow: 1pt 1pt 2pt #030320;
      overflow: hidden; } }

.color_green {
  background-color: #8DBF3F;
  color: #030320; }

.color_blue {
  background-color: #1C68AA;
  color: #FFFFFF; }

.color_white {
  background-color: #FFFFFF;
  color: #030320; }
  .color_white h1, .color_white h2, .color_white h3, .color_white h4, .color_white h5, .color_white h6 {
    color: #1C68AA; }

.color_hover:hover {
  color: #FFA01A; }

#page-header {
  background-color: #FFFFFF; }

#logo-text h4 {
  color: #1C68AA; }
#logo-text span {
  color: #1C68AA; }

.lang-menu a:not(.controls) span {
  color: #030320; }
.lang-menu a:not(.controls):not(.selected) span {
  color: #1C68AA; }
.lang-menu a:not(.controls):not(.selected):hover span {
  color: #FBB820; }

@media screen and (max-width: 768px) {
  .lang-menu .controls {
    border-color: #1C68AA; }
    .lang-menu .controls:hover img {
      border-color: #FFA01A; }
  .lang-menu #lang-menu a {
    border-color: #1C68AA; }
    .lang-menu #lang-menu a:not(.selected):hover img {
      border-color: #FFA01A; }
    .lang-menu #lang-menu a:not(.selected) {
      background-color: #FFFFFF; }
  .lang-menu #lang-menu .selected {
    background-color: #8DBF3F; }
    .lang-menu #lang-menu .selected span {
      color: #000000; }
  .lang-menu:target {
    clear: both;
    float: right;
    left: auto;
    height: auto; }
    .lang-menu:target #lang-open {
      display: none;
      position: absolute;
      left: -10000px; }
    .lang-menu:target #lang-close {
      display: block;
      position: relative;
      left: auto; }
    .lang-menu:target #lang-menu {
      left: 0;
      right: 0;
      height: auto; }

  .languageMobileVisible #lang-menu {
    left: 0;
    right: 0;
    height: auto; }
  .languageMobileVisible #lang-open {
    display: none; }
  .languageMobileVisible #lang-close {
    display: block;
    position: relative;
    left: auto; } }
.navigation {
  border-color: #1C68AA; }
  .navigation .selected {
    border-color: #8DBF3F; }

@media screen and (max-width: 768px) {
  .navigation {
    border-color: #1C68AA; }
    .navigation .wrapper .menu-link {
      background-color: rgba(28, 104, 170, 0.8);
      border-color: #1C68AA; }
      .navigation .wrapper .menu-link .icon {
        background-image: url("../img/icons/menu-white.png"); }
      .navigation .wrapper .menu-link:hover .icon {
        background-image: url("../img/icons/menu-hover.png"); }
    .navigation .wrapper ul {
      border-color: #030320; }
      .navigation .wrapper ul li {
        border-color: #1C68AA; }
        .navigation .wrapper ul li a {
          background-color: #FFFFFF;
          color: #327CCB; }
        .navigation .wrapper ul li:hover:not(.selected) a {
          color: #FFA01A; }
      .navigation .wrapper ul .selected a {
        background-color: #8DBF3F;
        color: #000000; } }
.breadcrumb .wrapper div {
  border-color: #f6eded; }

#main-image {
  background-color: #FFFFFF; }
  #main-image .image-mask {
    background-color: rgba(28, 104, 170, 0.9); }
    @media screen and (max-width: 480px) {
      #main-image .image-mask {
        background-color: #1C68AA; } }
    #main-image .image-mask a {
      color: #FFFFFF; }
      #main-image .image-mask a h5, #main-image .image-mask a p, #main-image .image-mask a span {
        color: inherit; }
      #main-image .image-mask a:hover h5, #main-image .image-mask a:hover span {
        color: #FFA01A; }

.tab_to_accordion .tab_right_col .tab_menu {
  background-color: #FFFFFF; }
  .tab_to_accordion .tab_right_col .tab_menu .menu-button .icon {
    background-image: url("../img/icons/arrow-right.png"); }
  .tab_to_accordion .tab_right_col .tab_menu .menu-button a {
    color: #1C68AA; }
  .tab_to_accordion .tab_right_col .tab_menu .menu-button:hover:not(.selected) .icon {
    background-image: url("../img/icons/arrow-right-hover.png"); }
  .tab_to_accordion .tab_right_col .tab_menu .menu-button:hover:not(.selected) a {
    color: #FFA01A; }
  .tab_to_accordion .tab_right_col .tab_menu .selected {
    background-color: #8DBF3F; }
    .tab_to_accordion .tab_right_col .tab_menu .selected .icon {
      background-image: url("../img/icons/arrow-right-white.png"); }
    .tab_to_accordion .tab_right_col .tab_menu .selected a {
      color: #FFFFFF; }
.tab_to_accordion .tab_contents .tab_pane .tab_page {
  box-shadow: 1pt 1pt 5pt #030320; }

@media screen and (max-width: 480px) {
  .tab_to_accordion .tab_contents .decorator {
    background-color: #1C68AA;
    border-color: #1C68AA; }
  .tab_to_accordion .tab_contents .tab_pane .accordion-button {
    background-color: #1C68AA;
    border-color: #1C68AA; }
    .tab_to_accordion .tab_contents .tab_pane .accordion-button a {
      color: #FFFFFF; }
      .tab_to_accordion .tab_contents .tab_pane .accordion-button a .accordion_icon {
        background-image: url("../img/icons/arrow-down-white.png"); }
      .tab_to_accordion .tab_contents .tab_pane .accordion-button a:hover {
        color: #FFA01A; }
        .tab_to_accordion .tab_contents .tab_pane .accordion-button a:hover .accordion_icon {
          background-image: url("../img/icons/arrow-down-hover.png"); }
  .tab_to_accordion .tab_contents .tab_pane .tab_page {
    border-color: #8DBF3F;
    box-shadow: 0pt 0pt 0pt #000000; }
  .tab_to_accordion .tab_contents .tab_pane .content-box {
    box-shadow: 0 0 0 none; }
    .tab_to_accordion .tab_contents .tab_pane .content-box .header {
      background-color: #FFFFFF; }
      .tab_to_accordion .tab_contents .tab_pane .content-box .header h4 {
        color: #1C68AA; }
  .tab_to_accordion .tab_contents .current .decorator {
    border-color: #8DBF3F;
    background-color: #8DBF3F; }
  .tab_to_accordion .tab_contents .current .accordion-button {
    background-color: rgba(28, 104, 170, 0.5); } }
.trasporti-links .content-box a span {
  color: #1C68AA; }
.trasporti-links .content-box a:hover .header {
  color: #FFA01A; }
.trasporti-links .content-box a:hover span {
  color: #FFA01A; }

#footer {
  border-color: #1C68AA; }

.gallery .carousel .panes li h5 {
  background-color: #1C68AA;
  color: #FFFFFF; }
.gallery .controls {
  background-color: #1C68AA;
  color: #FFFFFF; }
  .gallery .controls:hover {
    opacity: 1;
    color: #FFA01A; }
.gallery .bottom {
  background-color: #FFFFFF; }
  .gallery .bottom label {
    border-color: #030320;
    background-color: #1C68AA; }
    .gallery .bottom label:hover {
      background-color: #FFA01A; }
.gallery #img_1:checked ~ .bottom .img_1, .gallery #img_2:checked ~ .bottom .img_2, .gallery #img_3:checked ~ .bottom .img_3, .gallery #img_4:checked ~ .bottom .img_4, .gallery #img_5:checked ~ .bottom .img_5 {
  background-color: #8DBF3F; }

/* ---- ICONE DEI TRASPORTI ----- */
#truck .icon {
  background-image: url("../img/icons/icona-truck.png"); }
#truck:hover .icon {
  background-image: url("../img/icons/icona-truck-hover.png"); }

#train .icon {
  background-image: url("../img/icons/icona-train.png"); }
#train:hover .icon {
  background-image: url("../img/icons/icona-train-hover.png"); }

#ship .icon {
  background-image: url("../img/icons/icona-ship.png"); }
#ship:hover .icon {
  background-image: url("../img/icons/icona-ship-hover.png"); }

#airplane .icon {
  background-image: url("../img/icons/icona-plane.png"); }
#airplane:hover .icon {
  background-image: url("../img/icons/icona-plane-hover.png"); }

#combined .icon {
  background-image: url("../img/icons/icona-combined.png"); }
#combined:hover .icon {
  background-image: url("../img/icons/icona-combined-hover.png"); }

/* ----- IMMAGINI ----- */
@media screen and (min-width: 769px) {
  #main-image .lazy-image {
    background-image: url("../img/main-image.png"); }

  .carousel .panes .img_1 {
    background-image: url("../img/carousel/carousel-1.png"); }
  .carousel .panes .img_2 {
    background-image: url("../img/carousel/carousel-2.png"); }
  .carousel .panes .img_3 {
    background-image: url("../img/carousel/carousel-3.png"); }
  .carousel .panes .img_4 {
    background-image: url("../img/carousel/carousel-4.png"); }
  .carousel .panes .img_5 {
    background-image: url("../img/carousel/carousel-5.png"); } }
@media screen and (min-width: 481px) {
  #chi-siamo-image .lazy-image {
    background-image: url("../img/chisiamo.png"); }

  #cosa-facciamo-image .lazy-image {
    background-image: url("../img/cosa.png"); }

  #contatti-image .lazy-image {
    background-image: url("../img/ufficio.png"); }

  .tab_to_accordion #image-ferroviario {
    background-image: url("../img/768/treno.png"); }
  .tab_to_accordion #image-marittimo {
    background-image: url("../img/768/nave.png"); }
  .tab_to_accordion #image-aereo {
    background-image: url("../img/768/aereo.png"); }
  .tab_to_accordion #image-gomma {
    background-image: url("../img/768/camion.png"); }
  .tab_to_accordion #image-combinato {
    background-image: url("../img/768/combinato.png"); }

  .carousel .panes .img_1 {
    background-image: url("../img/carousel/768/carousel-1.png"); }
  .carousel .panes .img_2 {
    background-image: url("../img/carousel/768/carousel-2.png"); }
  .carousel .panes .img_3 {
    background-image: url("../img/carousel/768/carousel-3.png"); }
  .carousel .panes .img_4 {
    background-image: url("../img/carousel/768/carousel-4.png"); }
  .carousel .panes .img_5 {
    background-image: url("../img/carousel/768/carousel-5.png"); } }
@media screen and (min-width: 481px) and (max-width: 768px) {
  #main-image .lazy-image {
    background-image: url("../img/768/main-image.png"); } }
@media screen and (max-width: 480px) {
  #main-image .lazy-image {
    background-image: url("../img/480/main-image.png"); } }
@media screen and (min-width: 301px) and (max-width: 480px) {
  #main-image .lazy-image {
    background-image: url("../img/480/main-image.png"); }

  #chi-siamo-image .lazy-image {
    background-image: url("../img/480/chisiamo.png"); }

  #cosa-facciamo-image .lazy-image {
    background-image: url("../img/480/cosa.png"); }

  #contatti-image .lazy-image {
    background-image: url("../img/480/ufficio.png"); }

  .tab_to_accordion #image-ferroviario {
    background-image: url("../img/480/treno.png"); }
  .tab_to_accordion #image-marittimo {
    background-image: url("../img/480/nave.png"); }
  .tab_to_accordion #image-aereo {
    background-image: url("../img/480/aereo.png"); }
  .tab_to_accordion #image-gomma {
    background-image: url("../img/480/camion.png"); }
  .tab_to_accordion #image-combinato {
    background-image: url("../img/480/combinato.png"); } }
@media screen and (max-width: 300px) {
  #chi-siamo-image .lazy-image {
    background-image: url("../img/300/chisiamo.png"); }

  #cosa-facciamo-image .lazy-image {
    background-image: url("../img/300/cosa.png"); }

  #contatti-image .lazy-image {
    background-image: url("../img/300/ufficio.png"); }

  .tab_to_accordion #image-ferroviario {
    background-image: url("../img/300/treno.png"); }
  .tab_to_accordion #image-marittimo {
    background-image: url("../img/300/nave.png"); }
  .tab_to_accordion #image-aereo {
    background-image: url("../img/300/aereo.png"); }
  .tab_to_accordion #image-gomma {
    background-image: url("../img/300/camion.png"); }
  .tab_to_accordion #image-combinato {
    background-image: url("../img/300/combinato.png"); } }
/* ----- TESTI ----- */
html, body {
  font-size: 16px; }

h1, h2, h3, h4, h5, h6 {
  color: #1C68AA; }

#logo-text {
  font-family: 'Times New Roman', Boldoni; }
  #logo-text h4 {
    font-size: 2.2em; }
  #logo-text span {
    font-size: 1.2em;
    font-weight: bold; }
  @media screen and (max-width: 480px) {
    #logo-text h4 {
      font-size: 1em; }
    #logo-text span {
      font-size: 0.9em; } }
  @media screen and (max-width: 360px) {
    #logo-text span {
      font-size: 0.8em; } }
  @media screen and (max-width: 240px) {
    #logo-text h4 {
      font-size: 1em; }
    #logo-text span {
      font-size: 0.6em; } }
  @media screen and (max-width: 160px) {
    #logo-text h4 {
      font-size: 0.9em; }
    #logo-text span {
      font-size: 0.5em; } }

.content-box .header h4 {
  font-size: 1.2em; }
.content-box h1, .content-box h2, .content-box h3, .content-box h4, .content-box h5, .content-box h6 {
  font-family: 'Times New Roman', Boldoni;
  margin: 0.6em 0.5em; }
.content-box h6 {
  line-height: 2em;
  font-size: 1em; }
.content-box p {
  font-family: Arial, Verdana;
  line-height: 1.5em;
  margin: 0.6em 0.5em; }
@media screen and (max-width: 768px) {
  .content-box .header h4 {
    line-height: 1.2em;
    font-size: 1.1em; }
  .content-box h6 {
    margin-top: 0.8em;
    margin-bottom: 0.4em;
    font-size: 0.9em;
    line-height: 1.2em; }
  .content-box p {
    font-size: 0.8em;
    line-height: 1.2em; } }

@media screen and (max-width: 768px) {
  .breadcrumb {
    font-size: 1em; } }
@media screen and (max-width: 480px) {
  .breadcrumb {
    font-size: 0.8em; } }

#sol-trasporti, #links-trasporti {
  zoom: 1; }
  #sol-trasporti .content-box .header h1, #sol-trasporti .content-box .header h2, #sol-trasporti .content-box .header h3, #sol-trasporti .content-box .header h4, #sol-trasporti .content-box .header h5, #sol-trasporti .content-box .header h6, #links-trasporti .content-box .header h1, #links-trasporti .content-box .header h2, #links-trasporti .content-box .header h3, #links-trasporti .content-box .header h4, #links-trasporti .content-box .header h5, #links-trasporti .content-box .header h6 {
    font-size: 1.2em; }
  #sol-trasporti .content-box span, #links-trasporti .content-box span {
    font-size: 1em; }
  @media screen and (max-width: 768px) {
    #sol-trasporti .content-box, #links-trasporti .content-box {
      font-size: 0.9em; }
      #sol-trasporti .content-box .header h1, #sol-trasporti .content-box .header h2, #sol-trasporti .content-box .header h3, #sol-trasporti .content-box .header h4, #sol-trasporti .content-box .header h5, #sol-trasporti .content-box .header h6, #links-trasporti .content-box .header h1, #links-trasporti .content-box .header h2, #links-trasporti .content-box .header h3, #links-trasporti .content-box .header h4, #links-trasporti .content-box .header h5, #links-trasporti .content-box .header h6 {
        font-size: 1em; } }
  @media screen and (max-width: 600px) {
    #sol-trasporti .content-box, #links-trasporti .content-box {
      font-size: 0.8em; }
      #sol-trasporti .content-box .header h1, #sol-trasporti .content-box .header h2, #sol-trasporti .content-box .header h3, #sol-trasporti .content-box .header h4, #sol-trasporti .content-box .header h5, #sol-trasporti .content-box .header h6, #links-trasporti .content-box .header h1, #links-trasporti .content-box .header h2, #links-trasporti .content-box .header h3, #links-trasporti .content-box .header h4, #links-trasporti .content-box .header h5, #links-trasporti .content-box .header h6 {
        font-size: 1em; }
      #sol-trasporti .content-box span, #links-trasporti .content-box span {
        font-size: 0.8em; } }

#navigation, .lang-menu {
  font-family: Arial, Verdana;
  font-size: 1.2em; }

@media screen and (max-width: 768px) {
  #navigation ul li, .lang-menu ul li {
    font-size: 0.9em; } }
@media screen and (max-width: 320px) {
  #navigation ul li, .lang-menu ul li {
    font-size: 0.6em; } }
@media screen and (max-width: 150px) {
  #navigation ul li, .lang-menu ul li {
    font-size: 0.5em; } }

#main-image .image-mask h5 {
  font-family: 'Times New Roman', Boldoni;
  line-height: 1.2em;
  font-size: 1.5em; }
#main-image .image-mask p {
  font-family: Arial, Verdana;
  font-size: 1em; }
#main-image .image-mask span {
  font-family: 'Times New Roman', Boldoni;
  font-size: 1.2em; }
@media screen and (max-width: 768px) {
  #main-image .image-mask h5 {
    font-size: 1.2em;
    line-height: 1.2em; }
  #main-image .image-mask p {
    font-size: 0.9em; }
  #main-image .image-mask span {
    font-size: 1em; } }
@media screen and (max-width: 480px) {
  #main-image .image-mask h5 {
    font-size: 0.9em;
    line-height: 1em; }
  #main-image .image-mask p {
    font-size: 0.7em; }
  #main-image .image-mask span {
    font-size: 0.8em; } }

#tab .tab_menu a {
  font-size: 1.2em; }
  @media screen and (max-width: 768px) {
    #tab .tab_menu a {
      font-size: 1em; } }
@media screen and (max-width: 480px) {
  #tab a {
    font-size: 0.9em; } }

.carousel h2 {
  font-size: 1.2em; }
  @media screen and (max-width: 600px) {
    .carousel h2 {
      font-size: 0.7em; } }

#footer {
  font-family: Arial, Verdana; }
  @media screen and (max-width: 600px) {
    #footer {
      font-size: 0.9em; } }
