@charset "CP850";
/* 
    Created on : 21-mar-2014, 22.42.51
    Author     : Lorenzo Di Giuseppe
*/
.gallery {
  overflow: hidden;
  position: relative; }
  .gallery .carousel {
    display: block;
    position: relative;
    -webkit-box-sizing: border-box;
    /* Android ≤ 2.3, iOS ≤ 4 */
    -moz-box-sizing: border-box;
    /* Firefox 1+ */
    box-sizing: border-box;
    /* Chrome, IE 8+, Opera, Safari 5.1 */
    width: 100%;
    height: auto;
    margin: 0 auto;
    overflow: hidden;
    background: none; }
    .gallery .carousel .panes {
      transition: left 0.8s ease-in-out 0s;
      -webkit-transition: left 0.8s ease-in-out 0s;
      display: block;
      position: relative;
      height: auto;
      width: 500%;
      list-style: none;
      padding: 0;
      margin: 0;
      overflow: hidden;
      z-index: 1; }
      .gallery .carousel .panes li {
        position: relative;
        padding: 0;
        float: left;
        margin: 0;
        width: 20%; }
        .gallery .carousel .panes li h5 {
          display: none;
          position: absolute;
          height: 1.2em;
          padding: 0.4em;
          font-size: 1.2em;
          line-height: 1.2em;
          width: 100%;
          margin: 0;
          top: 0;
          left: 0;
          background-color: #1C68AA;
          color: #FFFFFF;
          text-align: center; }
        .gallery .carousel .panes li img {
          display: block;
          position: relative;
          width: 100%;
          height: auto;
          margin: 0 auto;
          z-index: -1; }
  .gallery .controls {
    display: block;
    position: absolute;
    top: 40%;
    font-size: 1.5em;
    width: 2em;
    height: 2em;
    border-radius: 50%;
    background-color: #1C68AA;
    opacity: .5;
    cursor: pointer;
    color: #FFFFFF;
    z-index: 2; }
    .gallery .controls:hover {
      opacity: 1;
      color: #FFA01A; }
    .gallery .controls label {
      display: none;
      position: relative;
      padding: 0;
      float: left;
      width: 100%;
      height: 100%;
      line-height: 1.8em;
      text-align: center;
      border-radius: 50%;
      cursor: pointer;
      color: inherit; }
  .gallery .left {
    left: 1%; }
  .gallery .right {
    right: 1%; }
  .gallery .bottom {
    display: block;
    position: absolute;
    bottom: 0;
    background-color: #FFFFFF;
    width: 100%;
    opacity: .7;
    z-index: 2; }
    .gallery .bottom:hover {
      opacity: 1; }
    .gallery .bottom .container {
      height: 1.2em;
      width: 12em;
      margin: 0.3em auto; }
    .gallery .bottom label {
      display: inline-block;
      -webkit-box-sizing: border-box;
      /* Android ≤ 2.3, iOS ≤ 4 */
      -moz-box-sizing: border-box;
      /* Firefox 1+ */
      box-sizing: border-box;
      /* Chrome, IE 8+, Opera, Safari 5.1 */
      width: 1.2em;
      height: 1.2em;
      cursor: pointer;
      margin: auto;
      margin-left: 1.5em;
      padding: 0;
      float: left;
      border-radius: 50%;
      border-width: 1pt;
      border-color: #030320;
      border-style: groove;
      background-color: #1C68AA; }
      .gallery .bottom label:first-child {
        margin-left: 0; }
      .gallery .bottom label:hover {
        background-color: #FFA01A; }
  .gallery input {
    display: none; }
  .gallery #img_1:checked ~ .carousel .panes {
    left: 0; }
  .gallery #img_2:checked ~ .carousel .panes {
    left: -100%; }
  .gallery #img_3:checked ~ .carousel .panes {
    left: -200%; }
  .gallery #img_4:checked ~ .carousel .panes {
    left: -300%; }
  .gallery #img_5:checked ~ .carousel .panes {
    left: -400%; }
  .gallery #img_1:checked ~ .controls .a, .gallery #img_2:checked ~ .controls .b, .gallery #img_3:checked ~ .controls .c, .gallery #img_4:checked ~ .controls .d, .gallery #img_5:checked ~ .controls .e {
    display: block;
    /*        pointer-events: none;*/ }
  .gallery #img_1:checked ~ .bottom .img_1, .gallery #img_2:checked ~ .bottom .img_2, .gallery #img_3:checked ~ .bottom .img_3, .gallery #img_4:checked ~ .bottom .img_4, .gallery #img_5:checked ~ .bottom .img_5 {
    background-color: #8DBF3F; }
