/* 
    Created on : 13-mar-2014, 18.28.32
    Author     : Lorenzo Di Giuseppe
*/
.column {
  float: left;
  margin: 0 0 0 1.6%; }
  .column:first-child {
    margin-left: 0; }

.column-right {
  float: right;
  margin: 0 1.6% 0 0; }
  .column-right:first-child {
    margin-right: 0; }

.column, .column-right {
  display: block;
  font-size: inherit; }
  .column .col_1_5, .column .col_2_5, .column .col_3_5, .column .col_4_5, .column .col_5_5, .column-right .col_1_5, .column-right .col_2_5, .column-right .col_3_5, .column-right .col_4_5, .column-right .col_5_5 {
    margin-top: 1em; }
    .column .col_1_5:first-child, .column .col_2_5:first-child, .column .col_3_5:first-child, .column .col_4_5:first-child, .column .col_5_5:first-child, .column-right .col_1_5:first-child, .column-right .col_2_5:first-child, .column-right .col_3_5:first-child, .column-right .col_4_5:first-child, .column-right .col_5_5:first-child {
      margin-top: 0; }

@media only screen and (max-width: 480px) {
  .column {
    margin: 0.5em 0 0 0; }
    .column:first-child {
      margin: 0; }

  .column-right {
    margin: 0 0 0.5em 0; }
    .column-right:first-child {
      margin: 0; }

  .column .col_1_5, .column .col_2_5, .column .col_3_5, .column .col_4_5, .column .col_5_5, .column-right .col_1_5, .column-right .col_2_5, .column-right .col_3_5, .column-right .col_4_5, .column-right .col_5_5 {
    font-size: inherit;
    margin-top: 0.7em; }
    .column .col_1_5:first-child, .column .col_2_5:first-child, .column .col_3_5:first-child, .column .col_4_5:first-child, .column .col_5_5:first-child, .column-right .col_1_5:first-child, .column-right .col_2_5:first-child, .column-right .col_3_5:first-child, .column-right .col_4_5:first-child, .column-right .col_5_5:first-child {
      margin-top: 0; } }
.section {
  font-size: inherit;
  clear: both;
  padding: 0px;
  margin: 0px;
  margin-bottom: 1.6em; }
  .section:first-child {
    margin-top: 1.6em; }

.group:before,
.group:after {
  content: "";
  display: table; }

.group:after {
  clear: both; }

.group {
  font-size: inherit;
  zoom: 1;
  /* Per IE 7 */ }
  .group:before, .group:after {
    content: "";
    display: table; }
  .group:after {
    clear: both; }

.col_1_5, .col_1_5_to_2_4 {
  width: 18.72%; }

.col_2_5 {
  width: 39.04%; }

.col_3_5 {
  width: 59.36%; }

.col_4_5 {
  width: 79.68%; }

.col_5_5 {
  width: 100%; }

.grid-brake {
  display: none;
  height: 0;
  clear: both;
  float: left;
  width: 100%;
  margin-top: 0.5em; }

@media screen and (max-width: 768px) {
  .col_1_5_to_2_4 {
    width: 49.2%; }
    .col_1_5_to_2_4:nth-of-type(1), .col_1_5_to_2_4:nth-of-type(3), .col_1_5_to_2_4:nth-of-type(5) {
      margin-left: 0; }
    .col_1_5_to_2_4:nth-of-type(2), .col_1_5_to_2_4:nth-of-type(4), .col_1_5_to_2_4:nth-of-type(6) {
      float: right;
      margin-right: 0; }

  .section {
    clear: both;
    padding: 0px;
    margin-bottom: 0.7em; }
    .section:first-child {
      margin-top: 0.7em; }
    .section .grid-brake {
      display: block; } }
@media screen and (max-width: 480px) {
  .col_1_5_to_2_4 {
    margin-top: 0.5em; }
    .col_1_5_to_2_4:nth-of-type(1), .col_1_5_to_2_4:nth-of-type(3), .col_1_5_to_2_4:nth-of-type(5) {
      margin-left: 0; }

  .section .grid-brake {
    display: none; }

  .col_1_5, .col_2_5, .col_3_5, .col_4_5, .col_5_5, .col_1_5_to_2_4 {
    width: 100%; } }
