/* 
    Created on : 16-feb-2014, 8.08.33
    Author     : Lorenzo Di Giuseppe <lorenzo.digiuseppe88@gmail.com>
*/
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/loki\/NetBeansProjects\/FB\/public_html\/sass\/left_menu\.scss}line{font-family:\000036}}
#bottom_bar {
  height: 2em;
  width: 100%; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/loki\/NetBeansProjects\/FB\/public_html\/sass\/left_menu\.scss}line{font-family:\0000312}}
#left-menu:target {
  left: 0; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/loki\/NetBeansProjects\/FB\/public_html\/sass\/left_menu\.scss}line{font-family:\0000317}}
  #left-menu:target .open {
    display: none; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/loki\/NetBeansProjects\/FB\/public_html\/sass\/left_menu\.scss}line{font-family:\0000321}}
  #left-menu:target .close {
    display: block; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/loki\/NetBeansProjects\/FB\/public_html\/sass\/left_menu\.scss}line{font-family:\0000327}}
.left_menu {
  z-index: 4;
  display: block;
  position: relative;
  padding: 0;
  border-style: outset;
  border-color: #F2E9C2;
  color: #666666;
  margin-bottom: 0.4em; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/loki\/NetBeansProjects\/FB\/public_html\/sass\/left_menu\.scss}line{font-family:\0000337}}
  .left_menu .open, .left_menu .close {
    display: none; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/loki\/NetBeansProjects\/FB\/public_html\/sass\/left_menu\.scss}line{font-family:\0000341}}
  .left_menu .title {
    height: 2.4em;
    margin: 0;
    padding: 0.2em 0;
    width: 100%; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/loki\/NetBeansProjects\/FB\/public_html\/sass\/left_menu\.scss}line{font-family:\0000347}}
    .left_menu .title h5 {
      display: block;
      position: relative;
      height: 2em;
      width: 100%;
      padding: 0.2em 0;
      margin: 0;
      text-align: center;
      background-color: #FFFFFF; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/loki\/NetBeansProjects\/FB\/public_html\/sass\/left_menu\.scss}line{font-family:\0000359}}
  .left_menu a {
    text-decoration: none; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/loki\/NetBeansProjects\/FB\/public_html\/sass\/left_menu\.scss}line{font-family:\0000363}}
  .left_menu ul {
    display: table;
    position: relative;
    list-style: none;
    margin: 0;
    padding: 0; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/loki\/NetBeansProjects\/FB\/public_html\/sass\/left_menu\.scss}line{font-family:\0000370}}
    .left_menu ul li {
      display: block;
      position: relative;
      float: left;
      height: 2.4em;
      padding: 0;
      width: 90%;
      margin: 0 5%;
      border-top: 1pt;
      border-color: #4C99D4; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/loki\/NetBeansProjects\/FB\/public_html\/sass\/left_menu\.scss}line{font-family:\0000381}}
      .left_menu ul li a {
        display: block;
        position: relative;
        height: 2em;
        padding: 0.2em 0;
        width: 100%;
        color: inherit; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/loki\/NetBeansProjects\/FB\/public_html\/sass\/left_menu\.scss}line{font-family:\0000392}}
      .left_menu ul li:hover a {
        text-decoration: underline; }

@media only screen and (max-width: 480px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/loki\/NetBeansProjects\/FB\/public_html\/sass\/left_menu\.scss}line{font-family:\00003103}}
  #left-menu:target {
    left: 50%;
    right: 0;
    bottom: 0;
    margin-bottom: 0; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/loki\/NetBeansProjects\/FB\/public_html\/sass\/left_menu\.scss}line{font-family:\00003108}}
    #left-menu:target .open {
      display: none; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/loki\/NetBeansProjects\/FB\/public_html\/sass\/left_menu\.scss}line{font-family:\00003111}}
    #left-menu:target .close {
      display: block;
      right: 50%; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/loki\/NetBeansProjects\/FB\/public_html\/sass\/left_menu\.scss}line{font-family:\00003117}}
  #left-menu {
    right: -100%; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/loki\/NetBeansProjects\/FB\/public_html\/sass\/left_menu\.scss}line{font-family:\00003122}}
  .left_menu {
    z-index: 4;
    display: block;
    position: fixed;
    padding: 0;
    width: 50%;
    border-style: solid;
    border-left: 0;
    border-right: 0;
    border-top-width: 1pt;
    border-bottom-width: 1pt;
    border-color: #664245; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/loki\/NetBeansProjects\/FB\/public_html\/sass\/left_menu\.scss}line{font-family:\00003135}}
    .left_menu .open, .left_menu .close {
      display: block;
      position: fixed;
      float: right;
      width: 2em;
      height: 2em;
      background-color: #666666;
      right: 0;
      bottom: 0em;
      cursor: pointer;
      background-image: url("../img/menu-white.png");
      background-repeat: no-repeat;
      background-position: right center;
      background-size: 2em; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/loki\/NetBeansProjects\/FB\/public_html\/sass\/left_menu\.scss}line{font-family:\00003149}}
      .left_menu .open:hover, .left_menu .close:hover {
        opacity: .9; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/loki\/NetBeansProjects\/FB\/public_html\/sass\/left_menu\.scss}line{font-family:\00003156}}
    .left_menu .close {
      display: none; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/loki\/NetBeansProjects\/FB\/public_html\/sass\/left_menu\.scss}line{font-family:\00003160}}
    .left_menu .title {
      height: 2.4em;
      margin: 0;
      padding: 0.2em 0;
      width: 100%;
      background-color: #F2E9C2; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/loki\/NetBeansProjects\/FB\/public_html\/sass\/left_menu\.scss}line{font-family:\00003167}}
      .left_menu .title h5 {
        display: block;
        position: relative;
        height: 2em;
        width: 100%;
        padding: 0.2em 0;
        margin: 0;
        text-align: center;
        background-color: #FFFFFF; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/loki\/NetBeansProjects\/FB\/public_html\/sass\/left_menu\.scss}line{font-family:\00003179}}
    .left_menu a {
      text-decoration: none; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/loki\/NetBeansProjects\/FB\/public_html\/sass\/left_menu\.scss}line{font-family:\00003183}}
    .left_menu ul {
      display: table;
      position: relative;
      list-style: none;
      margin: 0;
      padding: 0; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/loki\/NetBeansProjects\/FB\/public_html\/sass\/left_menu\.scss}line{font-family:\00003190}}
      .left_menu ul li {
        display: block;
        position: relative;
        float: left;
        height: 2.4em;
        padding: 0;
        border-top: 1pt;
        border-color: #4C99D4;
        background-color: #666666;
        color: #FFFFFF; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/loki\/NetBeansProjects\/FB\/public_html\/sass\/left_menu\.scss}line{font-family:\00003201}}
        .left_menu ul li a {
          display: block;
          position: relative;
          height: 2em;
          padding: 0.2em 0;
          width: 100%;
          color: inherit; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/loki\/NetBeansProjects\/FB\/public_html\/sass\/left_menu\.scss}line{font-family:\00003212}}
        .left_menu ul li:hover a {
          color: #FFFFFF;
          text-decoration: underline; } }
