/* 
    Created on : 9-feb-2014, 18.15.20
    Author     : Lorenzo Di Giuseppe <lorenzo.digiuseppe88@gmail.com>
*/
@media only screen and (max-width: 900px) {
  html {
    overflow-y: hidden;
    width: 100%;
    height: 100%; }

  body {
    overflow-y: auto;
    overflow-x: hidden; } }
#page-header {
  background-color: #FFFFFF;
  padding-bottom: 0;
  width: 100%;
  margin: 0;
  border: 0; }
  #page-header #logo {
    display: block;
    position: relative;
    height: 4em;
    padding: 0;
    border: 0; }
    #page-header #logo #logo-img {
      display: inline-block;
      position: relative;
      float: left;
      height: 100%;
      max-width: 40%;
      margin: auto 5%;
      margin-left: 0; }
      #page-header #logo #logo-img a {
        z-index: 2;
        display: block;
        width: 100%;
        height: 100%;
        float: left;
        position: relative; }
        #page-header #logo #logo-img a img {
          display: block;
          position: relative;
          height: 100%;
          float: left;
          margin: auto 0; }
    #page-header #logo #logo-text {
      display: block;
      position: relative;
      padding: 0;
      margin-left: 1.6%;
      width: 50%;
      float: left; }
      #page-header #logo #logo-text h4 {
        display: block;
        position: relative;
        padding: 0;
        width: 100%;
        margin: 0;
        margin-bottom: 0.1em; }
      #page-header #logo #logo-text h6 {
        display: block;
        max-width: 100%;
        margin: 0;
        padding: 0; }
  #page-header #breadcrumb {
    display: block;
    position: absolute;
    left: -10000px;
    height: 0;
    padding: 0.2em 0;
    line-height: 2em; }

.inverse {
  float: right; }

@media only screen and (max-width: 600px) {
  #page-header #logo {
    clear: both;
    height: auto; }
    #page-header #logo #logo-img {
      width: 30%;
      max-width: 30%;
      height: auto;
      margin: auto 0;
      float: left; }
      #page-header #logo #logo-img a {
        margin: auto; }
        #page-header #logo #logo-img a img {
          float: none;
          height: auto;
          width: 100%;
          margin: 0 auto; }
    #page-header #logo #logo-text {
      width: 66%;
      float: left;
      margin: auto 2%;
      text-align: left; }
      #page-header #logo #logo-text h4, #page-header #logo #logo-text h6 {
        text-align: left; } }
.img {
  display: block;
  position: relative;
  width: 100%;
  top: 0;
  height: auto;
  margin: auto; }

.lang-menu {
  display: inline-block;
  position: relative;
  height: auto; }
  .lang-menu .decorator {
    display: none;
    visibility: hidden; }
  .lang-menu #lang-menu {
    position: relative;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    border: 0; }
  .lang-menu .controls {
    display: none;
    position: absolute;
    left: -10000px;
    visibility: hidden; }
  .lang-menu .selected {
    cursor: default; }
    .lang-menu .selected span {
      text-decoration: underline; }
  .lang-menu a:not(.controls) {
    display: block;
    position: relative;
    width: 50%;
    height: 2em;
    padding: 0;
    margin: 0.5em 0;
    float: left; }
    .lang-menu a:not(.controls) img {
      display: block;
      float: left;
      height: 1.5em;
      margin: 0.25em 0.2em;
      margin: auto 0;
      vertical-align: middle; }
    .lang-menu a:not(.controls) span {
      display: block;
      width: 40%;
      height: 1.5em;
      margin: auto 0.2em;
      padding: 0.25em auto;
      line-height: 1.5em;
      float: left;
      color: #000000; }
    .lang-menu a:not(.controls):not(.selected) span {
      color: #1C68AA; }
    .lang-menu a:not(.controls):not(.selected):hover span {
      color: #FBB820; }

@media only screen and (max-width: 600px) {
  .lang-menu {
    display: block;
    position: relative;
    right: 0;
    left: 79%;
    width: 21%;
    margin: 0;
    margin-left: -0.1em;
    height: 0;
    border: 0;
    bottom: -0.4em;
    margin-bottom: 0.4em;
    z-index: 3; }
    .lang-menu .controls {
      clear: both;
      font-size: inherit;
      visibility: visible;
      display: block;
      position: relative;
      left: 0;
      width: 100%;
      height: 2.2em;
      padding: 0.1em -0.5em;
      border: 0;
      background-color: rgba(28, 104, 170, 0.9);
      border-left-width: 0.1em;
      border-left-style: groove;
      border-top-width: 0.1em;
      border-top-style: outset;
      border-color: #1C68AA; }
      .lang-menu .controls img {
        display: block;
        position: relative;
        height: 100%;
        margin: 0 auto; }
    .lang-menu #lang-close {
      display: none;
      position: absolute;
      left: -10000px; }
    .lang-menu #lang-menu {
      display: block;
      left: -10000px;
      position: absolute;
      height: 0; }
      .lang-menu #lang-menu a {
        /*clear: both;*/
        display: block;
        position: relative;
        line-height: auto;
        width: 100%;
        border-color: #000000;
        border-width: 1pt;
        border-right: 0;
        border-bottom: 0;
        border-style: groove;
        border-color: #1C68AA;
        /*left: -0.1em;*/
        text-decoration: none;
        padding: 0.1em 0;
        margin: 0; }
        .lang-menu #lang-menu a:last-child {
          border-bottom-width: 1pt; }
        .lang-menu #lang-menu a span {
          display: block;
          position: relative;
          float: left;
          margin: 0;
          padding: 0;
          width: auto; }
        .lang-menu #lang-menu a img {
          float: left;
          height: 90%;
          margin: auto 5%; }
        .lang-menu #lang-menu a:not(.selected) {
          background-color: #FFFFFF; }
      .lang-menu #lang-menu .selected {
        background-color: #8DBF3F; }
        .lang-menu #lang-menu .selected span {
          color: #000000; }
    .lang-menu:target {
      clear: both;
      float: right;
      left: auto;
      right: 0;
      height: auto; }
      .lang-menu:target #lang-open {
        display: none;
        position: absolute;
        left: -10000px; }
      .lang-menu:target #lang-close {
        display: block;
        position: relative;
        left: -0.1em; }
      .lang-menu:target #lang-menu {
        left: auto;
        right: 0;
        height: auto;
        position: relative; }

  .languageMobileVisible #lang-menu {
    left: 0;
    position: relative;
    height: auto; }
  .languageMobileVisible #lang-open {
    display: none; }
  .languageMobileVisible #lang-close {
    display: block;
    position: relative;
    left: 0; } }
      @media only screen and (max-width: 600px) and (max-width: 280px) {
        .lang-menu #lang-menu a img {
          width: auto;
          height: 100%;
          margin-left: auto;
          margin-right: auto;
          float: none;
          padding: 0; }
        .lang-menu #lang-menu a span {
          display: none; } }
@media only screen and (min-width: 601px) and (max-width: 768px) {
  .lang-menu a:not(.controls) {
    float: none;
    width: 100%; } }
#main-image {
  margin-top: 1.2em;
  display: table;
  position: relative;
  height: fit-content;
  min-height: 15em;
  min-width: 100%;
  width: 100%;
  max-width: 100%; }
  #main-image img {
    display: table;
    top: 0;
    min-width: 100%;
    width: 100%;
    max-width: 100%;
    height: auto;
    margin: auto;
    left: 0; }
  #main-image .image-mask {
    position: absolute;
    width: 40%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 2;
    background-color: rgba(28, 104, 170, 0.9); }
    #main-image .image-mask a {
      display: inline-block;
      position: relative;
      width: 100%;
      height: 100%;
      max-height: 100%;
      z-index: 3;
      color: #FFFFFF;
      text-decoration: none; }
      #main-image .image-mask a:hover h5 {
        /*color: #FBB820;*/
        color: #FFA01A; }
      #main-image .image-mask a h5 {
        display: block;
        position: relative;
        text-align: center;
        /*text-decoration: underline;*/
        margin: 0.4em auto;
        padding: 0 0.4em; }
      #main-image .image-mask a p {
        display: inline-block;
        width: 90%;
        /*                font-size: 10pt;*/
        margin: 5% 5%;
        overflow: hidden;
        text-overflow: clip;
        height: 60%;
        color: #F0F0D8; }

@media only screen and (max-width: 768px) {
  #main-image .image-mask {
    width: 100%;
    height: 65%;
    top: 35%;
    bottom: 0; }
    #main-image .image-mask a h5 {
      margin: 0.2em auto; }
    #main-image .image-mask a p {
      text-align: center;
      margin: auto 2%; } }
@media only screen and (max-width: 480px) {
  #main-image {
    min-height: 0; }
    #main-image .image-mask {
      position: relative;
      height: auto; } }
.tab_to_accordion {
  margin-bottom: 2em;
  margin-top: 0.5em; }
  .tab_to_accordion .tab-image {
    display: block;
    position: relative; }
    .tab_to_accordion .tab-image img {
      display: block;
      position: relative;
      width: 100%; }
  .tab_to_accordion .tab_right_col {
    display: block;
    margin: 0;
    margin-top: 0.7em;
    padding: 0;
    border: 0;
    float: right; }
    .tab_to_accordion .tab_right_col .tab_menu {
      background-color: #FFFFFF;
      /*            border-width: 0.1em;
                  border-style: ridge;
                  border-color: #1C68AA;*/
      width: 100%;
      margin: 0;
      /*margin-left: -0.2em;*/
      padding: 0;
      /*            .header{
                      width: 70%;
                      left: 0;
                  }*/ }
      .tab_to_accordion .tab_right_col .tab_menu .menu-button {
        display: table;
        position: relative;
        padding: 0;
        right: 0;
        height: auto;
        width: 100%;
        /*                border-width: 1pt 0;
                        border-style: outset;
                        border-color: #1c8abc;
                        &:first-child{
                            border-top: none;
                        }
                        
                        &:last-child{
                            border-bottom: none;
                        }*/ }
        .tab_to_accordion .tab_right_col .tab_menu .menu-button .icon {
          display: block;
          float: left;
          height: 0.8em;
          width: 0.8em;
          background-repeat: no-repeat;
          background-image: url("../img/icons/arrow-right.png");
          background-size: 0.8em;
          margin: 0.35em 1%; }
        .tab_to_accordion .tab_right_col .tab_menu .menu-button a {
          display: block;
          float: left;
          /*width: 80%;*/
          padding: 0 5%;
          line-height: 1.5em;
          height: 1.5em;
          text-decoration: none;
          color: #1C68AA;
          /*                    @media screen and (max-width: 768px){
                                  height: 3em;
                              }*/ }
        .tab_to_accordion .tab_right_col .tab_menu .menu-button:hover:not(.selected) .icon {
          background-image: url("../img/icons/arrow-right-hover.png"); }
        .tab_to_accordion .tab_right_col .tab_menu .menu-button:hover:not(.selected) a {
          color: #FFA01A; }
      .tab_to_accordion .tab_right_col .tab_menu .selected {
        background-color: #8DBF3F;
        /*                border-color: #1C68AA;
                        border-style: inset;*/ }
        .tab_to_accordion .tab_right_col .tab_menu .selected .icon {
          background-image: url("../img/icons/arrow-right-white.png"); }
        .tab_to_accordion .tab_right_col .tab_menu .selected a {
          cursor: default;
          color: #FFFFFF; }
        .tab_to_accordion .tab_right_col .tab_menu .selected:hover a {
          /*color: #FFFFFF;*/ }
  .tab_to_accordion .tab-image {
    width: 100%;
    margin-top: 1em;
    margin-left: -0.15em; }
  .tab_to_accordion .tab_contents {
    display: block;
    margin: 0;
    margin-right: 1.6%;
    padding: 0;
    border: 0;
    float: right; }
    .tab_to_accordion .tab_contents .decorator {
      display: none;
      visibility: hidden; }
    .tab_to_accordion .tab_contents .tab_pane {
      display: block;
      padding: 0;
      margin: 0;
      border: 0; }
      .tab_to_accordion .tab_contents .tab_pane .tab_page {
        margin-top: 0.7em;
        box-shadow: 1pt 1pt 5pt #000000; }
      .tab_to_accordion .tab_contents .tab_pane:not(.current) {
        display: none;
        visibility: hidden; }
      .tab_to_accordion .tab_contents .tab_pane a {
        display: none;
        visibility: hidden; }
      .tab_to_accordion .tab_contents .tab_pane .tab-image {
        display: none;
        visibility: hidden;
        width: 100%; }

@media screen and (max-width: 600px) {
  .tab_to_accordion {
    margin-top: 1em;
    width: 98%;
    margin-left: 1%;
    margin-right: 1%; }
    .tab_to_accordion .tab_right_col {
      display: none;
      visibility: hidden; }
    .tab_to_accordion .tab_contents {
      margin: 0; }
      .tab_to_accordion .tab_contents .decorator {
        display: block;
        visibility: visible;
        width: 100%;
        margin: 0;
        padding: 0;
        height: 0.2em;
        background: -webkit-linear-gradient(top, white, #1c68aa);
        /* For Safari 5.1 to 6.0 */
        background: -o-linear-gradient(bottom, white, #1c68aa);
        /* For Opera 11.1 to 12.0 */
        background: -moz-linear-gradient(bottom, white, #1c68aa);
        /* For Firefox 3.6 to 15 */
        background: linear-gradient(to bottom, white, #1c68aa);
        /* Standard syntax */ }
      .tab_to_accordion .tab_contents .tab_pane .accordion-button {
        display: table;
        visibility: visible;
        width: 100%;
        height: 2.2em;
        line-height: 1.15em;
        text-align: center;
        padding: 0.15em 0;
        margin: 0 auto;
        margin-bottom: -0.2em;
        text-decoration: none;
        border: 0;
        border-top-width: 1pt;
        border-style: groove;
        border-color: #1C68AA;
        float: none; }
        .tab_to_accordion .tab_contents .tab_pane .accordion-button a {
          /*display: block;*/
          visibility: visible;
          position: relative;
          width: 100%;
          margin: auto 0;
          padding: 0;
          height: 2.2em; }
          .tab_to_accordion .tab_contents .tab_pane .accordion-button a div {
            display: inline-block;
            position: relative;
            float: left;
            text-align: left;
            width: 60%;
            height: 2.2em;
            bottom: 0;
            padding: 0.15em 5%; }
          .tab_to_accordion .tab_contents .tab_pane .accordion-button a .icon {
            display: inline-block;
            position: relative;
            float: left;
            padding: 0;
            margin: 0.60em 5%;
            width: 20%;
            height: 1em;
            background-position: center center;
            background-repeat: no-repeat;
            background-size: 1em 1em; }
          .tab_to_accordion .tab_contents .tab_pane .accordion-button a:hover {
            color: #FFA01A; }
            .tab_to_accordion .tab_contents .tab_pane .accordion-button a:hover .icon {
              background-image: url("../img/icons/icona-accordion-hover.png"); }
        .tab_to_accordion .tab_contents .tab_pane .accordion-button .close {
          color: #8DBF3F; }
          .tab_to_accordion .tab_contents .tab_pane .accordion-button .close .icon {
            background-image: url("../img/icons/icona-accordion-green.png"); }
        .tab_to_accordion .tab_contents .tab_pane .accordion-button .open .icon {
          background-image: url("../img/icons/icona-accordion-blue.png"); }
      .tab_to_accordion .tab_contents .tab_pane:not(.current) {
        display: block;
        visibility: visible; }
        .tab_to_accordion .tab_contents .tab_pane:not(.current) .open {
          display: block; }
      .tab_to_accordion .tab_contents .tab_pane .tab_page {
        display: inline-block;
        position: relative;
        width: 98%;
        border-width: 1pt;
        border-top-width: 0;
        border-style: groove;
        border-color: #8DBF3F;
        margin: 0 0.7%;
        margin-top: -0.7em;
        box-shadow: 0pt 0pt 0pt #000000; }
      .tab_to_accordion .tab_contents .tab_pane .content-box {
        padding-top: 0;
        margin-top: 0;
        box-shadow: 0 0 0 none; }
        .tab_to_accordion .tab_contents .tab_pane .content-box .header {
          background-color: #FFFFFF;
          border: 0; }
          .tab_to_accordion .tab_contents .tab_pane .content-box .header h4 {
            border: 0;
            color: #1C68AA; }
      .tab_to_accordion .tab_contents .current .decorator {
        background: -webkit-linear-gradient(top, #8dbf3f, white);
        /* For Safari 5.1 to 6.0 */
        background: -o-linear-gradient(bottom, #8dbf3f, white);
        /* For Opera 11.1 to 12.0 */
        background: -moz-linear-gradient(bottom, #8dbf3f, white);
        /* For Firefox 3.6 to 15 */
        background: linear-gradient(to bottom, #8dbf3f, white);
        /* Standard syntax */ }
      .tab_to_accordion .tab_contents .current .open {
        display: none; }
      .tab_to_accordion .tab_contents .current .close {
        display: block;
        visibility: visible; }
      .tab_to_accordion .tab_contents .current .tab-image {
        display: block;
        visibility: visible;
        width: 96%;
        margin: auto; }

  #tab:target .current a:not(.close) {
    display: block; }
  #tab:target .current .close {
    display: none; }
  #tab:target .current .tab_page {
    display: none; } }
#sol-trasporti {
  display: table;
  margin-top: 1em; }

.trasporti-links .content-box {
  display: block;
  position: relative;
  margin-top: 0;
  height: 100%;
  padding: 0; }
  .trasporti-links .content-box a {
    display: block;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    text-decoration: none; }
    .trasporti-links .content-box a:hover h5 {
      color: #FFA01A; }
    .trasporti-links .content-box a:hover span {
      color: #FFA01A; }
    .trasporti-links .content-box a .header {
      display: inline-block;
      min-height: 5em;
      height: 6em;
      max-height: 8em;
      margin: auto; }
      .trasporti-links .content-box a .header .icon {
        display: table;
        position: relative;
        /*margin: 0 auto;*/
        height: 2em;
        margin: 0.3em auto;
        padding: 0 auto;
        width: 80%;
        background-position: center;
        background-repeat: no-repeat;
        background-size: 2em auto; }
      .trasporti-links .content-box a .header h5 {
        margin: 0;
        padding: 0 10%;
        height: 3em;
        font-size: 0.8em;
        width: 80%; }
    .trasporti-links .content-box a p {
      color: #000000; }
      @media screen and (max-width: 600px) {
        .trasporti-links .content-box a p {
          -webkit-hyphens: auto;
          -moz-hyphens: auto;
          -ms-hyphens: auto;
          hyphens: auto; } }
    .trasporti-links .content-box a span {
      display: block;
      position: relative;
      width: 90%;
      margin: 0.3em auto;
      clear: both;
      color: #1C68AA;
      text-decoration: underline;
      text-align: right; }
  .trasporti-links .content-box #truck .icon {
    background-image: url("../img/icons/icona-truck.png"); }
  .trasporti-links .content-box #truck:hover .icon {
    background-image: url("../img/icons/icona-truck-hover.png"); }
  .trasporti-links .content-box #train .icon {
    background-image: url("../img/icons/icona-train.png"); }
  .trasporti-links .content-box #train:hover .icon {
    background-image: url("../img/icons/icona-train-hover.png"); }
  .trasporti-links .content-box #ship .icon {
    background-image: url("../img/icons/icona-ship.png"); }
  .trasporti-links .content-box #ship:hover .icon {
    background-image: url("../img/icons/icona-ship-hover.png"); }
  .trasporti-links .content-box #airplane .icon {
    background-image: url("../img/icons/icona-plane.png"); }
  .trasporti-links .content-box #airplane:hover .icon {
    background-image: url("../img/icons/icona-plane-hover.png"); }
  .trasporti-links .content-box #combined .icon {
    background-image: url("../img/icons/icona-combined.png"); }
  .trasporti-links .content-box #combined:hover .icon {
    background-image: url("../img/icons/icona-combined-hover.png"); }

@media only screen and (max-width: 600px) {
  #sol-trasporti {
    margin: 0.5em auto;
    margin-bottom: 0; }

  .trasporti-links .content-box {
    display: block;
    position: relative;
    margin: 0;
    height: 100%;
    padding: 0;
    /*            .decorator_bottom{
                    display: block;
                    position: relative;
                    margin: 0;
                    padding: 0;
                    bottom: 0;
                    top: auto;
                    background: none;
                    background: -webkit-linear-gradient(top, #FFFFFF , #8DBF3F);  For Safari 5.1 to 6.0 
                    background: -o-linear-gradient(bottom,  #FFFFFF , #8DBF3F);  For Opera 11.1 to 12.0 
                    background: -moz-linear-gradient(bottom,  #FFFFFF , #8DBF3F);  For Firefox 3.6 to 15 
                    background: linear-gradient(to bottom,  #FFFFFF , #8DBF3F);  Standard syntax 
                }*/
    /*            #truck{
                    .icon{
                        background-image: url('../img/icons/icona-truck-blue.png');
                    }
                }
    
                #train{
                    .icon{
                        background-image: url('../img/icons/icona-train-blue.png');
                    }
                }
    
                #ship{
                    .icon{
                        background-image: url('../img/icons/icona-ship-blue.png');
                    }
                }
    
                #airplane{
                    .icon{
                        background-image: url('../img/icons/icona-plane-blue.png');
                    }
                }
    
                #combined{
                    .icon{
                        background-image: url('../img/icons/icona-combined-blue.png');
                    }
                }*/ }
    .trasporti-links .content-box a {
      display: block;
      position: relative;
      margin: 0;
      padding: 0;
      width: 100%;
      height: 100%; }
      .trasporti-links .content-box a .header {
        display: block;
        min-height: 2em;
        max-height: auto;
        height: 2em;
        border: 0;
        margin-bottom: 0; }
        .trasporti-links .content-box a .header .icon {
          display: inline-block;
          float: left;
          width: 20%;
          height: 1.5em;
          margin: 0.25em auto;
          background-size: 1.5em 1.5em; }
        .trasporti-links .content-box a .header h5 {
          display: block;
          float: left;
          position: relative;
          width: 60%;
          height: 1.5em;
          bottom: 0;
          padding: 0;
          margin: 0;
          /*margin-top: 0.25em;*/
          margin-right: 20%;
          padding: 0;
          text-align: center;
          text-wrap: avoid; }
      .trasporti-links .content-box a p {
        display: block;
        clear: right;
        width: 90%;
        margin: 0.5em 5%; } }
.clear {
  display: block;
  height: border-box;
  clear: both; }

#map-canvas {
  display: inline-block;
  position: relative;
  width: 100%;
  height: 25em;
  background-size: 100% 100%;
  background-image: url("../img/map.png");
  background-repeat: no-repeat;
  z-index: 1; }

.page-img {
  background-color: #FFFFFF;
  margin-top: 0.7em;
  margin-bottom: 0.5em;
  float: left;
  height: fit-content; }

.content-box-shadow {
  box-shadow: 1pt 1pt 5pt #000000; }
  @media screen and (max-width: 600px) {
    .content-box-shadow {
      box-shadow: 0 0 0 #000000; } }

.content-box {
  background-color: #FFFFFF;
  color: #000000;
  margin-top: 0.7em;
  margin-bottom: 0.4em;
  padding-bottom: 0.5em;
  /*    &:not(:first-child){
          margin-top: 1em;
      }*/ }
  .content-box .decorator, .content-box .decorator-bottom, .content-box .decorator-header {
    display: none;
    visibility: hidden; }
  .content-box .header {
    clear: both;
    z-index: 2;
    display: inline-table;
    width: 100%;
    top: 0;
    margin: 0;
    padding: 0;
    background-color: #1C68AA; }
    .content-box .header h1, .content-box .header h2, .content-box .header h3, .content-box .header h4, .content-box .header h5, .content-box .header h6 {
      display: inline-block;
      position: relative;
      width: 80%;
      margin: 0.3em 0;
      padding: 0.2em 10%;
      height: auto;
      text-decoration: none;
      text-align: center;
      color: #F0F1F7; }
  .content-box h1, .content-box h2, .content-box h3, .content-box h4, .content-box h5, .content-box h6 {
    color: #1693A5; }
  .content-box p {
    display: block;
    clear: both; }

#map-wrapper {
  display: block;
  width: 100%;
  height: 20em; }
  #map-wrapper #map-canvas {
    display: block;
    position: relative;
    height: 100%;
    width: 100%;
    background-size: 100% 100%;
    background-image: url("../img/mappa.png");
    background-repeat: no-repeat; }

@media only screen and (max-width: 600px) {
  .content-box {
    padding-bottom: 0;
    /*        .header {
                background: none;
                margin-bottom: 0;
                border-bottom-width: 0.1em;
                border-bottom-style: solid;
                border-bottom-color: #8DBF3F;
                h1, h2, h3, h4, h5, h6 {
                    background: none;
                    color: #1C68AA;
                }
            }*/ }
    .content-box .decorator, .content-box .decorator-bottom, .content-box .decorator-header {
      display: block;
      visibility: visible;
      height: 0.3em;
      width: 100%; }
    .content-box .decorator {
      background: -webkit-linear-gradient(top, #8dbf3f, #1c68aa);
      background: -o-linear-gradient(bottom, #8dbf3f, #1c68aa);
      background: -moz-linear-gradient(bottom, #8dbf3f, #1c68aa);
      background: linear-gradient(to bottom, #8dbf3f, #1c68aa); }
    .content-box .decorator-bottom {
      background: -webkit-linear-gradient(top, white, #8dbf3f);
      background: -o-linear-gradient(bottom, white, #8dbf3f);
      background: -moz-linear-gradient(bottom, white, #8dbf3f);
      background: linear-gradient(to bottom, white, #8dbf3f); }
    .content-box .decorator-header {
      background: -webkit-linear-gradient(top, #1c68aa, white);
      background: -o-linear-gradient(bottom, #1c68aa, white);
      background: -moz-linear-gradient(bottom, #1c68aa, white);
      background: linear-gradient(to bottom, #1c68aa, white); }

  #map-wrapper {
    display: block;
    width: 70%;
    margin: auto 15%;
    height: 10em; } }
.infoWindow {
  position: relative;
  line-height: 1.35em;
  text-align: center;
  overflow: hidden;
  height: 8em;
  width: 20em; }
  @media only screen and (max-width: 600px) {
    .infoWindow {
      width: 11em;
      height: 11em; } }
  .infoWindow .header {
    display: block;
    position: absolute;
    background-color: #1C68AA;
    color: #FFFFFF;
    top: 0;
    width: 100%;
    height: 3em; }
    .infoWindow .header h4 {
      display: block;
      position: relative;
      width: 100%;
      height: 100%;
      line-height: 100%; }
  .infoWindow p {
    display: block;
    position: relative;
    top: 3em;
    height: 3em; }

.sticky-footer {
  position: relative;
  clear: both;
  min-height: 100%;
  margin: 0 auto -15.8em; }

.push {
  display: block;
  clear: both;
  height: 15.8em;
  z-index: -10; }

#footer {
  display: block;
  position: relative;
  z-index: 3;
  max-width: 100%;
  bottom: 0;
  margin-top: 1em;
  border: 0;
  border-top: 2pt;
  border-color: #1C68AA;
  border-style: inset;
  height: 16em;
  color: #FFFFFF;
  background-color: #1C68AA; }
  #footer a {
    z-index: 3;
    color: #FFFFFF; }
    #footer a:hover {
      /*color: #94BA65;*/
      color: #FFA01A; }
  #footer div p {
    text-align: center; }
  #footer span {
    width: fit-content;
    display: block;
    margin: auto 0.2em; }

@media only screen and (max-width: 600px) {
  .sticky-footer {
    margin: 0 auto 0; }

  .push {
    height: 0em; }

  #footer {
    margin-top: 0;
    overflow-x: hidden;
    height: 23em; } }
#links-trasporti {
  /*margin-top: -0.5em;*/ }
  #links-trasporti .decorator-bottom {
    background: -webkit-linear-gradient(top, #1c68aa, #8dbf3f);
    background: -o-linear-gradient(bottom, #1c68aa, #8dbf3f);
    background: -moz-linear-gradient(bottom, #1c68aa, #8dbf3f);
    background: linear-gradient(to bottom, #1c68aa, #8dbf3f); }

@keyframes carousel {
  0% {
    left: 0; }

  11% {
    left: 0; }

  12.5% {
    left: -100%; }

  23.5% {
    left: -100%; }

  25% {
    left: -200%; }

  36% {
    left: -200%; }

  37.5% {
    left: -300%; }

  48.5% {
    left: -300%; }

  50% {
    left: -400%; }

  61% {
    left: -400%; }

  62.5% {
    left: -300%; }

  73.5% {
    left: -300%; }

  75% {
    left: -200%; }

  86% {
    left: -200%; }

  87.5% {
    left: -100%; }

  98.5% {
    left: -100%; }

  100% {
    left: 0; } }

@-webkit-keyframes carousel {
  0% {
    left: 0; }

  11% {
    left: 0; }

  12.5% {
    left: -100%; }

  23.5% {
    left: -100%; }

  25% {
    left: -200%; }

  36% {
    left: -200%; }

  37.5% {
    left: -300%; }

  48.5% {
    left: -300%; }

  50% {
    left: -400%; }

  61% {
    left: -400%; }

  62.5% {
    left: -300%; }

  73.5% {
    left: -300%; }

  75% {
    left: -200%; }

  86% {
    left: -200%; }

  87.5% {
    left: -100%; }

  98.5% {
    left: -100%; }

  100% {
    left: 0; } }

.carousel {
  overflow: hidden;
  width: 100%;
  margin-top: 0.2em;
  margin-bottom: 0;
  padding: 0; }
  .carousel .panes {
    list-style: none;
    position: relative;
    width: 500%;
    /* Number of panes * 100% */
    height: 20em;
    padding: 0;
    overflow: hidden;
    /* This is used solely to clear floats, it does not add functionality. */
    -moz-animation: carousel 45s infinite;
    -webkit-animation: carousel 45s infinite;
    animation: carousel 45s infinite; }
    @media screen and (max-width: 767px) {
      .carousel .panes {
        height: 12em; } }
    @media screen and (max-width: 480px) {
      .carousel .panes {
        height: 7em; } }
    .carousel .panes li {
      margin: 0;
      padding: 0;
      position: relative;
      float: left;
      width: 20%;
      /* 100 / number of panes */ }
      .carousel .panes li a {
        display: block;
        width: 100%;
        height: 100%;
        color: #FFFFFF;
        overflow: hidden; }
        .carousel .panes li a:hover h2 {
          color: #FFA01A; }
        .carousel .panes li a img {
          display: block;
          position: relative;
          width: 100%;
          max-width: 100%;
          max-height: 100%;
          margin: 0 auto; }
        .carousel .panes li a h2 {
          padding: 0.5em;
          z-index: 1;
          position: absolute;
          right: 0;
          top: 0;
          left: 0;
          text-align: right;
          background-color: rgba(28, 104, 170, 0.9); }
