/* 
    Created on : 9-feb-2014, 18.15.20
    Author     : Lorenzo Di Giuseppe <lorenzo.digiuseppe88@gmail.com>
*/
body {
  /*overflow-x: hidden;*/ }

header #logo {
  display: block;
  position: relative;
  height: 8em;
  padding: 0;
  margin: 0;
  border: 0; }
  header #logo img {
    display: block;
    height: 100%;
    max-width: 100%;
    float: left;
    margin: auto; }
header #breadcrumb {
  display: block;
  position: relative;
  height: 1.6em;
  padding: 0.2em 0;
  line-height: 2em; }

.inverse {
  float: right; }

@media only screen and (max-width: 480px) {
  header #logo img {
    float: none; } }
.img {
  display: block;
  position: relative;
  width: 100%;
  height: auto;
  margin: auto; }

#language {
  display: block;
  position: relative;
  height: 3em; }
  #language a {
    display: block;
    position: relative;
    width: 50%;
    height: 2em;
    padding: 0;
    margin: 0.5em 0;
    float: left; }
    #language a img {
      display: block;
      float: left;
      height: 1.5em;
      margin: 0.25em 0.2em;
      margin: auto 0;
      vertical-align: middle; }
    #language a span {
      display: block;
      width: 40%;
      height: 1.5em;
      margin: 0.25em 0.2em;
      line-height: 1.5em;
      float: left; }

@media only screen and (max-width: 480px) {
  #language a {
    width: 30%;
    float: left; }
    #language a span {
      width: 50%; }
    #language a:first-child {
      margin-left: 15%;
      margin-right: 5%; }
      #language a:first-child span {
        float: right;
        text-align: right; }
      #language a:first-child img {
        float: right; }
    #language a:last-child {
      margin-left: 5%; }
      #language a:last-child span {
        float: left;
        text-align: left; } }
@media only screen and (min-width: 481px) and (max-width: 768px) {
  #language a {
    float: none;
    width: 100%; } }
#main-image {
  display: block;
  position: relative; }
  #main-image img {
    display: block;
    width: 100%;
    position: relative; }

#sol-trasporti, #short-azienda {
  float: left; }

#sol-trasporti ul {
  list-style: none;
  margin: 0;
  padding: 0; }
  #sol-trasporti ul li {
    display: inline-block;
    position: relative;
    float: left;
    width: 99.6%;
    border-width: 0.2%;
    padding: 0.3em 0; }
    #sol-trasporti ul li:first-child {
      padding-top: 0; }
    #sol-trasporti ul li:hover {
      background-color: #F2E9C2; }
      #sol-trasporti ul li:hover h5 {
        text-decoration: underline; }
    #sol-trasporti ul li a {
      display: inline-block;
      position: relative;
      width: 100%;
      padding: 0;
      margin: 0;
      overflow: hidden;
      text-decoration: none; }
      #sol-trasporti ul li a img {
        display: block;
        position: relative;
        float: left;
        height: 2.4em;
        margin: 0.3em 0.5em; }
      #sol-trasporti ul li a .icon {
        float: right;
        height: 2.4em;
        width: 2.4em;
        margin-right: 0.3em;
        margin-top: 0.3em;
        margin-bottom: 0.3em;
        background-image: url("../img/arrow-right.png");
        background-size: 2.4em 2.4em; }
      #sol-trasporti ul li a h5 {
        display: block;
        position: relative;
        padding: 0.3em 10%;
        margin: auto;
        height: 2.4em;
        line-height: 2.4em;
        text-decoration: none;
        text-align: center; }
      #sol-trasporti ul li a p {
        display: block;
        position: relative;
        border-top: 2pt solid;
        border-top-color: #4C99D4;
        height: auto;
        padding: 0.2em 0.1em;
        margin: 0.3em 1.6%;
        color: #666666; }

#short-azienda:hover a {
  background-color: #F2E9C2; }
  #short-azienda:hover a h5 {
    text-decoration: underline; }
#short-azienda a {
  display: block;
  position: relative;
  float: left;
  margin: 0  1.6%;
  padding: 0;
  border-width: 0.2%;
  text-decoration: none; }

#menu-secondario ul {
  margin: 0;
  padding: 0;
  list-style: none; }
  #menu-secondario ul li a {
    text-decoration: none;
    width: 100%;
    height: 4em; }
  #menu-secondario ul li:hover a {
    text-decoration: underline; }

#map-canvas {
  display: inline-block;
  position: relative;
  width: 100%;
  height: 25em;
  background-size: 100% 100%;
  background-image: url("../img/map.png");
  background-repeat: no-repeat;
  z-index: 1; }

#write-us form {
  display: block;
  position: relative;
  width: 80%;
  margin: auto; }
  #write-us form div {
    display: block;
    position: relative;
    clear: both;
    width: 100%;
    margin: 0.5em 0; }
    #write-us form div label {
      display: block;
      position: relative;
      width: 40%;
      margin-left: 10%; }
    #write-us form div input, #write-us form div textarea {
      display: block;
      position: relative;
      width: 80%;
      margin: auto; }
    #write-us form div textarea {
      display: block;
      height: 10em; }
  #write-us form input[type="submit"] {
    width: 30%;
    margin: 0.5em 35%; }

@media only screen and (max-width: 480px) {
  #sol-trasporti ul li {
    margin: 1% 1.6%;
    float: left;
    width: 96.4%; }

  #short-azienda a {
    margin: 1% 1.6%;
    float: left;
    width: 96.4%; } }
.content-box {
  background-color: #F2E9C2;
  border-style: ridge;
  border-color: #FFFFFF;
  color: #666666;
  margin-bottom: 0.4em; }
  .content-box h1, .content-box h2, .content-box h3, .content-box h4, .content-box h5, .content-box h6 {
    color: #4C99D4;
    display: block;
    position: relative;
    width: 78%;
    padding: 0.2em 10%;
    padding-bottom: 0.8em;
    height: auto;
    text-decoration: none;
    text-align: center; }
  .content-box p {
    margin: 0.5em 0.5em; }

.map-canvas {
  background-size: 100% 100%;
  background-image: url("../img/mappa.png");
  background-repeat: no-repeat; }

.infoWindow {
  line-height: 1.35em;
  overflow: hidden;
  white-space: nowrap; }

.wrapper {
  position: relative;
  clear: both;
  min-height: 100%;
  margin: 0 auto -15em; }

.push {
  display: block;
  clear: both;
  height: 15em; }

footer {
  position: relative;
  clear: both;
  width: 100%;
  bottom: 0;
  height: 15em;
  color: #FFFFFF;
  background-color: #666666; }
  footer a {
    color: #F2E9C2; }
  footer div p {
    text-align: center; }

@media only screen and (max-width: 480px) {
  .wrapper {
    margin-bottom: -20em; }

  footer, .push {
    height: 20em; } }
