@charset "UTF-8";
.navigation {
  display: table;
  position: relative;
  height: 1.8em;
  padding: 0;
  margin: 0;
  margin-top: 0.2em;
  background-color: #1C68AA;
  border-bottom: 1pt inset #1C68AA; }
  .navigation .decorator {
    display: none;
    visibility: hidden; }
  .navigation .wrapper {
    height: 1.8em;
    margin-top: 0;
    margin-bottom: 0;
    padding: 0;
    border: 0; }
  .navigation .menu-link {
    display: none; }
  .navigation .selected {
    background-color: #8DBF3F;
    border-width: 1pt 1pt 0 1pt;
    padding-bottom: 2pt;
    margin-bottom: -1pt;
    border-style: outset;
    border-color: #8DBF3F; }
    @media only screen and (min-width: 2500px) {
      .navigation .selected {
        padding-bottom: 3pt;
        margin-bottom: -2pt; } }
    .navigation .selected a {
      cursor: default;
      color: #030320; }
  .navigation ul {
    display: block;
    position: relative;
    list-style: none;
    height: 100%;
    margin: 0;
    padding: 0;
    border: 0; }
    .navigation ul li {
      display: inline-block;
      height: 1.8em;
      position: relative;
      float: left;
      margin: 0;
      padding: auto 0.4em;
      border: 0; }
      .navigation ul li:hover:not(.selected) a {
        color: #FFA01A; }
      .navigation ul li a {
        display: inline-block;
        position: relative;
        height: 100%;
        padding: 0 1em;
        margin: 0;
        line-height: 1.8em;
        text-align: center;
        color: #FFFFFF;
        text-decoration: none; }

@media screen and (max-width: 480px) {
  .navigation {
    margin: 0;
    padding: 0;
    height: auto;
    border: 0;
    width: 79%;
    background: none;
    float: left;
    /* Stile per i bottoni del menù di primo livello, quando sono visibili */ }
    .navigation .wrapper {
      display: block;
      position: relative;
      height: auto;
      /* Stile di base per il menù chiuso */ }
      .navigation .wrapper a {
        display: block;
        clear: both;
        width: 80%;
        text-align: center;
        padding: 0.2em 10%;
        line-height: 2em;
        text-decoration: none; }
      .navigation .wrapper .menu-link {
        display: inline-block;
        height: 2.2em;
        line-height: 2.2em;
        width: 98%;
        margin-bottom: -0.01em;
        padding: 0 1%;
        /*margin-right: 4%;*/
        background-color: rgba(28, 104, 170, 0.7);
        /*border-radius: 0.1em;*/
        border-width: 0.1em 0 0 0;
        border-style: outset;
        border-color: #1C68AA;
        background-image: url("../img/menu-white.png");
        background-repeat: no-repeat;
        background-position: right center;
        background-size: 1.3em;
        color: #F4F0E6;
        z-index: 5; }
        .navigation .wrapper .menu-link:hover {
          text-decoration: underline; }
      .navigation .wrapper #open {
        display: block; }
      .navigation .wrapper #close {
        display: none;
        background-image: url("../img/menu-white.png"); }
      .navigation .wrapper ul {
        font-size: inherit;
        display: block;
        position: absolute;
        list-style: none;
        margin: 0;
        padding: 0;
        border: 0;
        width: 100%;
        height: auto;
        top: 2.3em;
        z-index: 3;
        left: -10000px; }
        .navigation .wrapper ul li {
          display: inline-block;
          width: 100%;
          height: 0em;
          border: 0;
          float: left;
          margin: 0;
          margin-left: -1pt;
          border-color: #000000;
          border-width: 1pt;
          border-left: 0;
          border-bottom: 0;
          border-style: groove;
          border-color: #1C68AA;
          line-height: auto;
          -webkit-transition: height 0.25;
          -moz-transition: height 0.25s;
          -o-transition: height 0.25s;
          transition: height 0.25s; }
          .navigation .wrapper ul li:last-child {
            border-bottom-width: 1pt; }
          .navigation .wrapper ul li a {
            position: relative;
            height: 100%;
            padding-left: 10%;
            padding-right: 10%;
            background-color: #FFFFFF;
            color: #327CCB; }
          .navigation .wrapper ul li:hover:not(.selected) a {
            color: #FFA01A; }
        .navigation .wrapper ul .selected a {
          background-color: #8DBF3F;
          color: #000000; }
    .navigation:target #close {
      display: inline-block; }
    .navigation:target #open {
      display: none; }
    .navigation:target ul {
      height: auto;
      left: 0px; }
      .navigation:target ul li {
        height: auto; }

  .menuMobileVisible #menu {
    height: auto;
    left: 0px; }
    .menuMobileVisible #menu li {
      height: auto; } }
html, body {
  height: 100%; }

.body-background {
  z-index: -2;
  margin: 0;
  padding: 0;
  border: 0;
  width: 100%;
  background: -webkit-linear-gradient(top, #8dbf3f, white);
  /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(bottom, #8dbf3f, white);
  /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(bottom, #8dbf3f, white);
  /* For Firefox 3.6 to 15 */
  background: linear-gradient(to bottom, #8dbf3f, white);
  /* Standard syntax */ }
  @media screen and (max-width: 480px) {
    .body-background {
      background: none; } }
  .body-background .decorator {
    display: none;
    visibility: hidden; }
    @media screen and (max-width: 480px) {
      .body-background .decorator {
        display: block;
        visibility: visible;
        height: 0.5em;
        background: -webkit-linear-gradient(top, #1c68aa, white);
        /* For Safari 5.1 to 6.0 */
        background: -o-linear-gradient(bottom, #1c68aa, white);
        /* For Opera 11.1 to 12.0 */
        background: -moz-linear-gradient(bottom, #1c68aa, white);
        /* For Firefox 3.6 to 15 */
        background: linear-gradient(to bottom, #1c68aa, white);
        /* Standard syntax */ } }

@media screen and (max-width: 1280px) {
  body {
    width: 100%;
    margin: 0;
    padding: 0; } }
.wrapper {
  display: table;
  width: 100%; }

@media screen and (min-width: 1281px) {
  .wrapper {
    width: 1140px;
    margin: 0 auto;
    padding: 0; }
    .wrapper header {
      width: 100%;
      padding: 0;
      margin: 0; } }
