@charset "UTF-8";
.navigation {
  display: table;
  position: relative;
  height: 1.8em;
  padding: 0;
  margin: 0;
  margin-top: 0.6em;
  border-bottom: 1pt inset #1C68AA;
  /*@include content-box;*/ }
  .navigation .decorator {
    display: none;
    visibility: hidden; }
  .navigation .wrapper {
    height: 1.8em;
    margin-top: 0;
    margin-bottom: 0;
    padding: 0;
    border: 0; }
  .navigation .menu-link {
    display: none; }
  .navigation .selected {
    border-width: 1pt 1pt 0 1pt;
    padding-bottom: 1pt;
    margin-bottom: -1pt;
    border-style: outset;
    border-color: #8DBF3F; }
    @media screen and (min-width: 2500px) {
      .navigation .selected {
        padding-bottom: 2pt;
        margin-bottom: -2pt; } }
  .navigation ul {
    display: inline-block;
    position: relative;
    list-style: none;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    border: 0;
    text-align: left;
    /*margin-bottom: -2pt;*/
    z-index: 3; }
    .navigation ul li {
      display: inline-block;
      height: 1.8em;
      position: relative;
      -webkit-box-sizing: content-box;
      /* Android ≤ 2.3, iOS ≤ 4 */
      -moz-box-sizing: content-box;
      /* Firefox 1+ */
      box-sizing: content-box;
      /* Chrome, IE 8+, Opera, Safari 5.1 */
      /*float: left;*/
      margin: 0;
      margin-left: 0.3em;
      /*margin-bottom: -2pt;*/
      padding: auto;
      border: 0; }
      .navigation ul li:first-child {
        margin-left: 0; }
      .navigation ul li a {
        display: inline-block;
        position: relative;
        height: 100%;
        padding: 0 0.5em;
        margin: 0;
        line-height: 1.8em;
        text-align: center;
        color: inherit;
        text-decoration: none; }

@media screen and (max-width: 768px) {
  .navigation {
    margin: 0;
    padding: 0;
    height: auto;
    border: 0;
    padding-top: -2pt;
    margin-top: 0.3em;
    width: 100%;
    float: left;
    border-top-width: 0.1em;
    border-top-style: outset;
    border-bottom-width: 0.1em;
    border-bottom-style: outset;
    border-color: #1C68AA;
    -webkit-box-sizing: border-box;
    /* Android ≤ 2.3, iOS ≤ 4 */
    -moz-box-sizing: border-box;
    /* Firefox 1+ */
    box-sizing: border-box;
    /* Chrome, IE 8+, Opera, Safari 5.1 */
    /* Stile per i bottoni del menù di primo livello, quando sono visibili */ }
    .navigation .wrapper {
      height: auto;
      float: left;
      margin: 0;
      width: 50%;
      position: relative;
      /* Stile di base per il menù chiuso */ }
      .navigation .wrapper a {
        display: block;
        clear: both;
        width: 80%;
        text-align: center;
        padding: 0.2em 10%;
        line-height: 2em;
        text-decoration: none; }
      .navigation .wrapper .menu-link {
        display: inline-block;
        position: relative;
        -webkit-box-sizing: border-box;
        /* Android ≤ 2.3, iOS ≤ 4 */
        -moz-box-sizing: border-box;
        /* Firefox 1+ */
        box-sizing: border-box;
        /* Chrome, IE 8+, Opera, Safari 5.1 */
        height: 3em;
        line-height: 3em;
        width: 100%;
        margin-bottom: -0.01em;
        padding: 0 1%;
        background-color: rgba(28, 104, 170, 0.8);
        border-right-width: 0.1em;
        border-right-style: groove;
        border-color: #1C68AA;
        z-index: 5; }
        .navigation .wrapper .menu-link span {
          display: block;
          position: absolute;
          float: left;
          width: 80%;
          left: 10%;
          right: 10%;
          height: 2.8em;
          color: inherit; }
        .navigation .wrapper .menu-link .icon {
          display: inline-block;
          float: right;
          width: 1.5em;
          height: 1.5em;
          margin: 0.75em 0.3em;
          background-image: url("../img/icons/menu-white.png");
          background-repeat: no-repeat;
          background-position: right center;
          background-size: 100% 100%; }
        .navigation .wrapper .menu-link:hover .icon {
          background-image: url("../img/icons/menu-hover.png"); }
      .navigation .wrapper #open {
        display: block; }
      .navigation .wrapper #close {
        display: none; }
      .navigation .wrapper ul {
        font-size: inherit;
        -webkit-box-sizing: border-box;
        /* Android ≤ 2.3, iOS ≤ 4 */
        -moz-box-sizing: border-box;
        /* Firefox 1+ */
        box-sizing: border-box;
        /* Chrome, IE 8+, Opera, Safari 5.1 */
        display: block;
        position: absolute;
        list-style: none;
        margin: 0;
        padding: 0;
        border: 0;
        border-right-width: 1pt;
        border-style: groove;
        border-color: #030320;
        width: 100%;
        height: auto;
        top: 3.04em;
        z-index: 4;
        left: -10000px; }
        .navigation .wrapper ul li {
          display: inline-block;
          -webkit-box-sizing: border-box;
          /* Android ≤ 2.3, iOS ≤ 4 */
          -moz-box-sizing: border-box;
          /* Firefox 1+ */
          box-sizing: border-box;
          /* Chrome, IE 8+, Opera, Safari 5.1 */
          width: 100%;
          height: 0em;
          border: 0;
          float: left;
          margin: 0;
          border-width: 1pt 0;
          border-bottom: 0;
          border-style: groove;
          border-color: #1C68AA;
          line-height: auto;
          -webkit-transition: height 0.25;
          -moz-transition: height 0.25s;
          -o-transition: height 0.25s;
          transition: height 0.25s; }
          .navigation .wrapper ul li:last-child {
            border-bottom-width: 1pt; }
          .navigation .wrapper ul li a {
            position: relative;
            height: 3em;
            line-height: 3em;
            padding-left: 10%;
            padding-right: 10%;
            background-color: #FFFFFF;
            color: #327CCB;
            z-index: inherit; }
          .navigation .wrapper ul li:hover:not(.selected) a {
            color: #FFA01A; }
        .navigation .wrapper ul .selected a {
          background-color: #8DBF3F;
          color: #000000; }
    .navigation:target #close {
      display: inline-block; }
    .navigation:target #open {
      display: none; }
    .navigation:target ul {
      height: auto;
      left: 0px; }
      .navigation:target ul li {
        height: auto; }
        .navigation:target ul li a {
          height: 3em; }
    .navigation:target .breadcrumb {
      left: -99999px; }

  .menuMobileVisible #menu {
    height: auto;
    left: 0px; }
    .menuMobileVisible #menu li {
      height: auto; }
  .menuMobileVisible #breadcrumb {
    left: -99999px; } }
  @media screen and (max-width: 768px) and (max-width: 480px) {
    .navigation .wrapper {
      width: 35%; }
      .navigation .wrapper .menu-link span {
        display: none; }
      .navigation .wrapper .menu-link .icon {
        float: none;
        margin-left: auto;
        margin-right: auto; }
      .navigation .wrapper ul {
        width: 188%; } }
      @media screen and (max-width: 768px) and (max-width: 480px) and (max-width: 170px) {
        .navigation .wrapper .menu-link .icon {
          width: 80%;
          height: 80%;
          background-size: 100% 100%;
          margin: 10%; } }
      @media screen and (max-width: 768px) and (max-width: 480px) and (max-width: 180px) {
        .navigation .wrapper ul {
          width: 260%; } }
