@charset "UTF-8";
@media screen and (max-width: 769px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/loki\/NetBeansProjects\/FB\/public_html\/sass\/navigation\.scss}line{font-family:\0000313}}
  nav {
    margin: 0;
    padding: 0;
    font-family: 'sorts_mill_goudyregular';
    /* Stile di base per il menù chiuso */ }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/loki\/NetBeansProjects\/FB\/public_html\/sass\/navigation\.scss}line{font-family:\0000319}}
    nav .menu-link {
      line-height: 2em;
      width: 70%;
      padding: 0.5em 15%;
      background-image: url("../img/menu-white.png");
      background-repeat: no-repeat;
      background-position: right center;
      background-size: 2em;
      /*                background-color: $menu-color;*/
      color: white;
      background-position-x: 0.2em; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/loki\/NetBeansProjects\/FB\/public_html\/sass\/navigation\.scss}line{font-family:\0000330}}
      nav .menu-link:hover {
        text-decoration: underline; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/loki\/NetBeansProjects\/FB\/public_html\/sass\/navigation\.scss}line{font-family:\0000335}}
    nav a {
      display: inline-block;
      clear: both;
      width: 80%;
      text-align: center;
      height: 2.4em;
      padding: 0.2em 10%;
      line-height: auto;
      text-decoration: none; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/loki\/NetBeansProjects\/FB\/public_html\/sass\/navigation\.scss}line{font-family:\0000346}}
    nav #close1 {
      display: none; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/loki\/NetBeansProjects\/FB\/public_html\/sass\/navigation\.scss}line{font-family:\0000349}}
    nav ul {
      display: block;
      position: absolute;
      list-style: none;
      margin: 0;
      padding: 0;
      width: 100%;
      height: auto;
      top: 0;
      left: -10000px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/loki\/NetBeansProjects\/FB\/public_html\/sass\/navigation\.scss}line{font-family:\0000360}}
      nav ul li {
        display: block;
        width: 100%;
        height: 0em;
        float: left;
        -webkit-transition: height 0.25;
        -moz-transition: height 0.25s;
        -o-transition: height 0.25s;
        transition: height 0.25s; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/loki\/NetBeansProjects\/FB\/public_html\/sass\/navigation\.scss}line{font-family:\0000370}}
        nav ul li a {
          background-color: #11855E;
          color: white; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/loki\/NetBeansProjects\/FB\/public_html\/sass\/navigation\.scss}line{font-family:\0000375}}
        nav ul li:first-child {
          margin-top: 2px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/loki\/NetBeansProjects\/FB\/public_html\/sass\/navigation\.scss}line{font-family:\0000381}}
        nav ul li:not(.selected):hover a {
          background-color: rgba(17, 133, 94, 0.7);
          text-decoration: underline; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/loki\/NetBeansProjects\/FB\/public_html\/sass\/navigation\.scss}line{font-family:\0000391}}
      nav ul .selected a {
        background-color: rgba(17, 133, 94, 0.4); }

  /* Stile per i bottoni del menù di primo livello, quando sono visibili */
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/loki\/NetBeansProjects\/FB\/public_html\/sass\/navigation\.scss}line{font-family:\00003101}}
  #navigation:target #close1 {
    display: inline-block; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/loki\/NetBeansProjects\/FB\/public_html\/sass\/navigation\.scss}line{font-family:\00003105}}
  #navigation:target #open1 {
    display: none; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/loki\/NetBeansProjects\/FB\/public_html\/sass\/navigation\.scss}line{font-family:\00003108}}
  #navigation:target ul {
    display: block;
    position: relative;
    height: auto;
    left: 0px;
    top: 0; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/loki\/NetBeansProjects\/FB\/public_html\/sass\/navigation\.scss}line{font-family:\00003115}}
    #navigation:target ul li {
      display: block;
      position: relative;
      height: 2.8em;
      margin: 0;
      border-top: 1px groove;
      border-bottom: 1px solid;
      line-height: auto;
      border-color: #dfebf6; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/loki\/NetBeansProjects\/FB\/public_html\/sass\/navigation\.scss}line{font-family:\00003125}}
      #navigation:target ul li:first-child {
        border-top: 2px groove; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/loki\/NetBeansProjects\/FB\/public_html\/sass\/navigation\.scss}line{font-family:\00003129}}
      #navigation:target ul li:last-child {
        border-bottom: 2px groove; } }
@media screen and (min-width: 769px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/loki\/NetBeansProjects\/FB\/public_html\/sass\/navigation\.scss}line{font-family:\00003140}}
  nav {
    display: inline-block;
    position: relative;
    height: 1.8em;
    padding: 0;
    margin-top: 0.2em;
    margin-bottom: -0.2em;
    z-index: 10;
    font-family: 'sorts_mill_goudyregular';
    border-bottom: 0.3em solid #C4D99C; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/loki\/NetBeansProjects\/FB\/public_html\/sass\/navigation\.scss}line{font-family:\00003151}}
    nav .menu-link {
      display: none; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/loki\/NetBeansProjects\/FB\/public_html\/sass\/navigation\.scss}line{font-family:\00003155}}
    nav .selected {
      border-bottom: 0.3em solid #11855E; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/loki\/NetBeansProjects\/FB\/public_html\/sass\/navigation\.scss}line{font-family:\00003159}}
    nav ul {
      display: inline-block;
      position: relative;
      list-style: none;
      /*width: 100%;*/
      margin: 0;
      padding: 0;
      /*}*/ }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/loki\/NetBeansProjects\/FB\/public_html\/sass\/navigation\.scss}line{font-family:\00003168}}
      nav ul li {
        display: block;
        height: 1.8em;
        position: relative;
        /*width: 1 / 6 * 100%;*/
        float: left;
        margin: 0;
        padding: auto 0.4em;
        /*                        top: 0;*/ }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/loki\/NetBeansProjects\/FB\/public_html\/sass\/navigation\.scss}line{font-family:\00003177}}
        nav ul li:hover:not(.selected) {
          border-bottom: 0.3em solid rgba(17, 133, 94, 0.5); }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/loki\/NetBeansProjects\/FB\/public_html\/sass\/navigation\.scss}line{font-family:\00003181}}
        nav ul li a {
          display: inline-block;
          position: relative;
          height: 100%;
          padding: 0 1em;
          padding-top: 0.2em;
          margin: 0;
          line-height: auto;
          text-align: center;
          /*background-color: $menu-color;*/
          color: white;
          text-decoration: none; } }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/loki\/NetBeansProjects\/FB\/public_html\/sass\/navigation\.scss}line{font-family:\00003206}}
.menuMobileVisible {
  display: block;
  position: relative;
  height: auto;
  left: 0px;
  top: 0; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/loki\/NetBeansProjects\/FB\/public_html\/sass\/navigation\.scss}line{font-family:\00003213}}
  .menuMobileVisible li {
    display: block;
    position: relative;
    height: 2.8em;
    margin: 0;
    border-top: 1px groove;
    border-bottom: 1px solid;
    line-height: auto;
    border-color: #dfebf6; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/loki\/NetBeansProjects\/FB\/public_html\/sass\/navigation\.scss}line{font-family:\00003223}}
    .menuMobileVisible li:first-child {
      border-top: 2px groove; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/loki\/NetBeansProjects\/FB\/public_html\/sass\/navigation\.scss}line{font-family:\00003227}}
    .menuMobileVisible li:last-child {
      border-bottom: 2px groove; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/loki\/NetBeansProjects\/FB\/public_html\/sass\/navigation\.scss}line{font-family:\00003233}}
html, body {
  height: 100%; }

@media screen and (max-width: 80em) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/loki\/NetBeansProjects\/FB\/public_html\/sass\/navigation\.scss}line{font-family:\00003239}}
  body {
    margin: 0;
    padding: 0; } }
@media screen and (min-width: 80em) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/loki\/NetBeansProjects\/FB\/public_html\/sass\/navigation\.scss}line{font-family:\00003247}}
  body {
    width: 71.25em;
    margin: auto;
    padding: 0; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/loki\/NetBeansProjects\/FB\/public_html\/sass\/navigation\.scss}line{font-family:\00003251}}
    body header {
      width: 100%;
      padding: 0;
      margin: 0; } }
