@charset "UTF-8";
.navigation {
  display: table;
  position: relative;
  height: 1.8em;
  padding: 0;
  margin: 0;
  margin-top: 0.2em;
  background-color: #1C68AA;
  border-bottom: 1pt inset #1C68AA; }
  .navigation .wrapper {
    height: 1.8em;
    margin-top: 0;
    margin-bottom: 0;
    padding: 0;
    border: 0; }
  .navigation .menu-link {
    display: none; }
  .navigation .selected {
    background-color: #8DBF3F;
    border-width: 1pt 1pt 0 1pt;
    padding-bottom: 2pt;
    margin-bottom: -1pt;
    border-style: outset;
    border-color: #8DBF3F; }
    @media only screen and (min-width: 2500px) {
      .navigation .selected {
        padding-bottom: 3pt;
        margin-bottom: -2pt; } }
    .navigation .selected a {
      cursor: default;
      color: #030320; }
  .navigation ul {
    display: block;
    position: relative;
    list-style: none;
    height: 100%;
    margin: 0;
    padding: 0;
    border: 0; }
    .navigation ul li {
      display: inline-block;
      height: 1.8em;
      position: relative;
      float: left;
      margin: 0;
      padding: auto 0.4em;
      border: 0; }
      .navigation ul li:hover:not(.selected) a {
        color: #FFA01A; }
      .navigation ul li a {
        display: inline-block;
        position: relative;
        height: 100%;
        padding: 0 1em;
        margin: 0;
        line-height: 1.8em;
        text-align: center;
        color: #FFFFFF;
        text-decoration: none; }

@media screen and (max-width: 768px) {
  .navigation {
    margin: 0;
    padding: 0;
    height: auto;
    border-width: 2pt 0;
    border-top: 0;
    border-style: groove;
    border-color: #1C68AA;
    /*        background: none;*/ }
    .navigation .wrapper {
      height: auto;
      /* Stile di base per il menù chiuso */
      /* Stile per i bottoni del menù di primo livello, quando sono visibili */ }
      .navigation .wrapper .menu-link {
        display: inline-block;
        height: 1.5em;
        line-height: 1.5em;
        padding: 0.35em 2%;
        margin: 0.1em 0;
        margin-left: 0.6em;
        left: 0;
        color: #FFFFFF;
        text-decoration: none;
        background-color: #1C68AA;
        border-radius: 2pt;
        border-width: 1pt;
        border-style: outset;
        border-color: #8DBF3F; }
        .navigation .wrapper .menu-link:hover {
          color: #FFA01A; }
          .navigation .wrapper .menu-link:hover .menu-img {
            background-image: url("../img/icons/menu-hover.png"); }
        .navigation .wrapper .menu-link .menu-img {
          display: inline-block;
          vertical-align: middle;
          right: 0;
          position: relative;
          height: 1.5em;
          width: 1.5em;
          background-color: #1C68AA;
          background-image: url("../img/icons/menu.png");
          background-repeat: no-repeat;
          background-size: 1.3em 1.3em;
          background-position: center center; }
      .navigation .wrapper #open {
        display: inline-block; }
      .navigation .wrapper #close {
        display: none; }
      .navigation .wrapper ul {
        display: block;
        position: absolute;
        list-style: none;
        margin: 0;
        margin-top: 1pt;
        padding: 0;
        width: 40%;
        top: 2.5em;
        left: -10000px;
        border-width: 1pt;
        border-top: 0;
        border-color: #1C68AA;
        border-style: groove; }
        .navigation .wrapper ul li {
          clear: both;
          display: inline-block;
          position: relative;
          height: 0;
          width: 100%;
          float: left;
          margin: 0;
          border: 0;
          /*                  border-top: 1pt groove;
                            border-bottom: 1pt solid;
                            border-color: #000000;*/
          -webkit-transition: height 0.25;
          -moz-transition: height 0.25s;
          -o-transition: height 0.25s;
          transition: height 0.25s;
          /*                  &:first-child{
                                border-top-width: 2pt;
                            }
                            
                            &:last-child{
                                border-bottom-width: 2pt;
                            }*/
          /*                  &:first-child{
                                margin-top: 2px;
                            }*/ }
          .navigation .wrapper ul li a {
            display: inline-block;
            clear: both;
            width: 90%;
            max-height: 2em;
            border: 0;
            text-align: left;
            padding: 0.2em 5%;
            line-height: 2em;
            text-decoration: none;
            background-color: #FFFFFF;
            color: #327CCB; }
          .navigation .wrapper ul li:hover:not(.selected) a {
            color: #FFA01A;
            text-decoration: underline; }
        .navigation .wrapper ul .selected a {
          background-color: #8DBF3F;
          color: #000000; }
      .navigation .wrapper:target #close {
        display: inline-block; }
      .navigation .wrapper:target #open {
        display: none; }
      .navigation .wrapper:target ul {
        /*position: relative;*/
        height: auto;
        left: 2pt;
        /*                    top: 0;*/ }
        .navigation .wrapper:target ul li {
          height: auto; }

  .menuMobileVisible #close {
    display: inline-block; }
  .menuMobileVisible #menu {
    /*position: relative;*/
    height: auto;
    left: 2pt;
    /*top: 2.3em;*/
    z-index: 8;
    /*top: 0;*/ }
    .menuMobileVisible #menu li {
      height: auto; } }
      @media screen and (max-width: 768px) and (max-width: 480px) {
        .navigation .wrapper ul {
          width: 80%; } }
html, body {
  height: 100%; }

.body-background {
  z-index: -2;
  margin: 0;
  padding: 0;
  border: 0;
  width: 100%;
  /*background-color: #8DBF3F;*/
  background: -webkit-linear-gradient(top, #8dbf3f, white);
  /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(bottom, #8dbf3f, white);
  /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(bottom, #8dbf3f, white);
  /* For Firefox 3.6 to 15 */
  background: linear-gradient(to bottom, #8dbf3f, white);
  /* Standard syntax */ }

@media screen and (max-width: 480px) {
  .body-background {
    background: none; } }
@media screen and (max-width: 1280px) {
  body {
    margin: 0;
    padding: 0; } }
.wrapper {
  display: table;
  width: 100%; }

@media screen and (min-width: 1280px) {
  .wrapper {
    width: 1140px;
    margin: 0 auto;
    padding: 0; }
    .wrapper header {
      width: 100%;
      padding: 0;
      margin: 0; } }
