@charset "CP850";
nav {
  display: table;
  position: relative;
  height: 1.8em;
  padding: 0;
  margin: 0;
  margin-top: 0.2em;
  background-color: #1C68AA; }
  nav .menu-link {
    display: none; }
  nav .selected {
    background-color: #8DBF3F; }
    nav .selected a {
      color: #1C68AA; }
  nav ul {
    display: block;
    position: relative;
    list-style: none;
    height: 100%;
    margin: 0;
    padding: 0; }
    nav ul li {
      display: inline-block;
      height: 1.8em;
      position: relative;
      float: left;
      margin: 0;
      padding: auto 0.4em; }
      nav ul li:hover:not(.selected) {
        background-color: #FFFFFF; }
        nav ul li:hover:not(.selected) a {
          color: #1C68AA; }
      nav ul li a {
        display: inline-block;
        position: relative;
        height: 100%;
        padding: 0 1em;
        /*padding-top: 0.2em;*/
        margin: 0;
        line-height: 1.8em;
        text-align: center;
        color: #FFFFFF;
        text-decoration: none; }

@media screen and (max-width: 769px) {
  nav {
    margin: 0;
    padding: 0;
    height: auto;
    border: none;
    /* Stile di base per il menù chiuso */ }
    nav a {
      display: inline-block;
      clear: both;
      width: 80%;
      text-align: center;
      height: 2.4em;
      padding: 0.2em 10%;
      line-height: auto;
      text-decoration: none; }
    nav .menu-link {
      display: inline-block;
      line-height: 2em;
      width: 70%;
      padding: 0.5em 15%;
      background-image: url("../img/menu-white.png");
      background-repeat: no-repeat;
      background-position: right center;
      background-size: 2em;
      color: #F4F0E6; }
      nav .menu-link:hover {
        text-decoration: underline; }
    nav #close1 {
      display: none;
      background-image: url("../img/menu-white.png"); }
    nav ul {
      display: block;
      position: absolute;
      list-style: none;
      margin: 0;
      padding: 0;
      width: 100%;
      height: auto;
      top: 0;
      left: -10000px; }
      nav ul li {
        display: block;
        width: 100%;
        height: 0em;
        float: left;
        -webkit-transition: height 0.25;
        -moz-transition: height 0.25s;
        -o-transition: height 0.25s;
        transition: height 0.25s; }
        nav ul li a {
          padding-left: 10%;
          padding-right: 10%;
          background-color: #F4F0E6;
          color: #327CCB; }
        nav ul li:first-child {
          margin-top: 2px; }
        nav ul li:hover:not(.selected) {
          border-bottom: none; }
          nav ul li:hover:not(.selected) a {
            color: #327CCB;
            background-color: #EAE4D3;
            text-decoration: underline; }
      nav ul .selected a {
        background-color: #8DBF3F;
        color: #327CCB; }

  /* Stile per i bottoni del menù di primo livello, quando sono visibili */
  #navigation:target #close1 {
    display: inline-block; }
  #navigation:target #open1 {
    display: none; }
  #navigation:target ul {
    display: block;
    position: relative;
    height: auto;
    left: 0px;
    top: 0; }
    #navigation:target ul li {
      display: block;
      position: relative;
      height: 2.8em;
      margin: 0;
      border-top: 1px groove;
      border-bottom: 1px solid;
      line-height: auto;
      border-color: #000000; }
      #navigation:target ul li:first-child {
        border-top: 2px groove; }
      #navigation:target ul li:last-child {
        border-bottom: 2px groove; } }
.menuMobileVisible {
  display: block;
  position: relative;
  height: auto;
  left: 0px;
  top: 0; }
  .menuMobileVisible li {
    display: block;
    position: relative;
    height: 2.8em;
    margin: 0;
    border-top: 1px groove;
    border-bottom: 1px solid;
    line-height: auto;
    border-color: #dfebf6; }
    .menuMobileVisible li:first-child {
      border-top: 2px groove; }
    .menuMobileVisible li:last-child {
      border-bottom: 2px groove; }

html, body {
  height: 100%; }

body {
  background-color: #8DBF3F; }

@media screen and (max-width: 1280px) {
  body {
    margin: 0;
    padding: 0; } }
.wrapper {
  width: 100%; }

@media screen and (min-width: 1280px) {
  .wrapper {
    width: 1140px;
    margin: 0 auto;
    padding: 0; }
    .wrapper header {
      width: 100%;
      padding: 0;
      margin: 0; } }
