@charset "UTF-8";
#navigation {
  display: table;
  position: relative;
  height: 1.8em;
  padding: 0;
  margin: 0;
  margin-top: 0.2em;
  background-color: #1C68AA;
  border-bottom: 1pt inset #1C68AA; }
  #navigation .wrapper {
    height: 1.8em;
    margin-top: 0;
    margin-bottom: 0;
    padding: 0;
    border: 0; }
  #navigation .menu-link {
    display: none; }
  #navigation .selected {
    background-color: #8DBF3F;
    border-width: 1pt 1pt 0 1pt;
    padding-bottom: 2pt;
    margin-bottom: -1pt;
    border-style: outset;
    border-color: #8DBF3F; }
    @media only screen and (min-width: 2500px) {
      #navigation .selected {
        padding-bottom: 3pt;
        margin-bottom: -2pt; } }
    #navigation .selected a {
      cursor: default;
      /*color: #1C68AA;*/
      color: #030320;
      /*color: #AD3970;*/ }
  #navigation ul {
    display: block;
    position: relative;
    list-style: none;
    height: 100%;
    margin: 0;
    padding: 0;
    border: 0; }
    #navigation ul li {
      display: inline-block;
      height: 1.8em;
      position: relative;
      float: left;
      margin: 0;
      padding: auto 0.4em;
      border: 0; }
      #navigation ul li:hover:not(.selected) {
        /*background-color: #FFFFFF;*/ }
        #navigation ul li:hover:not(.selected) a {
          /*color: #1C68AA;*/
          color: #FFA01A; }
      #navigation ul li a {
        display: inline-block;
        position: relative;
        height: 100%;
        padding: 0 1em;
        margin: 0;
        line-height: 1.8em;
        text-align: center;
        color: #FFFFFF;
        text-decoration: none; }

@media screen and (max-width: 768px) {
  #navigation {
    margin: 0;
    padding: 0;
    height: auto;
    border: none;
    /* Stile di base per il menù chiuso */
    /* Stile per i bottoni del menù di primo livello, quando sono visibili */ }
    #navigation .wrapper {
      height: auto; }
    #navigation a {
      display: inline-block;
      clear: both;
      width: 80%;
      text-align: center;
      height: 2.4em;
      padding: 0.2em 10%;
      line-height: auto;
      text-decoration: none; }
    #navigation .menu-link {
      display: inline-block;
      line-height: 2em;
      width: 70%;
      padding: 0.5em 15%;
      background-image: url("../img/menu-white.png");
      background-repeat: no-repeat;
      background-position: right center;
      background-size: 2em;
      color: #F4F0E6; }
      #navigation .menu-link:hover {
        text-decoration: underline; }
    #navigation #close1 {
      display: none;
      background-image: url("../img/menu-white.png"); }
    #navigation ul {
      display: block;
      position: absolute;
      list-style: none;
      margin: 0;
      padding: 0;
      width: 100%;
      height: auto;
      top: 0;
      left: -10000px; }
      #navigation ul li {
        display: block;
        width: 100%;
        height: 0em;
        float: left;
        -webkit-transition: height 0.25;
        -moz-transition: height 0.25s;
        -o-transition: height 0.25s;
        transition: height 0.25s; }
        #navigation ul li a {
          padding-left: 10%;
          padding-right: 10%;
          background-color: #F4F0E6;
          color: #327CCB; }
        #navigation ul li:first-child {
          margin-top: 2px; }
        #navigation ul li:hover:not(.selected) {
          border-bottom: none; }
          #navigation ul li:hover:not(.selected) a {
            color: #327CCB;
            background-color: #EAE4D3;
            text-decoration: underline; }
      #navigation ul .selected a {
        background-color: #8DBF3F;
        color: #327CCB; }
    #navigation:target #close1 {
      display: inline-block; }
    #navigation:target #open1 {
      display: none; }
    #navigation:target ul {
      display: block;
      position: relative;
      height: auto;
      left: 0px;
      top: 0; }
      #navigation:target ul li {
        display: block;
        position: relative;
        height: 2.8em;
        margin: 0;
        border-top: 1px groove;
        border-bottom: 1px solid;
        line-height: auto;
        border-color: #000000; }
        #navigation:target ul li:first-child {
          border-top: 2px groove; }
        #navigation:target ul li:last-child {
          border-bottom: 2px groove; } }
.menuMobileVisible {
  display: block;
  position: relative;
  height: auto;
  left: 0px;
  top: 0; }
  .menuMobileVisible li {
    display: block;
    position: relative;
    height: 2.8em;
    margin: 0;
    border-top: 1px groove;
    border-bottom: 1px solid;
    line-height: auto;
    border-color: #dfebf6; }
    .menuMobileVisible li:first-child {
      border-top: 2px groove; }
    .menuMobileVisible li:last-child {
      border-bottom: 2px groove; }

html, body {
  height: 100%; }

.body-background {
  margin: 0;
  padding: 0;
  border: 0;
  width: 100%;
  /*background-color: #8DBF3F;*/
  background: -webkit-linear-gradient(top, #8dbf3f, white);
  /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(bottom, #8dbf3f, white);
  /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(bottom, #8dbf3f, white);
  /* For Firefox 3.6 to 15 */
  background: linear-gradient(to bottom, #8dbf3f, white);
  /* Standard syntax */ }

@media screen and (max-width: 1280px) {
  body {
    margin: 0;
    padding: 0; } }
.wrapper {
  width: 100%; }

@media screen and (min-width: 1280px) {
  .wrapper {
    width: 1140px;
    margin: 0 auto;
    padding: 0; }
    .wrapper header {
      width: 100%;
      padding: 0;
      margin: 0; } }
