@charset "CP850";
@media screen and (max-width: 769px) {
  nav {
    margin: 0;
    padding: 0;
    /* Stile per i bottoni del menù di secondo livello, quando sono visibili */ }
    nav #liv-trasporti {
      display: block;
      width: 100%;
      margin: 0;
      padding: 0;
      /* Stile di base per il menù chiuso */ }
      nav #liv-trasporti .menu-link {
        line-height: 2em;
        width: 70%;
        padding: 0.5em 15%;
        background-image: url("../img/menu-white.png");
        background-repeat: no-repeat;
        background-position: right center;
        background-size: 2em;
        background-color: #666666;
        color: white;
        background-position-x: 0.2em; }
      nav #liv-trasporti a {
        display: inline-block;
        clear: both;
        width: 80%;
        text-align: center;
        height: 2.4em;
        padding: 0.2em 10%;
        line-height: auto;
        text-decoration: none; }
        nav #liv-trasporti a:hover {
          opacity: .7;
          text-decoration: underline; }
      nav #liv-trasporti #close1 {
        display: none; }
      nav #liv-trasporti ul {
        display: block;
        position: absolute;
        list-style: none;
        margin: 0;
        padding: 0;
        width: 100%;
        height: auto;
        top: 0;
        left: -10000px; }
        nav #liv-trasporti ul li {
          display: block;
          width: 100%;
          height: 0em;
          float: left;
          -webkit-transition: height 0.25;
          -moz-transition: height 0.25s;
          -o-transition: height 0.25s;
          transition: height 0.25s; }
          nav #liv-trasporti ul li a {
            background-color: #4c99d4;
            color: white; }
          nav #liv-trasporti ul li:first-child {
            margin-top: 2px; }
          nav #liv-trasporti ul li .selected {
            opacity: .6; }
          nav #liv-trasporti ul li .drop-menu {
            background-image: url("../img/menu-white.png");
            background-repeat: no-repeat;
            background-position: right center;
            background-size: 1.3em; }
          nav #liv-trasporti ul li #close2 {
            display: none; }
          nav #liv-trasporti ul li ul {
            display: block;
            position: relative;
            list-style: none;
            margin: 0;
            padding: 0;
            width: 100%;
            height: auto;
            top: 0; }
            nav #liv-trasporti ul li ul li {
              display: block;
              position: absolute;
              width: 100%;
              height: 0em;
              float: left;
              -webkit-transition: height 0.25;
              -moz-transition: height 0.25s;
              -o-transition: height 0.25s;
              transition: height 0.25s; }
              nav #liv-trasporti ul li ul li a {
                background-color: #70ab4b;
                color: white; }
              nav #liv-trasporti ul li ul li:first-child {
                margin-top: 2px; }
              nav #liv-trasporti ul li ul li:last-child {
                margin-bottom: 0px; }
    nav #liv-trasporti:target #close1 {
      display: inline-block;
      opacity: .6; }
    nav #liv-trasporti:target #open1 {
      display: none; }
    nav #liv-trasporti:target ul {
      display: block;
      position: relative;
      left: 0px;
      top: 0; }
      nav #liv-trasporti:target ul li {
        height: 2.8em;
        margin: 1px 0;
        line-height: auto; }
      nav #liv-trasporti:target ul #trasporti {
        display: inline-block;
        height: auto;
        background-color: none;
        padding: 0; }
        nav #liv-trasporti:target ul #trasporti #close2 {
          display: inline-block;
          opacity: .6; }
        nav #liv-trasporti:target ul #trasporti #open2 {
          display: none; }
        nav #liv-trasporti:target ul #trasporti ul {
          display: block;
          position: relative;
          height: auto;
          left: 0;
          top: 0; }
          nav #liv-trasporti:target ul #trasporti ul li {
            display: block;
            position: relative;
            width: 100%;
            height: 2.8em;
            margin: 1px 0;
            line-height: auto;
            float: left;
            -webkit-transition: height 0.25;
            -moz-transition: height 0.25s;
            -o-transition: height 0.25s;
            transition: height 0.25s; }

  /* Stile per i bottoni del menù di primo livello, quando sono visibili */
  #navigation:target #close1 {
    display: inline-block; }
  #navigation:target #open1 {
    display: none; }
  #navigation:target ul {
    display: block;
    position: relative;
    height: auto;
    left: 0px;
    top: 0; }
    #navigation:target ul li {
      display: block;
      position: relative;
      height: 2.8em;
      margin: 1px 0;
      line-height: auto; }
    #navigation:target ul #trasporti ul {
      position: absolute;
      width: 100%;
      height: 0em;
      left: -10000px; }
      #navigation:target ul #trasporti ul li {
        height: 0em;
        -webkit-transition: height 0.25;
        -moz-transition: height 0.25s;
        -o-transition: height 0.25s;
        transition: height 0.25s; } }
@media screen and (min-width: 769px) {
  nav {
    display: inline-block;
    padding: 0;
    margin: auto;
    z-index: 10; }
    nav #liv-trasporti {
      display: inline-block;
      width: 100%;
      padding: 0;
      margin: 0; }
      nav #liv-trasporti .menu-link {
        display: none; }
      nav #liv-trasporti .selected {
        opacity: .6; }
      nav #liv-trasporti ul {
        display: block;
        position: relative;
        list-style: none;
        width: 100%;
        margin: 0;
        padding: 0; }
        nav #liv-trasporti ul li {
          display: block;
          height: 3em;
          position: relative;
          width: 16.66667%;
          float: left;
          margin: 0;
          padding: 0;
          top: 0; }
          nav #liv-trasporti ul li .drop-menu {
            background-image: url("../img/menu-white.png");
            background-repeat: no-repeat;
            background-position: right center;
            background-size: 1.2em; }
          nav #liv-trasporti ul li a {
            display: block;
            position: relative;
            width: 80%;
            min-height: 2.6em;
            padding: 0.2em 10%;
            line-height: auto;
            text-align: center;
            background-color: #666666;
            color: white;
            text-decoration: none; }
            nav #liv-trasporti ul li a:hover {
              opacity: .7;
              text-decoration: underline; }
    nav #liv-trasporti:target #open2 {
      display: none;
      clear: none;
      height: 0px;
      left: -1000000px;
      padding: 0;
      margin: 0; }
    nav #liv-trasporti:target #close2 {
      display: block;
      position: relative;
      left: 0;
      opacity: .7; }
    nav #trasporti:hover #open2, nav #liv-trasporti:target #open2 {
      opacity: .7; }
    nav #trasporti:hover #dropdown, nav #liv-trasporti:target #dropdown {
      clear: both;
      display: block;
      position: relative;
      width: 100%;
      height: auto;
      margin: 0;
      padding: 0;
      left: 0; }
      nav #trasporti:hover #dropdown li, nav #liv-trasporti:target #dropdown li {
        display: block;
        position: relative;
        clear: both;
        width: 100%;
        height: 3em; }
        nav #trasporti:hover #dropdown li .selected, nav #liv-trasporti:target #dropdown li .selected {
          opacity: 1;
          background-color: #8eb7d6; }
        nav #trasporti:hover #dropdown li a, nav #liv-trasporti:target #dropdown li a {
          display: block;
          position: relative;
          width: 100%;
          height: 2.6em;
          padding: 0.2em 0;
          line-height: auto;
          text-align: center;
          background-color: #4c99d4;
          color: white;
          -webkit-transition: height 0.25;
          -moz-transition: height 0.25s;
          -o-transition: height 0.25s;
          transition: height 0.25s;
          z-index: 11; }
          nav #trasporti:hover #dropdown li a:hover, nav #liv-trasporti:target #dropdown li a:hover {
            opacity: 1;
            background-color: #75a9d2; }
    nav #trasporti {
      display: block;
      position: relative;
      width: 100%;
      min-height: 3em; }
      nav #trasporti #close2 {
        display: none;
        height: 0px;
        clear: none;
        left: -1000000px; }
      nav #trasporti ul {
        clear: both;
        display: block;
        position: relative;
        width: 100%;
        clear: both;
        height: 0em;
        left: -100000px;
        margin: 0;
        float: left;
        padding: 0; }
        nav #trasporti ul li {
          display: block;
          position: relative;
          clear: both;
          width: 100%;
          height: 0em; }
          nav #trasporti ul li a {
            display: inline-block;
            position: relative;
            width: 100%;
            height: 0em;
            margin: 0;
            line-height: auto;
            text-align: center;
            background-color: #4c99d4;
            color: white; } }
@media screen and (max-width: 80em) {
  body {
    margin: 0;
    padding: 0; } }
@media screen and (min-width: 80em) {
  body {
    width: 71.25em;
    margin: auto;
    padding: 0; }
    body header {
      width: 100%;
      padding: 0;
      margin: 0; } }
