@charset "UTF-8";
.navigation {
  display: table;
  position: relative;
  height: 1.8em;
  padding: 0;
  margin: 0;
  margin-top: 0.2em;
  background-color: #1C68AA;
  border-bottom: 1pt inset #1C68AA; }
  .navigation .wrapper {
    height: 1.8em;
    margin-top: 0;
    margin-bottom: 0;
    padding: 0;
    border: 0; }
  .navigation .menu-link {
    display: none; }
  .navigation .selected {
    background-color: #8DBF3F;
    border-width: 1pt 1pt 0 1pt;
    padding-bottom: 2pt;
    margin-bottom: -1pt;
    border-style: outset;
    border-color: #8DBF3F; }
    @media only screen and (min-width: 2500px) {
      .navigation .selected {
        padding-bottom: 3pt;
        margin-bottom: -2pt; } }
    .navigation .selected a {
      cursor: default;
      color: #030320; }
  .navigation ul {
    display: block;
    position: relative;
    list-style: none;
    height: 100%;
    margin: 0;
    padding: 0;
    border: 0; }
    .navigation ul li {
      display: inline-block;
      height: 1.8em;
      position: relative;
      float: left;
      margin: 0;
      padding: auto 0.4em;
      border: 0; }
      .navigation ul li:hover:not(.selected) a {
        color: #FFA01A; }
      .navigation ul li a {
        display: inline-block;
        position: relative;
        height: 100%;
        padding: 0 1em;
        margin: 0;
        line-height: 1.8em;
        text-align: center;
        color: #FFFFFF;
        text-decoration: none; }

@media screen and (max-width: 768px) {
  .navigation {
    margin: 0;
    padding: 0;
    height: auto;
    border-width: 2pt 0;
    border-style: groove;
    border-color: #1C68AA; }
    .navigation .wrapper {
      height: auto;
      /* Stile di base per il menù chiuso */
      /* Stile per i bottoni del menù di primo livello, quando sono visibili */ }
      .navigation .wrapper a {
        display: inline-block;
        clear: both;
        width: 80%;
        text-align: center;
        height: 2em;
        padding: 0.2em 10%;
        line-height: 2em;
        text-decoration: none; }
      .navigation .wrapper .menu-link {
        display: block;
        height: 1.5em;
        line-height: 1.5em;
        width: 70%;
        padding: 0.35em 15%;
        background-image: url("../img/menu-white.png");
        background-repeat: no-repeat;
        background-position: right center;
        background-size: 1.3em;
        color: #F4F0E6; }
        .navigation .wrapper .menu-link:hover {
          text-decoration: underline; }
      .navigation .wrapper #open {
        display: block; }
      .navigation .wrapper #close {
        display: none;
        background-image: url("../img/menu-white.png"); }
      .navigation .wrapper ul {
        display: block;
        position: absolute;
        list-style: none;
        margin: 0;
        padding: 0;
        width: 100%;
        height: auto;
        top: 0;
        left: -10000px; }
        .navigation .wrapper ul li {
          display: block;
          width: 100%;
          height: 0em;
          float: left;
          -webkit-transition: height 0.25;
          -moz-transition: height 0.25s;
          -o-transition: height 0.25s;
          transition: height 0.25s; }
          .navigation .wrapper ul li a {
            height: 100%;
            padding-left: 10%;
            padding-right: 10%;
            background-color: #FFFFFF;
            color: #327CCB; }
          .navigation .wrapper ul li:first-child {
            margin-top: 2px; }
          .navigation .wrapper ul li:hover:not(.selected) {
            border-bottom: none; }
            .navigation .wrapper ul li:hover:not(.selected) a {
              color: #FFA01A;
              text-decoration: underline; }
        .navigation .wrapper ul .selected a {
          background-color: #8DBF3F;
          color: #000000; }
      .navigation .wrapper:target #close {
        display: inline-block; }
      .navigation .wrapper:target #open {
        display: none; }
      .navigation .wrapper:target ul {
        display: block;
        position: relative;
        height: auto;
        left: 0px;
        top: 0; }
        .navigation .wrapper:target ul li {
          display: block;
          position: relative;
          height: 2.4em;
          margin: 0;
          border-top: 1px groove;
          border-bottom: 1px solid;
          line-height: auto;
          border-color: #000000; }
          .navigation .wrapper:target ul li:first-child {
            border-top: 2px groove; }
          .navigation .wrapper:target ul li:last-child {
            border-bottom: 2px groove; }

  .menuMobileVisible #menu {
    display: block;
    position: relative;
    height: auto;
    left: 0px;
    top: 0; }
    .menuMobileVisible #menu li {
      display: block;
      position: relative;
      height: 2.8em;
      margin: 0;
      border-top: 1px groove;
      border-bottom: 1px solid;
      line-height: auto;
      border-color: #000000; }
      .menuMobileVisible #menu li:first-child {
        border-top: 2px groove; }
      .menuMobileVisible #menu li:last-child {
        border-bottom: 2px groove; } }
html, body {
  height: 100%; }

.body-background {
  z-index: -2;
  margin: 0;
  padding: 0;
  border: 0;
  width: 100%;
  /*background-color: #8DBF3F;*/
  background: -webkit-linear-gradient(top, #8dbf3f, white);
  /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(bottom, #8dbf3f, white);
  /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(bottom, #8dbf3f, white);
  /* For Firefox 3.6 to 15 */
  background: linear-gradient(to bottom, #8dbf3f, white);
  /* Standard syntax */ }

@media screen and (max-width: 1280px) {
  body {
    margin: 0;
    padding: 0; } }
.wrapper {
  display: table;
  width: 100%; }

@media screen and (min-width: 1280px) {
  .wrapper {
    width: 1140px;
    margin: 0 auto;
    padding: 0; }
    .wrapper header {
      width: 100%;
      padding: 0;
      margin: 0; } }
