/* 
    Created on : 16-feb-2014, 17.35.40
    Author     : Lorenzo Di Giuseppe <lorenzo.digiuseppe88@gmail.com>
*/
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/loki\/NetBeansProjects\/FB\/public_html\/sass\/page-panel\.scss}line{font-family:\000036}}
.col-right {
  float: right; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/loki\/NetBeansProjects\/FB\/public_html\/sass\/page-panel\.scss}line{font-family:\000038}}
  .col-right:first-child {
    margin-left: 1.6%;
    margin-right: 0; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/loki\/NetBeansProjects\/FB\/public_html\/sass\/page-panel\.scss}line{font-family:\0000313}}
  .col-right:nth-child(2) {
    margin-left: 0;
    margin-right: 0; }

@media only screen and (min-width: 481px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/loki\/NetBeansProjects\/FB\/public_html\/sass\/page-panel\.scss}line{font-family:\0000323}}
  #page-menu {
    display: block;
    position: relative;
    margin-left: -2pt;
    margin-top: 0.2em;
    border-color: #666666;
    border-style: solid;
    border-width: 1pt;
    margin-bottom: 3em; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/loki\/NetBeansProjects\/FB\/public_html\/sass\/page-panel\.scss}line{font-family:\0000333}}
    #page-menu a:hover, #page-menu .selected {
      text-decoration: underline;
      background-color: #666666;
      color: #FFFFFF; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/loki\/NetBeansProjects\/FB\/public_html\/sass\/page-panel\.scss}line{font-family:\0000338}}
    #page-menu .selected {
      opacity: .6; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/loki\/NetBeansProjects\/FB\/public_html\/sass\/page-panel\.scss}line{font-family:\0000341}}
    #page-menu a {
      display: block;
      height: 2em;
      padding: 0.2em auto;
      margin: auto;
      text-align: center;
      line-height: 2em;
      background-color: #FFFFFF;
      text-decoration: none;
      color: #666666; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/loki\/NetBeansProjects\/FB\/public_html\/sass\/page-panel\.scss}line{font-family:\0000352}}
      #page-menu a:hover {
        opacity: .7; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/loki\/NetBeansProjects\/FB\/public_html\/sass\/page-panel\.scss}line{font-family:\0000358}}
  .paragraph {
    border-style: outset;
    border-color: #F2E9C2;
    color: #666666;
    margin-bottom: 0.4em; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/loki\/NetBeansProjects\/FB\/public_html\/sass\/page-panel\.scss}line{font-family:\0000364}}
    .paragraph h1, .paragraph h2, .paragraph h3, .paragraph h4, .paragraph h5, .paragraph h6 {
      color: #4C99D4;
      display: block;
      position: relative;
      width: 78%;
      padding: 0.2em 10%;
      padding-bottom: 0.8em;
      height: auto;
      text-decoration: none;
      text-align: center; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/loki\/NetBeansProjects\/FB\/public_html\/sass\/page-panel\.scss}line{font-family:\0000376}}
    .paragraph p {
      margin: 0.5em 0.5em; } }
@media only screen and (max-width: 480px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/loki\/NetBeansProjects\/FB\/public_html\/sass\/page-panel\.scss}line{font-family:\0000384}}
  #transport-img {
    position: relative; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/loki\/NetBeansProjects\/FB\/public_html\/sass\/page-panel\.scss}line{font-family:\0000388}}
  #page-menu {
    display: block;
    position: relative;
    margin-left: -2pt;
    margin-top: 0.2em;
    border-color: #666666;
    border-style: solid;
    border-width: 1pt;
    margin-bottom: 1em; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/loki\/NetBeansProjects\/FB\/public_html\/sass\/page-panel\.scss}line{font-family:\0000398}}
    #page-menu a:hover, #page-menu .selected {
      text-decoration: underline;
      background-color: #666666;
      color: #FFFFFF; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/loki\/NetBeansProjects\/FB\/public_html\/sass\/page-panel\.scss}line{font-family:\00003103}}
    #page-menu .selected {
      opacity: .6; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/loki\/NetBeansProjects\/FB\/public_html\/sass\/page-panel\.scss}line{font-family:\00003106}}
    #page-menu a {
      display: block;
      height: 2em;
      padding: 0.2em auto;
      margin: auto;
      text-align: center;
      line-height: 2em;
      background-color: #FFFFFF;
      text-decoration: none;
      color: #666666; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/loki\/NetBeansProjects\/FB\/public_html\/sass\/page-panel\.scss}line{font-family:\00003117}}
      #page-menu a:hover {
        opacity: .7; } }
