/* 
    Created on : 16-feb-2014, 10.59.34
    Author     : Lorenzo Di Giuseppe <lorenzo.digiuseppe88@gmail.com>
*/
@media only screen and (min-width: 481px) {
  #responsive-tab {
    clear: both;
    display: block;
    position: relative;
    width: 100%;
    margin: 2em auto; }
    #responsive-tab .tab-panel {
      display: block;
      position: relative;
      height: auto !important;
      float: left;
      width: 20%; }
      #responsive-tab .tab-panel:first-child {
        top: 0; }
        #responsive-tab .tab-panel:first-child:target a {
          z-index: 2;
          border-style: ridge;
          border-bottom: none; }
        #responsive-tab .tab-panel:first-child:target .tab-content {
          display: block;
          left: 0;
          z-index: 1;
          position: relative; }
      #responsive-tab .tab-panel:nth-child(2) {
        top: 0; }
        #responsive-tab .tab-panel:nth-child(2):target a {
          z-index: 3;
          border-style: ridge;
          border-bottom: none; }
        #responsive-tab .tab-panel:nth-child(2):target .tab-content {
          display: block;
          left: -100%;
          position: relative; }
      #responsive-tab .tab-panel:nth-child(3) {
        top: 0; }
        #responsive-tab .tab-panel:nth-child(3):target a {
          z-index: 3;
          border-style: ridge;
          border-bottom: none; }
        #responsive-tab .tab-panel:nth-child(3):target .tab-content {
          display: block;
          left: -200%;
          position: relative; }
      #responsive-tab .tab-panel:nth-child(4) {
        top: 0; }
        #responsive-tab .tab-panel:nth-child(4):target a {
          z-index: 3;
          border-style: ridge;
          border-bottom: none; }
        #responsive-tab .tab-panel:nth-child(4):target .tab-content {
          display: block;
          left: -300%;
          position: relative; }
      #responsive-tab .tab-panel:nth-child(5) {
        top: 0; }
        #responsive-tab .tab-panel:nth-child(5):target a {
          z-index: 3;
          border-style: ridge;
          border-bottom: none; }
        #responsive-tab .tab-panel:nth-child(5):target .tab-content {
          display: block;
          left: -400%;
          position: relative; }
      #responsive-tab .tab-panel a {
        display: block;
        position: relative;
        width: 80%;
        height: 3em;
        padding: 0.2em 7%;
        margin: auto;
        text-align: center;
        border-radius: 0.5em;
        border-style: ridge;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
        border-color: #70AB4B;
        border-width: 2pt;
        background-color: #FFFFFF;
        text-decoration: none;
        color: #666666;
        font-weight: 3pt bold; }
        #responsive-tab .tab-panel a:hover {
          text-decoration: underline;
          background-color: #F2E9C2; }
      #responsive-tab .tab-panel .tab-content {
        display: block;
        position: relative;
        float: left;
        left: -100000px;
        width: 498%;
        border-style: ridge;
        top: -2pt;
        border-color: #F2E9C2;
        border-width: 2pt;
        background-color: #FFFFFF;
        margin: 0 auto;
        margin-bottom: 2em;
        z-index: 2;
        color: #666666; }
        #responsive-tab .tab-panel .tab-content h5 {
          text-align: center; }
        #responsive-tab .tab-panel .tab-content img {
          float: left;
          max-width: 100%; } }
