/* 
    Created on : 16-feb-2014, 10.59.34
    Author     : Lorenzo Di Giuseppe <lorenzo.digiuseppe88@gmail.com>
*/
@media only screen and (min-width: 481px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/loki\/NetBeansProjects\/FB\/public_html\/sass\/tab\.scss}line{font-family:\000038}}
  #responsive-tab {
    clear: both;
    display: block;
    position: relative;
    width: 100%;
    margin: 2em auto; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/loki\/NetBeansProjects\/FB\/public_html\/sass\/tab\.scss}line{font-family:\0000315}}
    #responsive-tab .icon {
      display: none; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/loki\/NetBeansProjects\/FB\/public_html\/sass\/tab\.scss}line{font-family:\0000319}}
    #responsive-tab .wrap {
      display: block;
      position: relative;
      margin: 0;
      padding: 0;
      border: 0;
      width: 100%;
      height: 100%; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/loki\/NetBeansProjects\/FB\/public_html\/sass\/tab\.scss}line{font-family:\0000329}}
    #responsive-tab .tab-panel {
      display: block;
      position: relative;
      height: auto !important;
      float: left;
      width: 20%; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/loki\/NetBeansProjects\/FB\/public_html\/sass\/tab\.scss}line{font-family:\0000337}}
    #responsive-tab #trasporto-gomma .tab-panel:first-child {
      top: 0; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/loki\/NetBeansProjects\/FB\/public_html\/sass\/tab\.scss}line{font-family:\0000339}}
      #responsive-tab #trasporto-gomma .tab-panel:first-child a {
        opacity: .6;
        z-index: 3; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/loki\/NetBeansProjects\/FB\/public_html\/sass\/tab\.scss}line{font-family:\0000344}}
      #responsive-tab #trasporto-gomma .tab-panel:first-child .tab-content {
        display: block;
        left: 0;
        z-index: 1;
        position: relative; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/loki\/NetBeansProjects\/FB\/public_html\/sass\/tab\.scss}line{font-family:\0000356}}
    #responsive-tab #trasporto-ferroviario:target .tab-panel:first-child a {
      opacity: 1; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/loki\/NetBeansProjects\/FB\/public_html\/sass\/tab\.scss}line{font-family:\0000359}}
    #responsive-tab #trasporto-ferroviario:target .tab-panel:first-child .tab-content {
      left: -100000px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/loki\/NetBeansProjects\/FB\/public_html\/sass\/tab\.scss}line{font-family:\0000364}}
    #responsive-tab #trasporto-ferroviario:target .tab-panel:nth-child(2) {
      top: 0; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/loki\/NetBeansProjects\/FB\/public_html\/sass\/tab\.scss}line{font-family:\0000366}}
      #responsive-tab #trasporto-ferroviario:target .tab-panel:nth-child(2) a {
        opacity: .6;
        z-index: 3; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/loki\/NetBeansProjects\/FB\/public_html\/sass\/tab\.scss}line{font-family:\0000371}}
      #responsive-tab #trasporto-ferroviario:target .tab-panel:nth-child(2) .tab-content {
        left: -100%; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/loki\/NetBeansProjects\/FB\/public_html\/sass\/tab\.scss}line{font-family:\0000383}}
    #responsive-tab #trasporto-marittimo:target .tab-panel:first-child a {
      opacity: 1; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/loki\/NetBeansProjects\/FB\/public_html\/sass\/tab\.scss}line{font-family:\0000386}}
    #responsive-tab #trasporto-marittimo:target .tab-panel:first-child .tab-content {
      left: -100000px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/loki\/NetBeansProjects\/FB\/public_html\/sass\/tab\.scss}line{font-family:\0000392}}
    #responsive-tab #trasporto-marittimo:target .tab-panel:nth-child(3) {
      top: 0; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/loki\/NetBeansProjects\/FB\/public_html\/sass\/tab\.scss}line{font-family:\0000394}}
      #responsive-tab #trasporto-marittimo:target .tab-panel:nth-child(3) a {
        opacity: .6;
        z-index: 3; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/loki\/NetBeansProjects\/FB\/public_html\/sass\/tab\.scss}line{font-family:\0000399}}
      #responsive-tab #trasporto-marittimo:target .tab-panel:nth-child(3) .tab-content {
        left: -200%; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/loki\/NetBeansProjects\/FB\/public_html\/sass\/tab\.scss}line{font-family:\00003111}}
    #responsive-tab #trasporto-aereo:target .tab-panel:first-child a {
      opacity: 1; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/loki\/NetBeansProjects\/FB\/public_html\/sass\/tab\.scss}line{font-family:\00003114}}
    #responsive-tab #trasporto-aereo:target .tab-panel:first-child .tab-content {
      left: -100000px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/loki\/NetBeansProjects\/FB\/public_html\/sass\/tab\.scss}line{font-family:\00003119}}
    #responsive-tab #trasporto-aereo:target .tab-panel:nth-child(4) {
      top: 0; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/loki\/NetBeansProjects\/FB\/public_html\/sass\/tab\.scss}line{font-family:\00003121}}
      #responsive-tab #trasporto-aereo:target .tab-panel:nth-child(4) a {
        z-index: 3;
        opacity: .6; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/loki\/NetBeansProjects\/FB\/public_html\/sass\/tab\.scss}line{font-family:\00003126}}
      #responsive-tab #trasporto-aereo:target .tab-panel:nth-child(4) .tab-content {
        left: -300%; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/loki\/NetBeansProjects\/FB\/public_html\/sass\/tab\.scss}line{font-family:\00003138}}
    #responsive-tab #trasporto-combinato:target .tab-panel:first-child a {
      opacity: 1; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/loki\/NetBeansProjects\/FB\/public_html\/sass\/tab\.scss}line{font-family:\00003141}}
    #responsive-tab #trasporto-combinato:target .tab-panel:first-child .tab-content {
      left: -100000px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/loki\/NetBeansProjects\/FB\/public_html\/sass\/tab\.scss}line{font-family:\00003146}}
    #responsive-tab #trasporto-combinato:target .tab-panel:nth-child(5) {
      top: 0; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/loki\/NetBeansProjects\/FB\/public_html\/sass\/tab\.scss}line{font-family:\00003148}}
      #responsive-tab #trasporto-combinato:target .tab-panel:nth-child(5) a {
        opacity: .6;
        z-index: 3; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/loki\/NetBeansProjects\/FB\/public_html\/sass\/tab\.scss}line{font-family:\00003153}}
      #responsive-tab #trasporto-combinato:target .tab-panel:nth-child(5) .tab-content {
        left: -400%; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/loki\/NetBeansProjects\/FB\/public_html\/sass\/tab\.scss}line{font-family:\00003162}}
    #responsive-tab a {
      display: block;
      position: relative;
      width: 90%;
      height: 3em;
      padding: 0.2em -2pt;
      margin: auto 5%;
      text-align: center;
      border-style: inset;
      border-color: #F2E9C2;
      border-width: 2pt;
      background-color: #4C99D4;
      color: #FFFFFF;
      text-decoration: none;
      font-weight: 3pt bold;
      /*            &:first-child {
                      margin-left: 0;
                  }*/ }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/loki\/NetBeansProjects\/FB\/public_html\/sass\/tab\.scss}line{font-family:\00003182}}
      #responsive-tab a:hover {
        text-decoration: underline;
        background-color: #75a9d2; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/loki\/NetBeansProjects\/FB\/public_html\/sass\/tab\.scss}line{font-family:\00003188}}
    #responsive-tab .close {
      display: none; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/loki\/NetBeansProjects\/FB\/public_html\/sass\/tab\.scss}line{font-family:\00003192}}
    #responsive-tab .tab-content {
      display: block;
      position: relative;
      float: left;
      left: -100000px;
      width: 499%;
      border-top-style: groove;
      border-color: #F2E9C2;
      border-top-width: 2pt;
      background-color: #FFFFFF;
      margin: 0.2em auto;
      margin-bottom: 2em;
      z-index: 2;
      color: #666666;
      /*                img{
                      float: left;
                      max-width: 100%;
                  }*/ }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/loki\/NetBeansProjects\/FB\/public_html\/sass\/tab\.scss}line{font-family:\00003207}}
      #responsive-tab .tab-content h5 {
        text-align: center; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/loki\/NetBeansProjects\/FB\/public_html\/sass\/tab\.scss}line{font-family:\00003211}}
      #responsive-tab .tab-content p {
        margin: 1em 0.5em; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/loki\/NetBeansProjects\/FB\/public_html\/sass\/tab\.scss}line{font-family:\00003215}}
      #responsive-tab .tab-content .intro {
        display: block;
        position: relative; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/loki\/NetBeansProjects\/FB\/public_html\/sass\/tab\.scss}line{font-family:\00003220}}
      #responsive-tab .tab-content .body {
        display: inline-block;
        position: relative; } }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/loki\/NetBeansProjects\/FB\/public_html\/sass\/tab\.scss}line{font-family:\00003233}}
.img-wrapper {
  display: block;
  position: relative;
  width: 90%;
  margin: auto; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/loki\/NetBeansProjects\/FB\/public_html\/sass\/tab\.scss}line{font-family:\00003239}}
  .img-wrapper img {
    display: block;
    max-width: 100%; }

@media only screen and (max-width: 480px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/loki\/NetBeansProjects\/FB\/public_html\/sass\/tab\.scss}line{font-family:\00003247}}
  #responsive-tab {
    clear: both;
    display: block;
    position: relative;
    margin: 2em auto; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/loki\/NetBeansProjects\/FB\/public_html\/sass\/tab\.scss}line{font-family:\00003253}}
    #responsive-tab .close {
      display: none; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/loki\/NetBeansProjects\/FB\/public_html\/sass\/tab\.scss}line{font-family:\00003257}}
    #responsive-tab .wrap {
      display: block;
      position: relative;
      margin: 0;
      padding: 0;
      border: 0;
      width: 100%;
      height: 100%; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/loki\/NetBeansProjects\/FB\/public_html\/sass\/tab\.scss}line{font-family:\00003266}}
    #responsive-tab .tab-panel {
      display: block;
      position: relative;
      height: auto !important;
      float: left;
      width: 100%; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/loki\/NetBeansProjects\/FB\/public_html\/sass\/tab\.scss}line{font-family:\00003273}}
      #responsive-tab .tab-panel .icon {
        display: block;
        position: absolute;
        right: 0;
        top: 0;
        height: 2em;
        width: 2em;
        margin: 0.7em;
        background-image: url("../img/arrow-right.png");
        background-size: 2em 2em;
        z-index: 4; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/loki\/NetBeansProjects\/FB\/public_html\/sass\/tab\.scss}line{font-family:\00003289}}
    #responsive-tab #trasporto-gomma:target .tab-panel:first-child {
      top: 0; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/loki\/NetBeansProjects\/FB\/public_html\/sass\/tab\.scss}line{font-family:\00003292}}
      #responsive-tab #trasporto-gomma:target .tab-panel:first-child .icon {
        background-image: url("../img/arrow-down.png"); }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/loki\/NetBeansProjects\/FB\/public_html\/sass\/tab\.scss}line{font-family:\00003295}}
      #responsive-tab #trasporto-gomma:target .tab-panel:first-child a {
        display: none;
        opacity: .6; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/loki\/NetBeansProjects\/FB\/public_html\/sass\/tab\.scss}line{font-family:\00003300}}
      #responsive-tab #trasporto-gomma:target .tab-panel:first-child .close {
        display: block; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/loki\/NetBeansProjects\/FB\/public_html\/sass\/tab\.scss}line{font-family:\00003304}}
      #responsive-tab #trasporto-gomma:target .tab-panel:first-child .tab-content {
        position: relative;
        height: auto;
        left: 0; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/loki\/NetBeansProjects\/FB\/public_html\/sass\/tab\.scss}line{font-family:\00003317}}
    #responsive-tab #trasporto-ferroviario:target .tab-panel:nth-child(2) {
      top: 0; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/loki\/NetBeansProjects\/FB\/public_html\/sass\/tab\.scss}line{font-family:\00003320}}
      #responsive-tab #trasporto-ferroviario:target .tab-panel:nth-child(2) .icon {
        background-image: url("../img/arrow-down.png"); }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/loki\/NetBeansProjects\/FB\/public_html\/sass\/tab\.scss}line{font-family:\00003323}}
      #responsive-tab #trasporto-ferroviario:target .tab-panel:nth-child(2) a {
        display: none;
        opacity: .6; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/loki\/NetBeansProjects\/FB\/public_html\/sass\/tab\.scss}line{font-family:\00003328}}
      #responsive-tab #trasporto-ferroviario:target .tab-panel:nth-child(2) .close {
        display: block; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/loki\/NetBeansProjects\/FB\/public_html\/sass\/tab\.scss}line{font-family:\00003332}}
      #responsive-tab #trasporto-ferroviario:target .tab-panel:nth-child(2) .tab-content {
        position: relative;
        height: auto;
        left: 0; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/loki\/NetBeansProjects\/FB\/public_html\/sass\/tab\.scss}line{font-family:\00003347}}
    #responsive-tab #trasporto-marittimo:target .tab-panel:nth-child(3) {
      top: 0; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/loki\/NetBeansProjects\/FB\/public_html\/sass\/tab\.scss}line{font-family:\00003350}}
      #responsive-tab #trasporto-marittimo:target .tab-panel:nth-child(3) .icon {
        background-image: url("../img/arrow-down.png"); }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/loki\/NetBeansProjects\/FB\/public_html\/sass\/tab\.scss}line{font-family:\00003353}}
      #responsive-tab #trasporto-marittimo:target .tab-panel:nth-child(3) a {
        display: none;
        opacity: .6; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/loki\/NetBeansProjects\/FB\/public_html\/sass\/tab\.scss}line{font-family:\00003358}}
      #responsive-tab #trasporto-marittimo:target .tab-panel:nth-child(3) .close {
        display: block; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/loki\/NetBeansProjects\/FB\/public_html\/sass\/tab\.scss}line{font-family:\00003362}}
      #responsive-tab #trasporto-marittimo:target .tab-panel:nth-child(3) .tab-content {
        position: relative;
        height: auto;
        left: 0; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/loki\/NetBeansProjects\/FB\/public_html\/sass\/tab\.scss}line{font-family:\00003377}}
    #responsive-tab #trasporto-aereo:target .tab-panel:nth-child(4) {
      top: 0; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/loki\/NetBeansProjects\/FB\/public_html\/sass\/tab\.scss}line{font-family:\00003380}}
      #responsive-tab #trasporto-aereo:target .tab-panel:nth-child(4) .icon {
        background-image: url("../img/arrow-down.png"); }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/loki\/NetBeansProjects\/FB\/public_html\/sass\/tab\.scss}line{font-family:\00003383}}
      #responsive-tab #trasporto-aereo:target .tab-panel:nth-child(4) a {
        display: none;
        opacity: .6; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/loki\/NetBeansProjects\/FB\/public_html\/sass\/tab\.scss}line{font-family:\00003388}}
      #responsive-tab #trasporto-aereo:target .tab-panel:nth-child(4) .close {
        display: block; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/loki\/NetBeansProjects\/FB\/public_html\/sass\/tab\.scss}line{font-family:\00003392}}
      #responsive-tab #trasporto-aereo:target .tab-panel:nth-child(4) .tab-content {
        position: relative;
        height: auto;
        left: 0; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/loki\/NetBeansProjects\/FB\/public_html\/sass\/tab\.scss}line{font-family:\00003408}}
    #responsive-tab #trasporto-combinato:target .tab-panel:nth-child(5) {
      top: 0; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/loki\/NetBeansProjects\/FB\/public_html\/sass\/tab\.scss}line{font-family:\00003411}}
      #responsive-tab #trasporto-combinato:target .tab-panel:nth-child(5) .icon {
        background-image: url("../img/arrow-down.png"); }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/loki\/NetBeansProjects\/FB\/public_html\/sass\/tab\.scss}line{font-family:\00003414}}
      #responsive-tab #trasporto-combinato:target .tab-panel:nth-child(5) a {
        display: none;
        opacity: .6; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/loki\/NetBeansProjects\/FB\/public_html\/sass\/tab\.scss}line{font-family:\00003419}}
      #responsive-tab #trasporto-combinato:target .tab-panel:nth-child(5) .close {
        display: block; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/loki\/NetBeansProjects\/FB\/public_html\/sass\/tab\.scss}line{font-family:\00003423}}
      #responsive-tab #trasporto-combinato:target .tab-panel:nth-child(5) .tab-content {
        position: relative;
        height: auto;
        left: 0; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/loki\/NetBeansProjects\/FB\/public_html\/sass\/tab\.scss}line{font-family:\00003434}}
    #responsive-tab a {
      display: block;
      position: relative;
      width: 100%;
      height: 3em;
      padding: 0.2em 0;
      margin: auto;
      text-align: center;
      border-bottom-style: groove;
      border-color: #F2E9C2;
      border-bottom-width: 0.5%;
      background-color: #4C99D4;
      color: #FFFFFF;
      text-decoration: none;
      font-weight: 3pt bold; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/loki\/NetBeansProjects\/FB\/public_html\/sass\/tab\.scss}line{font-family:\00003452}}
      #responsive-tab a:hover {
        text-decoration: underline;
        background-color: #75a9d2; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/loki\/NetBeansProjects\/FB\/public_html\/sass\/tab\.scss}line{font-family:\00003458}}
    #responsive-tab .tab-content {
      display: block;
      position: absolute;
      left: -100000px;
      width: 100%;
      height: 0;
      border-style: inset none;
      border-color: #FFFFFF;
      border-width: 1pt;
      background-color: #F2E9C2;
      margin: auto auto;
      padding-bottom: 1em;
      z-index: 2;
      color: #666666; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/loki\/NetBeansProjects\/FB\/public_html\/sass\/tab\.scss}line{font-family:\00003473}}
      #responsive-tab .tab-content h5 {
        text-align: center; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/loki\/NetBeansProjects\/FB\/public_html\/sass\/tab\.scss}line{font-family:\00003477}}
      #responsive-tab .tab-content .content-box {
        border: 0; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/loki\/NetBeansProjects\/FB\/public_html\/sass\/tab\.scss}line{font-family:\00003481}}
      #responsive-tab .tab-content p {
        margin: 1em 0.5em; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/loki\/NetBeansProjects\/FB\/public_html\/sass\/tab\.scss}line{font-family:\00003485}}
      #responsive-tab .tab-content .intro {
        display: block;
        position: relative; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/loki\/NetBeansProjects\/FB\/public_html\/sass\/tab\.scss}line{font-family:\00003490}}
      #responsive-tab .tab-content .body {
        display: inline-block;
        position: relative; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/loki\/NetBeansProjects\/FB\/public_html\/sass\/tab\.scss}line{font-family:\00003495}}
      #responsive-tab .tab-content img {
        float: left;
        max-width: 100%; } }
