/* 
    Created on : 18-feb-2014, 23.02.43
    Author     : Lorenzo Di Giuseppe <lorenzo.digiuseppe88@gmail.com>
*/
h1, h2, h3, h4, h5, h6 {
  color: #E2E5DF; }

#logo-text {
  font-family: Times New Roman, Boldoni; }
  #logo-text h4 {
    font-size: 2em;
    color: #1C68AA; }
  #logo-text h6 {
    font-size: 1em;
    color: #1C68AA; }

#sol-trasporti .content-box .header {
  font-size: 1.2em; }

nav {
  font-family: Arial, Verdana;
  font-size: 1.1em;
  /*    font-weight: bold;*/ }

.infoWindow {
  font-family: Arial, Verdana; }

#main-image .image-mask h5 {
  color: #FFFFFF;
  font-family: Times New Roman, Boldoni;
  line-height: 1.6em;
  font-size: 1.6em; }
#main-image .image-mask p {
  color: #FFFFFF;
  font-family: Arial, Verdana;
  font-size: 1em; }

#tab a {
  font-family: Arial, Verdana;
  font-size: 1.1em; }

.content-box .header h4 {
  font-size: 1.2em; }
.content-box h1, .content-box h2, .content-box h3, .content-box h4, .content-box h5, .content-box h6 {
  font-family: Times New Roman, Boldoni; }
.content-box h6 {
  line-height: 2em;
  font-size: 1em; }
.content-box p {
  font-family: Arial, Verdana;
  line-height: 1.5em; }

footer {
  font-family: Arial, Verdana; }
