/* 
    Created on : 18-feb-2014, 23.02.43
    Author     : Lorenzo Di Giuseppe <lorenzo.digiuseppe88@gmail.com>
*/
@font-face {
  font-family: 'shantiregular';
  src: url("../css/fonts/shanti-regular-webfont.eot");
  src: url("../css/fonts/shanti-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../css/fonts/shanti-regular-webfont.woff") format("woff"), url("../css/fonts/shanti-regular-webfont.ttf") format("truetype"), url("../css/fonts/shanti-regular-webfont.svg#shantiregular") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'alluraregular';
  src: url("../css/fonts/allura-regular-webfont.eot");
  src: url("../css/fonts/allura-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../css/fonts/allura-regular-webfont.woff") format("woff"), url("../css/fonts/allura-regular-webfont.ttf") format("truetype"), url("../css/fonts/allura-regular-webfont.svg#alluraregular") format("svg");
  font-weight: normal;
  font-style: normal; }
