{% extends "main/trasporti/base.html" %}
{% load i18n %}

{% block title %}<title>FB Sped S.r.l. - {% trans "Trasporto ferroviario" %}</title>{% endblock %}

{% block breadcrumb-path %}<span class="mobile_content">{% trans "Trasporti" %}</span><a class="desktop_content" href="{% url trasporti %}">{% trans "Trasporti" %}</a><span class="desktop_content">&nbsp;- {% trans "Trasporto ferroviario" %}</span>{% endblock %}

{% block tab-menu-rail %}<div id="trasporto-ferroviario-link" class="menu-button selected"><div class="icon"></div><a data-target="#trasporto-ferroviario" href="{% url trasporto-ferroviario %}">{% trans "Trasporto ferroviario" %}</a></div>{% endblock %}

{% block tab-image %}
    <div class="lazy-image" id="image-ferroviario">
        <img class="img" src="/static/img/blank_small.png" alt="Treno che trasporta merci." />
    </div>
{% endblock %}

{% block tab-pane-rail %}
    <div data-trigger="#trasporto-ferroviario-link" data-title="FB Sped S.r.l - Trasporto ferroviario" class="tab_pane current" id="trasporto-ferroviario">
        <div class="accordion-button" id="train">
            <a class="open" href="{% url trasporto-ferroviario %}"><div class="accordion_icon icon"></div><div>{% trans "Trasporto ferroviario" %}</div><div class="accordion_icon"></div></a>
            <a class="close" href="#tab"><div class="accordion_icon icon"></div><div>{% trans "Trasporto ferroviario" %}</div><div class="accordion_icon"></div></a>
        </div>
        <div class="decorator"></div>
        <div class="content-box tab_page color_white">
            <div class="header color_blue">
                <h4>{% trans "I nostri servizi per il trasporto ferroviario" %}</h4>
            </div>
            <p>
                {% trans "Descrizione del servizio di trasporto ferroviario" %}
            </p>
            <div class="tab-image">
                <div class="lazy-image" id="image-ferroviario">
                    <img class="img" src="/static/img/blank_small.png" alt="Treno che trasporta merci." />
                </div>
            </div>
        </div>
    </div>
{% endblock %}