{% extends "main/trasporti/base.html" %}
{% load i18n %}

{% block title %}<title>FB Sped S.r.l. - {% trans "Trasporto su gomma" %}</title>{% endblock %}

{% block breadcrumb-path %}<span class="mobile_content">{% trans "Trasporti" %}</span><a class="desktop_content" href="{% url trasporti %}">{% trans "Trasporti" %}</a><span class="desktop_content">&nbsp;- {% trans "Trasporto su gomma" %}</span>{% endblock %}

{% block tab-menu-tyre %}<div id="trasporto-gomma-link" class="menu-button selected"><div class="icon"></div><a data-target="#trasporto-gomma" href="{% url trasporto-gomma %}">{% trans "Trasporto su gomma" %}</a></div>{% endblock %}

{% block tab-image %}
    <div class="lazy-image" id="image-gomma">
        <img class="img" src="/static/img/blank_small.png" alt="Camion per il trasporto su gomma." />
    </div>
{% endblock %}

{% block tab-pane-tyre %}
    <div data-trigger="#trasporto-gomma-link" data-title="FB Sped S.r.l - Trasporto su gomma" class="tab_pane current" id="trasporto-gomma">
        <div class="accordion-button" id="truck">
            <a class="open" href="{% url trasporto-gomma %}"><div class="accordion_icon icon"></div><div>{% trans "Trasporto su gomma" %}</div><div class="accordion_icon"></div></a>
            <a class="close" href="#tab"><div class="accordion_icon icon"></div><div>{% trans "Trasporto su gomma" %}</div><div class="accordion_icon"></div></a>
        </div>
        <div class="decorator"></div>
        <div class="content-box tab_page color_white">
            <div class="header color_blue">
                <h4>{% trans "I nostri servizi per il trasporto su gomma" %}</h4>
            </div>
            <p>
                {% trans "Descrizione del servizio di trasporto su gomma" %}
            </p>
            <div class="tab-image">
                <div class="lazy-image" id="image-gomma">
                    <img class="img" src="/static/img/blank_small.png" alt="Camion per il trasporto su gomma." />
                </div>
            </div>
        </div>
    </div>
{% endblock %}