/* 
    Created on : 21-mar-2014, 22.42.51
    Author     : Lorenzo Di Giuseppe
*/

@mixin border-box(){
    -webkit-box-sizing: border-box; /* Android ≤ 2.3, iOS ≤ 4 */
     -moz-box-sizing: border-box; /* Firefox 1+ */
          box-sizing: border-box; /* Chrome, IE 8+, Opera, Safari 5.1 */
}

@mixin content-box(){
    -webkit-box-sizing: content-box; /* Android ≤ 2.3, iOS ≤ 4 */
     -moz-box-sizing: content-box; /* Firefox 1+ */
          box-sizing: content-box; /* Chrome, IE 8+, Opera, Safari 5.1 */
}

$number_of_page: 5;
$controls_to_top: 35%;

.gallery{
    overflow: hidden;
    position: relative;
    
    ul{
        list-style: none;
        margin: 0;
        padding: 0;
        li{
            display: none;
            position: relative;
            width: 100%;
            height: 100%;
            float: left;
            label{
                display: block;
                width: 100%;
                height: 100%;
                cursor: pointer;
            }
        }
    }
    
    .carousel{
        clear: both;
        display: block;
        position: relative;
        width: 85%;
        height: 13em;
        margin: 0.5em auto;
        overflow: hidden; //usato per eliminare i floats
        
        .panes{
            display: block;
            width: $number_of_page * 100%;
            @include border-box;
            border-width: 1pt;
            border-style: inset;
            border-color: #1C68AA;
            height: 100%;
            padding: 0;
            margin: 0;
            
            li{
                display: block;
                position: relative;
                list-style: none;
                padding: 0;
                float: left;
                margin: 0;
                height: 100%;
                width: 20%;
                
                h5{
                    display: block;
                    position: absolute;
                    height: 1.5em;
                    width: 100%;
                    top: 0;
                    left: 0;
                    background-color: #1C68AA;
                    color: #FFFFFF;
                    text-align: center;
                }
                
                img{
                    width: 100%;
                    height: 100%;
                }
            }
        }
    }
    
    .controls{
        display: block;
        position: absolute;
        top: $controls_to_top;
        width: 3em;
        height: 3em;
        background-repeat: no-repeat;
        background-position: center center;
        background-size: 100% 100%;
        cursor: pointer;
        
        ul{
            display: block;
            width: 100%;
            height: 100%;
        }
        li{
            display: none;
            float: left;
        }
    }
    
    .left{
        left: 1%;
        background-image: url('../img/icons/slider-left.png');
    }
    
    .right{
        right: 1%;
        background-image: url('../img/icons/slider-right.png');
    }
    
    .bottom{
        display: block;
        position: relative;
        height: 1em;
        width: 7em;
        margin: 0.5em auto;
        
        ul{
            display: block;
            margin: auto;
            height: 100%;
            width: 100%;
            
            li{
                display: block;
                @include border-box;
                width: 1em;
                height: 1em;
                cursor: pointer;
                margin: auto;
                margin-left: 0.5em;
                padding: 0;
                float: left;
                border-radius: 50%;
                border-width: 1pt;
                border-color: #1C68AA;
                border-style: inset;
                background-color: #327CCB;
                
                &:first-child{
                    margin-left: 0;
                }
            }
        }
    }
    
    input {
        display: none;
        
        &:nth-child(1):checked ~ .controls li:nth-child(1){display: block;}
        &:nth-child(2):checked ~ .controls li:nth-child(2){display: block;}
        &:nth-child(3):checked ~ .controls li:nth-child(3){display: block;}
        &:nth-child(4):checked ~ .controls li:nth-child(4){display: block;}
        &:nth-child(5):checked ~ .controls li:nth-child(5){display: block;}
        
        &:nth-child(1):checked ~ .bottom li:nth-child(1){background-color: #000;}
        &:nth-child(2):checked ~ .bottom li:nth-child(2){background-color: #000;}
        &:nth-child(3):checked ~ .bottom li:nth-child(3){background-color: #000;}
        &:nth-child(4):checked ~ .bottom li:nth-child(4){background-color: #000;}
        &:nth-child(5):checked ~ .bottom li:nth-child(5){background-color: #000;}
    }
}
