/* 
    Created on : 9-feb-2014, 18.15.20
    Author     : Lorenzo Di Giuseppe <lorenzo.digiuseppe88@gmail.com>
*/

body{
    /*overflow-x: hidden;*/
}

header{
    display: block;
    background-color: #000000;
    padding-top: 1em;
        
    #logo {
        display: block;
        position: relative;
        padding: 0;
        border: 0;
        #logo-img{
            
            display: inline-table;
            float: left;
            height: 4em;
            width: 8em;
            margin: 0 5%;
            
            a {
                z-index: 2;
                display: table;
                width: 100%;
                height: 100%;
                float: left;
                position: relative;
                
                img{
                    display: block;
                    max-height: 4em;
                    max-width: 8em;
                    float: left;
                    margin: auto 0;
                }
            }

            
        }
        
    
        #logo-text{
            display: block;
            position: relative;
            color: #DFEBF6;
            margin: auto;

            h4{
                display: block;
                color: #DFEBF6;
                font-family: 'sorts_mill_goudyregular';
                font-size: 20pt;
                padding: 0;
                margin: 0 auto;
                margin-bottom: 0.1em;
            }

            h6{
                display: block;
                color: #DFEBF6;
                font-family: 'sorts_mill_goudyregular';
                font-size: 10pt;
                margin: 0;
                padding: 0;
            }

            display: block;
            position: relative;
            color: #FFFFFF;
        }
    }
    
    #breadcrumb {
        display: block;
        position: absolute;
        left: -10000px;
        height: 1.6em;
        padding: 0.2em 0;
        line-height: 2em;
    }
}

.inverse{
    float: right;
}

@media only screen and (max-width: 480px)
{
    header{
        #logo{
            #logo-img{
                width: 50%;
                height: auto;
                max-height: auto;
                margin: auto 25%;
                float: none;
                a{
                    margin: auto;
                    img{
                        float: none;
                        margin: 0 auto;
                    }
                }
                
            }
            #logo-text{
                width: 80%;
                float: none;
                margin: auto 10%;
                text-align: center;
            }
            
        }
    }
}

.img {
    display: block;
    position:relative;
    width: 100%;
    height: auto;
    margin: auto;
}



#language{
    display: block;
    position: relative;
    height: auto;
    
    
    a{
        display: block;
        position: relative;
        width: 50%;
        height: 2em;
        padding: 0;
        margin: 0.5em 0;
        float: left;
        
        img{
            display: block;
            float: left;
            height: 1.5em;
            margin: 0.25em 0.2em;
            margin: auto 0;
            vertical-align: middle;
        }
        
        span{
            display: block;
            width: 40%;
            height: 1.5em;
            margin: auto 0.2em;
            padding: 0.25em auto;
            line-height: 1.5em;
            float: left;
            color: #FFFFFF;
        }
        
                    
        &:hover{
            span{
                text-decoration: underline;
                text-decoration-style: wavy;
            }
        }
            
            
    }
}

@media only screen and (max-width: 481px)
{
    #language{
        margin-bottom: 0.4em;
        a{
            width: 30%;
            float: left;
            text-decoration: none;
           
            span{
                width: 50%;
            }
            
            &:first-child{
                margin-left: 15%;
                margin-right: 5%;
                span {
                    float: right;
                    text-align: right;
                }
                img{
                    float: right;
                }
            }
            
            &:last-child{
                margin-left: 5%;
                
                span{
                    float: left;
                    text-align: left;
                }
            }
            
 

        }
    }
}



@media only screen and (min-width: 481px) and (max-width: 768px)
{
    #language{
        a{
            float: none;
            width: 100%;
        }
    }
}

#main-image{
    display: block;
    position: relative;

    
    img{
        display: block;
        width: 100%;
        position: relative;
    }
}

#sol-trasporti, #short-azienda {
    float:left;
}

#sol-trasporti {
    
    ul{
        list-style: none;
        margin: 0;
        padding: 0;
        
        li{
            display: inline-block;
            position: relative;
            float: left;
            border-width: 2pt;
            margin-right: -4pt;
            padding: 0.3em 0;
            
            &:first-child{
                padding-top: 0;
            }
            
            &:hover {
                h5{
                    text-decoration: underline;
                }
                
                background-color: #F2E9C2;
            }
            
            
            
            a{
                display: inline-block;
                position: relative;
                width: 100%;
                padding: 0;
                margin: 0;
                overflow: hidden;
                text-decoration: none;
                
                img {
                    display: block;
                    position: relative;
                    float: left;
                    height: 2.4em;
                    margin: 0.3em 0.5em;
                }
                
                .icon{
                    float: right;
                    height: 2.4em;
                    width: 2.4em;
                    margin-right: 0.3em;
                    margin-top: 0.3em;
                    margin-bottom: 0.3em;
                    background-image: url('../img/arrow-right.png');
                    background-size: 2.4em 2.4em;
                }
                
                h5{
                    display: block;
                    position: relative;
                    padding: 0.3em 10%;
                    margin: auto;
                    height: 2.4em;
                    
                    text-decoration: none;
                    text-align: center;
                    @media only screen and (max-width: 481px)
                    {
                        line-height: auto;
                    }
                    @media only screen and (min-width: 481px)
                    {
                        line-height: 2.4em;
                    }
                }
                
                p{
                    display: block;
                    position: relative;
                    border-top: 2pt solid;
                    border-top-color: #4C99D4;
                    height: auto;
                    padding: 0.2em 0.1em;
                    margin: 0.3em 1.6%;
                    color: #666666;
                }
            }
        }
    }
}

#short-azienda {

    &:hover{
        a{
           background-color: #F2E9C2;
           h5{
               text-decoration: underline;
           }
        }
        
    }
    
    a {
        display: block;
        position: relative;
        float: left;
        margin: 0  1.6%;
        padding: 0;
        border-width: 0.2%;
        text-decoration: none;
    }
}

#menu-secondario {
    ul{
        margin:0;
        padding:0;
        list-style: none;
        
        
        li{
            a{
                text-decoration: none;
                width: 100%;
                height: 4em;
            }
            &:hover{
                a{
                    text-decoration: underline;
                }
            }
        }
    }
}

#map-canvas {
    display: inline-block;
    position: relative;
    width: 100%;
    height: 25em;
    background-size: 100% 100%;
    background-image: url('../img/map.png');
    background-repeat: no-repeat;
    z-index: 1;
}	

#write-us {
    form{
        display: block;
        position: relative;
        width: 80%;
        margin: auto;
        
        div {
            display: block;
            position: relative;
            clear: both;
            width: 100%;
            margin: 0.5em 0;
            
            label {
                display: block;
                position: relative;
                width: 40%;
                margin-left: 10%;
            }
            
            input, textarea{
                display: block;
                position: relative;
                width: 80%;
                margin: auto;
            }
            
            textarea{
                display: block;
                height: 10em;
            }
            
           
        }
        input[type="submit"]{
               width: 30%;
               margin: 0.5em 35%;
           }
    }
}

@media only screen and (max-width: 480px)
{
    #sol-trasporti {
        ul{
            li{
                margin: 1% 1.6%;
                float: left;
                width: 96.4%;
            }
        }
    }
    
    #short-azienda{
        a{
            margin: 1% 1.6%;
            float: left;
            width: 96.4%;
        }
    }
}

.content-box {
    background-color: #F2E9C2;
    border-style: ridge;
    border-color: #FFFFFF;
    color: #666666;
    margin-bottom: 0.4em;
    
    h1, h2, h3, h4, h5, h6 {
        color: #4C99D4;
        display: block;
        position: relative;
        width: 78%;
        padding: 0.2em 10%;
        padding-bottom: 0.8em;
        height: auto;
        text-decoration: none;
        text-align: center;
    }
    
    p{
        margin: 0.5em 0.5em;
    }
}

.map-canvas{
    background-size: 100% 100%;
    background-image: url('../img/mappa.png');
    background-repeat: no-repeat;
}

.infoWindow {
	line-height:1.35em;
	overflow:hidden;
	white-space:nowrap;
}

.wrapper{
    position: relative;
    clear: both;
    min-height: 100%;
    margin: 0 auto -15em;
}

.push {
    display: block;
    clear: both;
    height: 15em;
}

footer{
    display:block;
    clear: both;
    width: 100%;
    bottom: 0;
    margin-top: 1em;
    height: 15em;
    color: #FFFFFF;
    background-color: #666666;
    a{
        color: #F2E9C2;
    }
    
    div{
        p{
            text-align: center;
        }
    }
    
}

@media only screen and (max-width: 480px)
{
    .wrapper{
        margin-bottom: -20em;
    }
    
    footer, .push{
        height: 20em;
    }
}