/* 
    Created on : 9-feb-2014, 18.15.20
    Author     : Lorenzo Di Giuseppe <lorenzo.digiuseppe88@gmail.com>
*/
@media only screen and (max-width: 900px){
    html {
        overflow-y: hidden;
        width: 100%;
        height: 100%;
    }

    body{
        overflow-y: auto;
    }
}


#page-header{
    background-color: #FFFFFF;

    padding-bottom: 0;
    width: 100%;
    margin: 0;
    border: 0;
        
    #logo {
        display: block;
        position: relative;
        height: 4em;
        padding: 0;
        border: 0;
        
        #logo-img{
            display: inline-block;
            position: relative;
            float: left;
            height: 100%;
            max-width: 40%;
            margin: auto 5%;
            margin-left: 0;
            
            a {
                z-index: 2;
                display: block;
                width: 100%;
                height: 100%;
                float: left;
                position: relative;
                
                img{
                    display: block;
                    position: relative;
                    height: 100%;
                    float: left;
                    margin: auto 0;
                }
            }
        }
        
    
        #logo-text{
            display: block;
            position: relative;
            padding: 0;
            margin-left: 1.6%;
            width: 50%;
            float: left;
            
            h4{
                display: block;
                position: relative;
                padding: 0;
                width: 100%;
                margin: 0;
                margin-bottom: 0.1em;
            }

            h6{
                display: block;
                max-width: 100%;
                margin: 0;
                padding: 0;
            }
        }
    }
    
    #breadcrumb {
        display: block;
        position: absolute;
        left: -10000px;
        height: 0;
        padding: 0.2em 0;
        line-height: 2em;
    }
}

.inverse{
    float: right;
}

@media only screen and (max-width: 480px)
{
    #page-header{
        #logo{
            height: auto;
            #logo-img{
                width: 50%;
                max-width: 50%;
                height: auto;
                margin: auto 25%;
                float: none;
                a{
                    
                    margin: auto;
                    img{
                        float: none;
                        height: auto;
                        width: 100%;
                        margin: 0 auto;
                    }
                }
                
            }
            #logo-text{
                width: 80%;
                float: none;
                margin: auto 10%;
                text-align: center;
            }
            
        }
    }
}

.img {
    display: block;
    position:relative;
    width: 100%;
    top: 0;
    height: auto;
    margin: auto;
}



#language{
    display: inline-block;
    position: relative;
    height: auto;
    
    .selected{
        cursor: default;
        &:hover{
            span{
                color: #1C68AA;
                text-decoration: underline;
            }
        }
        span{
            color: #1C68AA;
            text-decoration: underline;
        }
    }
    
    a{
        display: block;
        position: relative;
        width: 50%;
        height: 2em;
        padding: 0;
        margin: 0.5em 0;
        float: left;
        
        img{
            display: block;
            float: left;
            height: 1.5em;
            margin: 0.25em 0.2em;
            margin: auto 0;
            vertical-align: middle;
        }
        
        span{
            display: block;
            width: 40%;
            height: 1.5em;
            margin: auto 0.2em;
            padding: 0.25em auto;
            line-height: 1.5em;
            float: left;
            color: #1C68AA;
        }
        
                    
        &:hover{
            span{
                color: #FBB820;
                text-decoration: underline;
                text-decoration-style: wavy;
            }
        }
            
            
    }
}

@media only screen and (max-width: 480px)
{
    #language{
        margin-bottom: 0.4em;
        a{
            width: 30%;
            
            text-decoration: none;
           
            span{
                width: 50%;
            }
            
            &:first-child{
                margin-left: 15%;
                margin-right: 5%;
                span {
                    float: right;
                    text-align: right;
                }
                img{
                    float: right;
                }
            }
            
            &:last-child{
                margin-left: 5%;
                
                span{
                    float: left;
                    text-align: left;
                }
            }
            
 

        }
    }
}



@media only screen and (min-width: 481px) and (max-width: 768px)
{
    #language{
        a{
            float: none;
            width: 100%;
        }
    }
}

#main-image{
    margin-top: 1.4em;
    display: inline-block;
    position: relative;
    height: auto;
    min-height: 15em;
    min-width: 100%;
    width: 100%;
    max-width: 100%;
    
    img {
        display: block;
        top: 0;
        min-width: 100%;
        width: 100%;
        max-width: 100%;
        margin: auto;
        left: 0;
        resize: none;
        &:after {
            content:"";
            display:table;
        }
    }
    
    .image-mask{
        position: absolute;
        width: 40%;
        height: 100%;
        left: 0;
        top: 0;
        background-color: rgba(28,104,170, 0.9);
        
        a{
            display: inline-block;
            position: relative;
            width: 100%;
            height: 100%;
            max-height: 100%;
            z-index: 3;
            color: #FFFFFF;
            text-decoration: none;
            
            &:hover{
                h5{
                    /*color: #FBB820;*/
                    color: #FFA01A;
                }
            }
            h5 {
                display: block;
                position: relative;
                text-align: center;
                /*text-decoration: underline;*/
                margin: 0.4em auto;
                padding: 0 0.4em;
                
            }
            
            p{
                display: inline-block;
                width: 90%;
/*                font-size: 10pt;*/
                margin: 5% 5%;
                overflow:hidden;
                text-overflow: clip;
                height: 60%;
                color: #F0F0D8;
            }
        }
    }
}

@media only screen and (max-width: 768px)
{
    #main-image {
        .image-mask{
            width: 100%;
            height: 70%;
            top: auto;
            bottom: 0;
            
            a{
                h5 {
                    margin: 0.2em auto;
                }
                p{
                    text-align: center;
                    margin: auto 2%;
                }
            }
        }
    }
}

@media only screen and (max-width: 480px)
{
    #main-image{
        min-height: 0;
        .image-mask{
            position: relative;
            height: auto;
        }
    } 
}

.tab_to_accordion{
    margin-bottom: 2em;
    margin-top: 1%;
    
    .tab-image{
        display: block;
        position: relative;

        img{

            display: block;
            position: relative;
            width: 100%;
        }
    }
    
/*    .tab_controls{
        display: block;
        margin: 0;
        margin-top: 0.7em;
        padding: 0;
        border: 0;
        float: right;
            
        .menu-button{
            display: block;
            padding: 0;
            right: 0;
            margin-left: -2pt;
            height: 2em;
            width: 100%;
            margin-bottom: 0.2em;
            border-width: 1pt;
            border-style: outset;
            border-color: #1C68AA;
            text-align: center;
            line-height: 2em;
            background-color: #1C68AA;
            left: -4.1%;
            a {
                display: block;
                width: 100%;
                height: 100%;
                text-decoration: none;
                color: #FFFFFF;
            }
            &:hover{
                a{
                    color: #FFA01A;
              }
            }
        }
            
        .selected{
            border-style: inset;
        }
    }*/
        
    .tab_right_col{
        display: block;
        margin: 0;
        margin-top: 0.7em;
        padding: 0;
        border: 0;
        float: right;
        
        .tab_menu{
            background-color: #1C68AA;
            border-width: 0.1em;
            border-style: ridge;
            border-color: #1C68AA;
            width: 100%;
            margin-left: -0.2em;
            
            .menu-button{
                display: block;
                position: relative;
                padding: 0;
                right: 0;
                border-width: 1pt 0;
                border-style: outset;
                border-color: #1c8abc;
                &:first-child{
                    border-top: none;
                }
                
                &:last-child{
                    border-bottom: none;
                }
                
                a {
                    display: block;
                    width: 80%;
                    padding: 0.3em 10%;
                    line-height: 1.5em;
                    height: 1.5em;
                    text-decoration: none;
                    color: #FFFFFF;
                    @media screen and (max-width: 768px){
                        height: 3em;
                    }
                }
                
                
                
                &:hover{
                    a{
                        color: #FFA01A;
                    }
                }
            }
            .selected{
                background-color: #FFFFFF;
                border-color: #1C68AA;
                border-style: inset;
                
                a{
                    cursor: default;
                    color: #1C68AA;
                    
                }
                &:hover{
                    a{
                        color: #1C68AA;
                    }
                }
            }
        }
        
            
        
    }

    .tab-image{
        width: 100%;
        margin-top: 1em;
        margin-left: -0.15em;
    }
    
    .tab_contents{
        display: block;
        margin: 0;
        margin-right: 1.6%;
        padding: 0;
        border: 0;
        float: right;
        
        .tab_pane{
            display: block;
            padding: 0;
            margin: 0;
            border: 0;
            
            .tab_page{
                margin-top: 0;
                box-shadow: 1pt 1pt 5pt #000000;
            }
            &:not(.current){
                display: none;
                visibility: hidden;
            }
            
            a{
                display: none;
                visibility: hidden;
            }
            
            .tab-image{
                display: none;
                visibility: hidden;
                width: 100%;
            }
        }
    }
}

@media screen and (max-width: 480px)
{
    .tab_to_accordion{
        margin-top: 1em;
        .tab_right_col{
            display: none;
            visibility: hidden;
        }
        .tab_contents{
            margin: 0;
            .tab_pane{
                a{
                    display: table;
                    visibility: visible;
                    width: 100%;
                    height: 2.3em;
                    line-height: 1.15em;
                    padding: 0.35em auto;
                    text-align: center;
                    background-color: #1C68AA;
                    color: #FFFFFF;
                    text-decoration: none;
/*                    margin-bottom: -0.7em;*/
                    border-width: 1pt 0;
                    border-style: groove;
                    border-color: #1C68AA;
                    margin: 0;
                    float: none;
                }
                
                .close{
                    display: none;
                }
                
                &:not(.current){
                    display: block;
                    visibility: visible;
                }
                
                .tab_page{
                    margin: 0;
                    box-shadow: 0pt 0pt 0pt #000000;
                }
                
                .content-box{
                    padding-top: 0;
                    margin-top: 0;
                    box-shadow: 0 0 0 none;
                    .header{
                        background-color: #FFFFFF;
                        h4{
                            color: #1C68AA;
                        }
                    }
                }
            }
            
            .current{
                a:not(.close){
                    display: none;
                }
                .close{
                    margin-bottom: -0.7em;
                    &:not(.close){
                        display: none;
                    }
                }

                .close{
                    display: block;
                }
                
                .tab-image{
                    display: block;
                    visibility: visible;
                    width: 96%;
                    margin: auto;
                }
            }
        }
        
        
    }
    #tab:target{
        .current{
            a:not(.close){
                display: block;
            }
            .close{
                display: none;
            }
            .tab_page{
                display: none;
            }

        }
    }
}

#sol-trasporti {

    margin-top: 1em;
    
     .content-box{
        display: block;
        position: relative;
        margin-top: 0;
        height: 100%;
        padding: 0;
        a{
            display: block;
            margin: 0;
            padding: 0;
            width: 100%;
            height: 100%;
            text-decoration: none;
            &:hover{
                h5{
                    /*text-decoration: underline;*/
                    /*color: #FBB820;*/
                    color: #FFA01A;
                }
            }
            
            .header{
                
                .img-wrapper{
                    display: table;
                    position: relative;
                    margin: 0 auto;
                    max-height: 3em;
                    padding: 0.5em auto;
                    width: 80%;
                    img{
                        display: block;
                        position: relative;
                        top: 0.5em;
                        max-height: 2em;
                        max-width: 100%;
                        margin: auto;

                    }
                }


                h5{
                    height: 3em;
                    font-size: 0.8em;
                }
            }
            
            
            
            p{
                color: #000000;
            }
        }
    }
    
}

@media only screen and (max-width: 480px)
{
    #sol-trasporti{
        margin-top: 0.6em;
        .content-box{
            display: block;
            position: relative;
            margin-top: 0;
            height: 100%;
            padding: 0;
            a{
                display: block;
                margin: 0;
                padding: 0;
                width: 100%;
                height: 100%;
                .header{
                    height: 3em;
                        
                    .img-wrapper{
                        display: inline-block;
                        float: left;
                        width: 20%;
                        margin: 0.5em auto;
                        img{
                            top: auto;
                        }
                    }


                    h5{
                        display: block;
                        float: left;
                        position: relative;
                        margin: auto;
                        width: 60%;
                        padding: 0;
                        margin: 0.5em auto;
                        text-align: center;
                    }
                }
                

                p{
                    display: block;
                    float: left;
                    width: 90%;
                    margin: 0.5em 5%;
                }
            }
        }
    }
}

.clear{
    display: block;
    height: border-box;
    clear: both;
}

#map-canvas {
    display: inline-block;
    position: relative;
    width: 100%;
    height: 25em;
    background-size: 100% 100%;
    background-image: url('../img/map.png');
    background-repeat: no-repeat;
    z-index: 1;
}

.page-img{
    box-shadow: 1pt 1pt 5pt #000000;
    margin-top: 0.7em;
    margin-bottom: 0.5em;
    float: left;
    height: fit-content;
}

.content-box-shadow{
    box-shadow: 1pt 1pt 5pt #000000;
}

.content-box {
    background-color: #FFFFFF;
    color: #000000;
    margin-bottom: 0.4em;
    margin-top: 0;
    padding-bottom: 0.5em;
    
    &:not(:first-child){
        margin-top: 1em;
    }
    
    .header {
        z-index: 2;
        display: block;
        margin: 0;
        padding: 0;
        background-color: #1C68AA;
        h1, h2, h3, h4, h5, h6 {
            display: block;
            position: relative;
            width: 70%;
            padding: 0.2em 10%;
            height: auto;
            text-decoration: none;
            text-align: center;
            color: #F0F1F7;
        }
    }
    
    h1, h2, h3, h4, h5, h6 {
        color: #1693A5;
    }
    
    h1, h2, h3, h4, h5, h6, p{
        margin: 0.6em 0.5em;
    }
    
}

#map-wrapper{
    display: block;
    width: 100%;
    height: 20em;
    #map-canvas{
        display: block;
        position: relative;
        height: 100%;
        width: 100%;
        background-size: 100% 100%;
        background-image: url('../img/mappa.png');
        background-repeat: no-repeat;
    }
}


@media only screen and (max-width: 480px)
{
    #map-wrapper{
        display: block;
        width: 70%;
        margin: auto 15%;
        height: 10em;
    }
}

.infoWindow {
    position: relative;
    line-height: 1.35em;
    text-align: center;
    overflow:hidden;
    height: 8em;
    width: 20em;
    @media only screen and (max-width: 480px)
    { 
        width: 11em;
        height: 11em;
    }
    
    
    .header{
        display: block;
        position: absolute;
        background-color: #1693A5;
        color: #F0F1F7;
        top: 0;
        width: 100%;
        height: 3em;
        h4{
            display: block;
            position: relative;
            width: 100%;
            height: 100%;
            line-height: 100%;
        }
    }
    p{
        display: block;
        position: relative;
        top: 3em;
        height: 3em;
    }
}

.sticky-footer{
    position: relative;
    clear: both;
    min-height: 100%;
    margin: 0 auto -15.8em;
}

.push {
    display: block;
    clear: both;
    height: 15.8em;
    z-index: -10;
}

footer{
    display: block;
    position: relative;
    z-index: 3;
    max-width: 100%;
    bottom: 0;
    margin-top: 1em;
    height: 15em;
    color: #FFFFFF;
    background-color: #1C68AA;
    
    a{
        z-index: 3;
        color: #FFFFFF;
        &:hover{
            /*color: #94BA65;*/
            color: #FFA01A;
        }
    }
    
    div{
        p{
            text-align: center;
        }
    }
    
}

@media only screen and (max-width: 480px)
{
    .sticky-footer{
        margin-bottom: -20.8em;
    }
    
    .push{
        height: 20.8em;
    }
    
    footer, .push{
        height: 20em;
    }
}