/* 
    Created on : 9-feb-2014, 18.15.20
    Author     : Lorenzo Di Giuseppe <lorenzo.digiuseppe88@gmail.com>
*/

body{
    /*overflow-x: hidden;*/
}

header{
    #logo {
        display: block;
        position: relative;
        height: 8em;
        padding: 0;
        margin: 0;
        border: 0;
        img{
            display: block;
            height: 100%;
            max-width: 100%;
            float: left;
            margin: auto;
        }
    }
    
    #breadcrumb {
        display: block;
        position: relative;
        height: 1.6em;
        padding: 0.2em 0;
        line-height: 2em;
    }
}

.inverse{
    float: right;
}

@media only screen and (max-width: 480px)
{
    header{
        #logo{
            img{
                float: none;
            }
        }
    }
}

.img {
    display: block;
    position:relative;
    width: 100%;
    height: auto;
    margin: auto;
}



#language{
    display: block;
    position: relative;
    height: 3em;
    
    a{
        display: block;
        position: relative;
        width: 50%;
        height: 2em;
        padding: 0;
        margin: 0.5em 0;
        float: left;
        
        img{
            display: block;
            float: left;
            height: 1.5em;
            margin: 0.25em 0.2em;
            margin: auto 0;
            vertical-align: middle;
        }
        
        span{
            display: block;
            width: 40%;
            height: 1.5em;
            margin: 0.25em 0.2em;
            line-height: 1.5em;
            float: left;
        }
    }
}

@media only screen and (max-width: 480px)
{
    #language{
        a{
            width: 20%;
            float: left;
            &:first-child{
                margin-left: 25%;
                margin-right: 5%;
                span {
                    
                    width: auto;
                    float: right;
                }
                img{
                    float: right;
                }
            }
            
            &:last-child{
                margin-left: 5%;
            }

        }
    }
}



@media only screen and (min-width: 481px) and (max-width: 768px)
{
    #language{
        a{
            float: none;
            width: 100%;
        }
    }
}

#main-image{
    display: block;
    position: relative;

    
    img{
        display: block;
        width: 100%;
        position: relative;
    }
}

#sol-trasporti, #short-azienda {
    float:left;
}

#sol-trasporti {
    
    ul{
        list-style: none;
        margin: 0;
        padding: 0;
        
        li{
            display: block;
            position: relative;
            float: left;
            padding: 0;
            border-width: 0.2%;
            
            &:hover {
                h5{
                    text-decoration: underline;
                }
                
                background-color: #F2E9C2;
            }
            
            a{
                display: block;
                width: 100%;
                height: 100%;
                text-decoration: none;
                h5{
                    display: block;
                    position: relative;
                    width: 78%;
                    padding: 0.2em 10%;
                    padding-bottom: 0.8em;
                    height: 2em;
                    text-decoration: none;
                    text-align: center;
                    border-bottom: 2px solid;
                    border-bottom-color: #4C99D4;
                }
                
                p{
                    display: block;
                    position: relative;
                    padding: 0.2em 0.1em;
                    width: 97.5%;
                    margin: 0 1.6%;
                   
                }
            }
        }
    }
}

#short-azienda {
    &:hover{
        a{
           background-color: #F2E9C2;
           h5{
               text-decoration: underline;
           }
        }
        
    }
    
    a {
        display: block;
        position: relative;
        float: left;
        margin: 0  1.6%;
        padding: 0;
        border-width: 0.2%;
        text-decoration: none;
    }
}

#menu-secondario {
    ul{
        margin:0;
        padding:0;
        list-style: none;
        
        
        li{
            a{
                text-decoration: none;
                width: 100%;
                height: 4em;
            }
            &:hover{
                a{
                    text-decoration: underline;
                }
            }
        }
    }
}

#map-canvas {
    display: inline-block;
    position: relative;
    width: 100%;
    height: 25em;
    background-size: 100% 100%;
    background-image: url('../img/map.png');
    background-repeat: no-repeat;
    z-index: 1;
}	

#write-us {
    form{
        display: block;
        position: relative;
        width: 80%;
        margin: auto;
        
        div {
            display: block;
            position: relative;
            clear: both;
            width: 100%;
            margin: 0.5em 0;
            
            label {
                display: block;
                position: relative;
                width: 40%;
                margin-left: 10%;
            }
            
            input, textarea{
                display: block;
                position: relative;
                width: 80%;
                margin: auto;
            }
            
            textarea{
                display: block;
                height: 10em;
            }
            
           
        }
        input[type="submit"]{
               width: 30%;
               margin: 0.5em 35%;
           }
    }
}

@media only screen and (max-width: 480px)
{
    #sol-trasporti {
        ul{
            li{
                margin: 1% 1.6%;
                float: left;
                width: 96.4%;
            }
        }
    }
    
    #short-azienda{
        a{
            margin: 1% 1.6%;
            float: left;
            width: 96.4%;
        }
    }
}

.content-box {
    border-style: outset;
    border-color: #F2E9C2;
    color: #666666;
    margin-bottom: 0.4em;
    
    h1, h2, h3, h4, h5, h6 {
        color: #4C99D4;
        display: block;
        position: relative;
        width: 78%;
        padding: 0.2em 10%;
        padding-bottom: 0.8em;
        height: auto;
        text-decoration: none;
        text-align: center;
    }
    
    p{
        margin: 0.5em 0.5em;
    }
}

.map-canvas{
    background-size: 100% 100%;
    background-image: url('../img/mappa.png');
    background-repeat: no-repeat;
}

.infoWindow {
	line-height:1.35em;
	overflow:hidden;
	white-space:nowrap;
}

.wrapper{
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -15em;
}

footer{
    clear: both;
    width: 100%;
    bottom: 0;
    height: 15em;
    color: #FFFFFF;
    background-color: #4C99D4;
    div{
        p{
            text-align: center;
        
        }
    }
    
}

/*.push {
    clear: both;
}*/

@media only screen and (max-width: 480px)
{
    .wrapper{
        margin-bottom: -20em;
    }
    
    footer{
        height: 20em;
    }
}