/* 
    Created on : 9-feb-2014, 18.15.20
    Author     : Lorenzo Di Giuseppe <lorenzo.digiuseppe88@gmail.com>
*/

body{
    /*overflow-x: hidden;*/
}

header{
    background-color: rgba(0,0,0,0.9);
    padding-top: 1em;
    padding-bottom: 0;
    max-width: 100%;
    margin: 0;
    border: 0;
        
    #logo {
        display: block;
        position: relative;
        padding: 0;
        border: 0;
        
        #logo-img{
            display: inline-table;
            float: left;
            height: 4em;
            width: 8em;
            margin: 0 5%;
            
            a {
                z-index: 2;
                display: table;
                width: 100%;
                height: 100%;
                float: left;
                position: relative;
                
                img{
                    display: block;
                    max-height: 4em;
                    max-width: 8em;
                    float: left;
                    margin: auto 0;
                }
            }
        }
        
    
        #logo-text{
            display: block;
            position: relative;
            color: #DFEBF6;
            margin: auto;

            h4{
                display: block;
                color: #DFEBF6;
                font-family: 'sorts_mill_goudyregular';
                font-size: 22pt;
                padding: 0;
                margin: 0 auto;
                margin-bottom: 0.1em;
            }

            h6{
                display: block;
                color: #DFEBF6;
                font-family: 'sorts_mill_goudyregular';
                font-size: 10pt;
                margin: 0;
                padding: 0;
            }

            display: block;
            position: relative;
            color: #FFFFFF;
        }
    }
    
    #breadcrumb {
        display: block;
        position: absolute;
        left: -10000px;
        height: 0;
        padding: 0.2em 0;
        line-height: 2em;
    }
}

.inverse{
    float: right;
}

@media only screen and (max-width: 480px)
{
    header{
        #logo{
            #logo-img{
                width: 50%;
                height: auto;
                max-height: auto;
                margin: auto 25%;
                float: none;
                a{
                    margin: auto;
                    img{
                        float: none;
                        margin: 0 auto;
                    }
                }
                
            }
            #logo-text{
                width: 80%;
                float: none;
                margin: auto 10%;
                text-align: center;
            }
            
        }
    }
}

.img {
    display: block;
    position:relative;
    width: 100%;
    height: auto;
    margin: auto;
}



#language{
    display: block;
    position: relative;
    height: auto;
    
    
    a{
        display: block;
        position: relative;
        width: 50%;
        height: 2em;
        padding: 0;
        margin: 0.5em 0;
        float: left;
        
        img{
            display: block;
            float: left;
            height: 1.5em;
            margin: 0.25em 0.2em;
            margin: auto 0;
            vertical-align: middle;
        }
        
        span{
            display: block;
            width: 40%;
            height: 1.5em;
            margin: auto 0.2em;
            padding: 0.25em auto;
            line-height: 1.5em;
            float: left;
            color: #FFFFFF;
        }
        
                    
        &:hover{
            span{
                text-decoration: underline;
                text-decoration-style: wavy;
            }
        }
            
            
    }
}

@media only screen and (max-width: 481px)
{
    #language{
        margin-bottom: 0.4em;
        a{
            width: 30%;
            float: left;
            text-decoration: none;
           
            span{
                width: 50%;
            }
            
            &:first-child{
                margin-left: 15%;
                margin-right: 5%;
                span {
                    float: right;
                    text-align: right;
                }
                img{
                    float: right;
                }
            }
            
            &:last-child{
                margin-left: 5%;
                
                span{
                    float: left;
                    text-align: left;
                }
            }
            
 

        }
    }
}



@media only screen and (min-width: 481px) and (max-width: 768px)
{
    #language{
        a{
            float: none;
            width: 100%;
        }
    }
}

#main-image{
    margin-top: 1.6%;
    display: inline-block;
    position: relative;

    height: auto;
    box-shadow: 1pt 1pt 5pt #000000;
    
    img {
        display: block;
        top: 0;
        width: 100%;
        margin: auto;
        left: 0;
        
    }
    
    .image-mask{
        position: absolute;
        width: 40%;
        height: 100%;
        left: 0;
        top: 0;
        background-color: rgba(17, 133, 94, 0.85);
        
        a{
            display: inline-block;
            position: relative;
            width: 100%;
            height: 100%;
            max-height: 100%;
            z-index: 3;
            color: #FFFFFF;
            text-decoration: none;
            font-family: 'sorts_mill_goudyregular';
            
            &:hover{
                h5{
                    text-decoration: underline;
                }
            }
            h5 {
                display: block;
                position: relative;
                text-align: center;
                font-size: 14pt;
                margin: 0.4em auto;
                padding: 0 0.4em;
                
            }
            
            p{
                display: inline-block;
                width: 90%;
                font-size: 10pt;
                margin: 5% 5%;
                overflow:hidden;
                text-overflow: clip;
                height: 60%;
            }
        }
    }
}

@media only screen and (max-width: 769px)
{
    #main-image {
        .image-mask{
            width: 100%;
            height: 70%;
            top: auto;
            bottom: 0;
            
            a{
                h5 {
                    margin: 0.2em auto;
                }
                p{
                    text-align: center;
                    margin: auto 2%;
                }
            }
        }
    }
}

@media only screen and (max-width: 481px)
{
    #main-image{
        .image-mask{
/*            background-color: #000000;*/
            position: relative;
            height: auto;
        }
    } 
}

#tab{
    list-style: none;
    padding-left: 0;
    padding: 0;  
    
    .current{
        a{
            border-color: #FFFFFF;
        }
    }
    
    li{
        display: inline-block;
        padding: 0;
        margin: 0;
        float: left;
        height: auto;
        margin-top: -0.34em;
        @media only screen and (max-width: 481px)
        {
            width: 100%;
            margin-top: 0;
            &:first-child{
                border-top: 0.2em inset;
            }
            border-bottom: 0.2em outset;
            border-color: #000000;
            .content-box{
                display: block;
                position: relative;
                box-shadow: none;
                
                .header{
                    display: block;
                    position: relative;
                    background-color: #FFFFFF;
                    color: #11855E;
                    margin-top: 2em;
                }
            }
        }
        
        .tab-content{
            display: block;
            float: left;
            @media only screen and (max-width: 481px)
            {
                margin-top: 0;
                top: 0;
            }
        }
        
        &:not(.current){
            &:hover{
                a{
                    border-color: #C4D99C;
                }
            }
        }
        
        
        
        @media only screen and (min-width: 482px)
        {
            &:not(.current){

                top: 0;
                float: right;
            }

            &:nth-child(2){
                a{
                    margin-top: 3.6em;
                }
            }

            &:nth-child(3){
                a{
                    margin-top: 5.9em;
                }
            }

            &:nth-child(4){
                a{
                    margin-top: 8.2em;
                }
            }

            &:nth-child(5){
                a{
                    margin-top: 10.5em;
                }
            }

            &:nth-child(6){
                a{
                    margin-top: 12.8em;
                }
            }
        }
        
        a{
            display: block;
            @media only screen and (min-width: 482px)
            {
                position: absolute;
                right: 0;
                height: 1.8em;
                margin-top: 1.3em;
                line-height: 2em;
                border-bottom: 0.2em solid;
                border-color: #11855E;
                padding: auto;
                
            }
            @media only screen and (max-width: 481px)
            {
                position: relative;
                width: 100%;
            }
            box-shadow: 1pt 1pt 5pt #000000;
            background-color: rgba(17, 133, 94, 1);
            color: #FFFFFF;
            text-decoration: none;
            text-align: center;
            font-family: 'sorts_mill_goudyregular';

            &:hover{
                text-decoration: underline;
            }
        }

        .tab-image{
            display: inline-block;
            position: relative;
            float: right;
            
            @media only screen and (min-width: 482px)
            {
                right: 0;
                float: left;
                margin-left: 1.6%;
                margin-top: 15.6em;

                @media only screen and (max-width: 481px)
                {
                    height: auto;
                    vertical-align: text-top;
                    margin-bottom: 2em;
                }
            }
            
        }
    }

}


#sol-trasporti {

    margin-top: 1.6%;
    
     .content-box{
        display: block;
        position: relative;
        margin-top: 0;
        height: 100%;
        padding: 0;
        a{
            display: block;
            margin: 0;
            padding: 0;
            width: 100%;
            height: 100%;
            text-decoration: none;
            &:hover{
                h5{
                    text-decoration: underline;
                }
            }
            
            .header{
                
                .img-wrapper{
                    display: table;
                    position: relative;
                    margin: 0 auto;
                    max-height: 3em;
                    padding: 0.5em auto;
                    width: 80%;
                    img{
                        display: block;
                        position: relative;
                        top: 0.5em;
                        max-height: 2em;
                        max-width: 100%;
                        margin: auto;

                    }
                }


                h5{
                    height: 3em;
                }
            }
            
            
            
            p{
                color: #000000;
            }
        }
    }
    
}

@media only screen and (max-width: 480px)
{
    #sol-trasporti{
        .content-box{
            display: block;
            position: relative;
            margin-top: 0;
            height: 100%;
            padding: 0;
            a{
                display: block;
                margin: 0;
                padding: 0;
                width: 100%;
                height: 100%;
                .header{
                    height: 3em;
                        
                    .img-wrapper{
                        display: inline-block;
                        float: left;
                        width: 20%;
                        margin: 0.5em auto;
                        img{
                            top: auto;
                        }
                    }


                    h5{
                        display: block;
                        float: left;
                        position: relative;
                        margin: auto;
                        width: 60%;
                        padding: 0;
                        margin: 0.5em auto;
                        text-align: center;
                    }
                }
                

                p{
                    display: block;
                    float: left;
                    width: 90%;
                    margin: 0.5em 5%;
                }
            }
        }
    }
}

/*#menu-secondario {
    ul{
        margin:0;
        padding:0;
        list-style: none;
        
        
        li{
            a{
                text-decoration: none;
                width: 100%;
                height: 4em;
            }
            &:hover{
                a{
                    text-decoration: underline;
                }
            }
        }
    }
}*/

#map-canvas {
    display: inline-block;
    position: relative;
    width: 100%;
    height: 25em;
    background-size: 100% 100%;
    background-image: url('../img/map.png');
    background-repeat: no-repeat;
    z-index: 1;
}

.page-img{
    box-shadow: 1pt 1pt 5pt #000000;
    margin-top: 1.3em;
    margin-bottom: 0.5em;
    float: left;
    height: fit-content;
}

.content-box {
    background-color: #FFFFFF;
    color: #000000;
    margin-bottom: 0.4em;
    box-shadow: 1pt 1pt 5pt #000000;
    padding-bottom: 0.5em;
    
    .header {
        z-index: 2;
        display: block;
        margin: 0;
        padding: 0;
        background-color: #11855E;
        color: #FFFFFF;
    }
    
    h1, h2, h3, h4, h5, h6 {
        display: block;
        position: relative;
        width: 78%;
        padding: 0.2em 10%;
        padding-bottom: 0.8em;
        height: auto;
        font-family: 'sorts_mill_goudyregular';
        text-decoration: none;
        text-align: center;
    }
    
    p{
        font-family: 'shantiregular';
        margin: 0.6em 0.5em;
    }
}

#map-wrapper{
    display: block;
    width: 100%;
    height: 20em;
    #map-canvas{
        display: block;
        position: relative;
        height: 100%;
        width: 100%;
        background-size: 100% 100%;
        background-image: url('../img/mappa.png');
        background-repeat: no-repeat;
    }
}


@media only screen and (max-width: 481px)
{
    #map-wrapper{
        display: block;
        width: 70%;
        margin: auto 15%;
        height: 10em;
    }
}

.infoWindow {
    position: relative;
    line-height: 1.35em;
    text-align: center;
    overflow:hidden;
    height: 8em;
    width: 20em;
    @media only screen and (max-width: 481px)
    { 
        width: 11em;
        height: 11em;
    }
    font-family: 'sorts_mill_goudyregular';
    
    .header{
        display: block;
        position: absolute;
        background-color: #11855E;
        color: #FFFFFF;
        top: 0;
        width: 100%;
        height: 3em;
        h4{
            display: block;
            position: relative;
            width: 100%;
            height: 100%;
            line-height: 100%;
        }
    }
    p{
        display: block;
        position: relative;
        top: 3em;
        height: 3em;
    }
}

.wrapper{
    position: relative;
    clear: both;
    min-height: 100%;
    margin: 0 auto -15em;
}

.push {
    display: block;
    clear: both;
    height: 15em;
    z-index: -10;
}

footer{
    display: block;
    position: relative;
    z-index: 3;
    max-width: 100%;
    bottom: 0;
    margin-top: 1em;
    height: 15em;
    color: #FFFFFF;
    background-color: rgba(0,0,0,0.9);
    font-family: 'shantiregular';
    a{
        z-index: 3;
        color: #F2E9C2;
    }
    
    div{
        p{
            text-align: center;
        }
    }
    
}

@media only screen and (max-width: 480px)
{
    .wrapper{
        margin-bottom: -20em;
    }
    
    footer, .push{
        height: 20em;
    }
}