/* 
    Created on : 9-feb-2014, 18.15.20
    Author     : Lorenzo Di Giuseppe <lorenzo.digiuseppe88@gmail.com>
*/
@media only screen and (max-width: 900px){
    html {
        overflow-y: hidden;
        width: 100%;
        height: 100%;
    }

    body{
	height: 100%;
        overflow-y: auto;
        overflow-x: hidden;
        background-color: #FFFFFF;
        @media screen and (max-width: 600px){
            background-color: #8DBF3F;
        }
    }
}


#page-header{
    background-color: #FFFFFF;
    padding-bottom: 0;
    width: 100%;
    margin: 0;
    border: 0;
        
    #logo {
        display: block;
        position: relative;
        height: 4em;
        padding: 0;
        border: 0;
        
        #logo-img{
            display: inline-block;
            position: relative;
            float: left;
            height: 100%;
            max-width: 40%;
            margin: auto 5%;
            margin-left: 0;
            
            a {
                z-index: 2;
                display: block;
                width: 100%;
                height: 100%;
                float: left;
                position: relative;
                
                img{
                    display: block;
                    position: relative;
                    height: 100%;
                    float: left;
                    margin: auto 0;
                }
            }
        }
        
    
        #logo-text{
            display: block;
            position: relative;
            padding: 0;
            margin-left: 1.6%;
            width: 50%;
            float: left;
            
            h4{
                display: block;
                position: relative;
                padding: 0;
                width: 100%;
                margin: 0;
                margin-bottom: 0.1em;
            }

            h6{
                display: block;
                max-width: 100%;
                margin: 0;
                padding: 0;
            }
        }
    }
    
    #breadcrumb {
        display: block;
        position: absolute;
        left: -10000px;
        height: 0;
        padding: 0.2em 0;
        line-height: 2em;
    }
}

.inverse{
    float: right;
}

@media only screen and (max-width: 600px)
{
    #page-header{
        #logo{
            clear: both;
            height: auto;
            #logo-img{
                width: 30%;
                max-width: 30%;
                height: auto;
                margin: auto 0;
                float: left;
                a{
                
                    margin: auto;
                    img{
                        float: none;
                        height: auto;
                        width: 100%;
                        margin: 0 auto;
                    }
                }
                
            }
            #logo-text{
                width: 66%;
                float: left;
                margin: auto 2%;
                text-align: left;
                h4, h6{
                    text-align: left;
                }
            }
            
        }
    }
}

.img {
    display: block;
    position:relative;
    width: 100%;
    top: 0;
    height: auto;
    margin: auto;
}



.lang-menu{
    display: inline-block;
    position: relative;
    height: auto;
    
    .decorator{
        display: none;
        visibility: hidden;
    }
    
    #lang-menu{
        position: relative;
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 0;
        border: 0;
    }
    
    .controls{
        display: none;
        position: absolute;
        left: -10000px;
        visibility: hidden;
        
    }
    
    .selected{
        cursor: default;
        span{
            text-decoration: underline;
        }
    }
    
    a:not(.controls){
        display: block;
        position: relative;
        width: 50%;
        height: 2em;
        padding: 0;
        margin: 0.5em 0;
        float: left;
        
        img{
            display: block;
            float: left;
            height: 1.5em;
            margin: 0.25em 0.2em;
            margin: auto 0;
            vertical-align: middle;
        }
        
        span{
            display: block;
            width: 40%;
            height: 1.5em;
            margin: auto 0.2em;
            padding: 0.25em auto;
            line-height: 1.5em;
            float: left;
            color: #000000;
        }
        
                    
        &:not(.selected){
            span{
                color: #1C68AA;
            }
            &:hover{
                span{
                    color: #FBB820;
                }
            }
        }
            
            
    }
}

@media only screen and (max-width: 600px)
{
    .lang-menu{
        display: block;
        position: relative;
        right: -0.98%;
        /*left: 79%;*/
        float: right;
        width: 23.98%;
        margin: 0;
        margin-left: -0.1em;
        height: 0;
        border: 0;
        bottom: -0.4em;
        margin-bottom: 0.4em;
        z-index: 3;
        
        .controls{
            clear: both;
            font-size: inherit;
            visibility: visible;
            display: block;
            position: relative;
            left: 0;
            width: 100%;
            height: 3em;
            padding: 0.1em -0.5em;
            border: 0;
            background-color: rgba(28, 104, 170, 1);
            border-left-width: 0.1em;
            border-left-style: groove;
            border-top-width: 0.1em;
            border-top-style: outset;
            border-bottom-width: 0.1em;
            border-bottom-style: outset;
            border-color: #1C68AA;
            
            img{
                display: block;

                position: relative;
                height: 100%; 
                margin: 0 auto;
                @media screen and (max-width: 175px){
                    height: auto;
                    width: 90%;
                    margin: auto 5%;
                }
            }
        }

        
        #lang-close{
            display: none;
            position: absolute;
            left: -10000px;
            
            
        }
        #lang-menu{
            display: block;
            left: -10000px;
            position: absolute;
            height: 0;
            
            a{
                
                /*clear: both;*/
                display: block;
                position: relative;
                line-height: auto;
                width: 100%;
                height: 3em;
                border-color: #000000;
                border-width: 1pt;
                border-right: 0;
                border-bottom: 0;
                border-style: groove;
                border-color: #1C68AA;
                /*left: -0.1em;*/
                text-decoration: none;
                padding: 0.1em 0;
                margin: 0;
                
                &:last-child{
                    border-bottom-width: 1pt;
                }
                
                span{
                    display: block;
                    position: relative;
                    float: left;
                    margin: 0;
                    padding: 0;
                    width: auto;
                }

                img{
                    float: left;
                    height: 90%;
                    margin: auto 5%;
                }

                @media screen and (max-width: 280px){
                    img{
                        width: auto;
                        height: 100%;
                        margin-left: auto;
                        margin-right: auto;
                        float: none;
                        padding: 0;
                        @media screen and (max-width: 175px){
                            height: auto;
                            width: 90%;
                            margin: auto 5%;
                        }
                    }

                    span{
                        display: none;
                    }
                }

                &:not(.selected){
                    background-color: #FFFFFF;
                }
            }
            
            .selected{
                background-color: #8DBF3F;
                span{
                    color: #000000;
                }
            }
        }
        
        &:target{
            clear: both;
            float: right;
            left: auto;
            right: 0;
            height: auto;
            
            #lang-open{
                display: none;
                position: absolute;
                left: -10000px;
            }

            #lang-close{
                display: block;
                position: relative;
                left: -0.1em;
            }
            #lang-menu{
                left: auto;
                right: 0;
                height: auto;
                position:relative;
            }
        }
    }
    .languageMobileVisible{
        #lang-menu{
            left: 0;
            position:relative;
            height: auto;
        }

        #lang-open{
            display: none;
        }
        
        #lang-close{
            display: block;
            position: relative;
            left: 0;
        }
    }
}

@media only screen and (min-width: 601px) and (max-width: 768px)
{
    .lang-menu{
        a:not(.controls){
            float: none;
            width: 100%;
        }
    }
}

#main-image{
    margin-top: 1.2em;
    display: table;
    position: relative;
    height: fit-content;
    min-height: 15em;
    min-width: 100%;
    width: 100%;
    max-width: 100%;
    
    img {
        display: table;
        top: 0;
        min-width: 100%;
        width: 100%;
        max-width: 100%;
        height: auto;
        margin: auto;
        left: 0;
    }
    
    .image-mask{
        position: absolute;
        width: 40%;
        height: 100%;
        left: 0;
        top: 0;
        z-index: 2;
        background-color: rgba(28,104,170, 0.9);
        
        a{
            display: inline-block;
            position: relative;
            width: 100%;
            height: 100%;
            max-height: 100%;
            z-index: 3;
            color: #FFFFFF;
            text-decoration: none;
            
            &:hover{
                h5{
                    /*color: #FBB820;*/
                    color: #FFA01A;
                }
            }
            h5 {
                display: block;
                position: relative;
                text-align: center;
                /*text-decoration: underline;*/
                margin: 0.4em auto;
                padding: 0 0.4em;
                
            }
            
            p{
                display: inline-block;
                width: 90%;
/*                font-size: 10pt;*/
                margin: 5% 5%;
                overflow:hidden;
                text-overflow: clip;
                height: 60%;
                color: #F0F0D8;
            }
        }
    }
}

@media only screen and (max-width: 768px)
{
    #main-image {
        margin-top: 0.4em;
        .image-mask{
            width: 100%;
            height: 65%;
            top: auto;
            /*top: 35%;*/
            bottom: 0;
            
            a{
                h5 {
                    margin: 0.2em auto;
                }
                p{
                    text-align: center;
                    margin: auto 2%;
                }
            }
        }
    }
}

@media only screen and (max-width: 480px)
{
    #main-image{
        min-height: 0;
        .image-mask{
            position: relative;
            height: auto;
        }
    } 
}

.tab_to_accordion{
    margin-bottom: 2em;
    margin-top: 0.5em;
    
    .tab-image{
        display: block;
        position: relative;

        img{

            display: block;
            position: relative;
            width: 100%;
        }
    }
        
    .tab_right_col{
        display: block;
        margin: 0;
        margin-top: 0.7em;
        padding: 0;
        border: 0;
        float: right;
        
        .tab_menu{
            background-color: #FFFFFF;
/*            border-width: 0.1em;
            border-style: ridge;
            border-color: #1C68AA;*/
            width: 100%;
            margin: 0;
            /*margin-left: -0.2em;*/
            padding: 0;
            
/*            .header{
                width: 70%;
                left: 0;
            }*/
            
            .menu-button{
                display: table;
                position: relative;
                padding: 0;
                right: 0;
                height: auto;
                width: 100%;
/*                border-width: 1pt 0;
                border-style: outset;
                border-color: #1c8abc;
                &:first-child{
                    border-top: none;
                }
                
                &:last-child{
                    border-bottom: none;
                }*/
                
                .icon{
                    display: block;
                    float: left;
                    height: 0.8em;
                    width: 0.8em;
                    background-repeat: no-repeat;
                    background-image: url('../img/icons/arrow-right.png');
                    background-size: 0.8em;
                    margin: 0.35em 1%;
                }

                a {
                    display: block;
                    float: left;
                    /*width: 80%;*/
                    padding: 0 5%;
                    line-height: 1.5em;
                    height: 1.5em;
                    text-decoration: none;
                    color: #1C68AA;
/*                    @media screen and (max-width: 768px){
                        height: 3em;
                    }*/
                }
                
                &:hover:not(.selected){
                    .icon{
                        background-image: url('../img/icons/arrow-right-hover.png');
                    }
                    a{
                        color: #FFA01A;
                    }
                }
            }
            .selected{
                background-color: #8DBF3F;
/*                border-color: #1C68AA;
                border-style: inset;*/
                .icon{
                    background-image: url('../img/icons/arrow-right-white.png');
                }
                a{
                    cursor: default;
                    color: #FFFFFF;
                    
                }
                &:hover{
                    a{
                        /*color: #FFFFFF;*/
                    }
                }
            }
        }
    }

    .tab-image{
        width: 100%;
        margin-top: 1em;
        margin-left: -0.15em;
    }
    
    .tab_contents{
        display: block;
        margin: 0;
        margin-right: 1.6%;
        padding: 0;
        border: 0;
        float: right;
        
        .decorator{
            display: none;
            visibility: hidden;
        }
        
        .tab_pane{
            display: block;
            padding: 0;
            margin: 0;
            border: 0;
            
            .tab_page{
                margin-top: 0.7em;
                box-shadow: 1pt 1pt 5pt #000000;
            }
            &:not(.current){
                display: none;
                visibility: hidden;
            }
            
            a{
                display: none;
                visibility: hidden;
            }
            
            .tab-image{
                display: none;
                visibility: hidden;
                width: 100%;
            }
        }
    }
}

@media screen and (max-width: 600px)
{
    .tab_to_accordion{
        margin-top: 1em;
        width: 100%;
        margin-left: -1pt;
        .tab_right_col{
            display: none;
            visibility: hidden;
        }
        .tab_contents{
            margin: 0;
            
            .decorator{
                display: block;
                position: relative;
                visibility: visible;
                width: 100%;
                margin-left: 1pt;
                padding: 0;
                height: 0;
                background-color: #1C68AA;
                border-width: 1pt 0;
                border-style: groove;
                border-color: #1C68AA;
                bottom: -1pt;
                z-index: 2;
            }
            
            .tab_pane{
                .accordion-button{
                    display: table;
                    visibility: visible;
                    width: 100%;
                    height: auto;
                    text-align: center;
                    margin: 0 auto;
                    margin-bottom: -0.2em;
                    text-decoration: none;
                    border: 1pt;
                    background-color: #1C68AA;
                    border-bottom-width: 0;
                    border-style: groove;
                    border-color: #1C68AA;
                    float: none;
                    
                    a{
                        display: block;
                        visibility: visible;
                        position: relative;
                        line-height: 1.5em;
                        width: 100%;
                        height: 3em;
                        margin: 0;
                        padding: 0.15em 0;
                        color: #FFFFFF;
                        
                        div{
                            display: inline-block;
                            position: relative;
                            float: left;
                            text-align: left;
                            width: 60%;
                            height: auto;
                            bottom: 0;
                            padding: 0.15em 5%;
                        }
                        
                        .icon{
                            display: inline-block;
                            position: relative;
                            float: left;
                            padding: 0;
                            margin: 0.60em 5%;
                            width: 20%;
                            height: 1em;
                            background-position: center center;
                            background-repeat: no-repeat;
                            background-size: 1em 1em;
                            background-image: url('../img/icons/arrow-down-white.png');
                        }
                        
                        &:hover{
                            color: #FFA01A;

                            .icon{
                                background-image: url('../img/icons/arrow-down-hover.png');
                            }
                        }
                    }

                    .close{
                        display: none;
                    }
                }
                        
                &:not(.current){
                    display: block;
                    visibility: visible;
                    .open{
                        display: block;
                    }
                }
                
                .tab_page{
                    display: inline-block;
                    position: relative;
                    width: 98%;
                    border-width: 1pt;
                    border-top-width: 0;
                    border-style: groove;
                    border-color: #8DBF3F;
                    margin: 0 0.7%;
                    margin-top: -0.7em;
                    box-shadow: 0pt 0pt 0pt #000000;
                }
                
                .content-box{
                    padding-top: 0;
                    margin-top: 0;
                    box-shadow: 0 0 0 none;
                    .header{
                        background-color: #FFFFFF;
                        border: 0;
                        h4{
                            border: 0;
                            color: #1C68AA;
                        }
                    }
                }
            }
            
            .current{
                .decorator{
                    border-style: groove;
                    border-color: #8DBF3F;
                    background-color: #8DBF3F;
                }
                
                .accordion-button{
                    background-color: rgba(28,104,170,0.5);
                }
                
                .open{
                    display: none;
                }

                .close{
                    display: block;
                    visibility: visible;
                }
                
                .tab-image{
                    display: block;
                    visibility: visible;
                    width: 96%;
                    margin: auto;
                }
            }
        }
        
        
    }
    #tab:target{
        .current{
            a:not(.close){
                display: block;
            }
            .close{
                display: none;
            }
            .tab_page{
                display: none;
            }

        }
    }
}

#sol-trasporti{
    display: table;
    margin-top: 1em;
}

.trasporti-links {
     .content-box{
        display: block;
        position: relative;
        margin-top: 0;
        height: 100%;
        padding: 0;
/*        a{
            display: block;
            margin: 0;
            padding: 0;
            width: 100%;
            height: 100%;
            text-decoration: none;
            
            &:hover{
                h5{
                    color: #FFA01A;
                }
                span{
                    color: #FFA01A;
                }
            }
            */
        .header{
            display: inline-block;
            min-height: 5em;
            height: 6em;
            max-height: 8em;
            margin: auto;
            .icon{
                display: table;
                position: relative;
                /*margin: 0 auto;*/
                height: 2em;
                margin: 0.3em auto;
                padding: 0 auto;
                width: 80%;
                background-position: center;
                background-repeat: no-repeat;
                background-size: 2em auto;
            }

            h5{
                margin: 0;
                padding: 0 10%;
                height: 3em;
                font-size: 0.8em;
                width: 80%;
            }
        }

        p{
            color: #000000;
            @media screen and (max-width: 600px){
                -webkit-hyphens: auto;
                -moz-hyphens: auto;
                -ms-hyphens: auto;
                hyphens: auto;
            }
        }

        a{
            display: block;
            position: relative;
            width: 90%;
            margin: 0.3em auto;
            clear: both;
            color: #1C68AA;
            text-decoration: underline;
            text-align: right;

            &:hover{
                color:#FFA01A;
            }
        }
    }
        
    #truck{
        .icon{
            background-image: url('../img/icons/icona-truck.png');
        }

/*            &:hover{
            .icon{
                background-image: url('../img/icons/icona-truck-hover.png');
            }
        }*/
    }

    #train{
        .icon{
            background-image: url('../img/icons/icona-train.png');
        }

/*            &:hover{
            .icon{
                background-image: url('../img/icons/icona-train-hover.png');
            }
        }*/
    }

    #ship{
        .icon{
            background-image: url('../img/icons/icona-ship.png');
        }

/*            &:hover{
            .icon{
                background-image: url('../img/icons/icona-ship-hover.png');
            }
        }*/
    }

    #airplane{
        .icon{
            background-image: url('../img/icons/icona-plane.png');
        }

/*            &:hover{
            .icon{
                background-image: url('../img/icons/icona-plane-hover.png');
            }
        }*/
    }

    #combined{
        .icon{
            background-image: url('../img/icons/icona-combined.png');
        }

/*            &:hover{
            .icon{
                background-image: url('../img/icons/icona-combined-hover.png');
            }
        }*/
    }
}

@media only screen and (max-width: 600px)
{
    #sol-trasporti{
        margin: 0.5em auto;
        margin-bottom: 0;
    }
    
    .trasporti-links{
        .content-box{
            display: block;
            position: relative;
            margin: 0;
            margin-bottom: 0.5em;
            height: 100%;
            padding: 0;
            
/*            .decorator_bottom{
                display: block;
                position: relative;
                margin: 0;
                padding: 0;
                bottom: 0;
                top: auto;
                background: none;
                background: -webkit-linear-gradient(top, #FFFFFF , #8DBF3F);  For Safari 5.1 to 6.0 
                background: -o-linear-gradient(bottom,  #FFFFFF , #8DBF3F);  For Opera 11.1 to 12.0 
                background: -moz-linear-gradient(bottom,  #FFFFFF , #8DBF3F);  For Firefox 3.6 to 15 
                background: linear-gradient(to bottom,  #FFFFFF , #8DBF3F);  Standard syntax 
            }*/
            
/*            a{
                display: block;
                position: relative;
                margin: 0;
                padding: 0;
                width: 100%;
                height: 100%;*/
                .header{
                    display: block;
                    min-height: 2em;
                    height: 2.5em;
                    border: 0;
                    margin-bottom: 0;
                    
                    .icon{
                        display: inline-block;
                        float: left;
                        width: 20%;
                        height: 1.5em;
                        margin: 0.25em auto;
                        background-size: 1.5em 1.5em;
                    }


                    h5{
                        display: inline-block;
                        float: left;
                        position: relative;
                        width: 60%;
                        height: auto;
                        bottom: 0;
                        padding: 0;
                        margin: 0;
                        /*margin-top: 0.25em;*/
                        margin-right: 20%;
                        padding: 0;
                        text-align: center;
                        text-wrap: avoid;
                    }
                }
                

                p{
                    display: block;
                    clear: right;
                    width: 90%;
                    margin: 0.5em 5%;
                }
            }
        }
    /*}*/
}

.clear{
    display: block;
    height: border-box;
    clear: both;
}

#map-canvas {
    display: inline-block;
    position: relative;
    width: 100%;
    height: 25em;
    background-size: 100% 100%;
    background-image: url('../img/map.png');
    background-repeat: no-repeat;
    z-index: 1;
}

.page-img{
    background-color: #FFFFFF;
    margin-top: 0.7em;
    margin-bottom: 0.5em;
    float: left;
    height: fit-content;
}

.content-box-shadow{
    box-shadow: 1pt 1pt 5pt #000000;
    @media screen and (max-width: 600px){
        box-shadow: 1pt 1pt 2pt #1C68AA;
    }
}

.content-box {
    background-color: #FFFFFF;
    color: #000000;
    margin-top: 0.7em;
    margin-bottom: 0.4em;
    padding-bottom: 0.5em;
    
    .decorator, .decorator-bottom, .decorator-header{
        display: none;
        visibility: hidden;
    }
    
/*    &:not(:first-child){
        margin-top: 1em;
    }*/
    
    .header {
        clear: both;
        z-index: 2;
        display: inline-table;
        width: 100%;
        top: 0;
        margin: 0;
        padding: 0;
        background-color: #1C68AA;
        h1, h2, h3, h4, h5, h6 {
            display: inline-block;
            position: relative;
            width: 80%;
            margin: 0.3em 0;
            padding: 0.2em 10%;
            height: auto;
            text-decoration: none;
            text-align: center;
            color: #F0F1F7;
        }
    }
    
    h1, h2, h3, h4, h5, h6 {
        color: #1693A5;
    }
    p{
        display: block;
        clear: both;
    }
}

#map-wrapper{
    display: block;
    width: 100%;
    height: 20em;
    #map-canvas{
        display: block;
        position: relative;
        height: 100%;
        width: 100%;
        background-size: 100% 100%;
        background-image: url('../img/mappa.png');
        background-repeat: no-repeat;
    }
}


@media only screen and (max-width: 600px)
{
    .content-box{
        /*padding-bottom: 0;*/
/*        .decorator, .decorator-bottom, .decorator-header{
            display: block;
            visibility: visible;
            height: 0.3em;
            width: 100%;
        }
        
        .decorator{
            background: -webkit-linear-gradient(top, #8DBF3F , #1C68AA);
            background: -o-linear-gradient(bottom,  #8DBF3F , #1C68AA);
            background: -moz-linear-gradient(bottom,  #8DBF3F , #1C68AA);
            background: linear-gradient(to bottom,  #8DBF3F , #1C68AA); 
        }
        
        .decorator-bottom{
            background: -webkit-linear-gradient(top, #FFFFFF , #8DBF3F);
            background: -o-linear-gradient(bottom,  #FFFFFF , #8DBF3F);
            background: -moz-linear-gradient(bottom,  #FFFFFF , #8DBF3F);
            background: linear-gradient(to bottom,  #FFFFFF , #8DBF3F); 
        }
        
        .decorator-header{
            background: -webkit-linear-gradient(top, #1C68AA , #FFFFFF);
            background: -o-linear-gradient(bottom,  #1C68AA , #FFFFFF);
            background: -moz-linear-gradient(bottom,  #1C68AA , #FFFFFF);
            background: linear-gradient(to bottom,  #1C68AA , #FFFFFF); 
        }*/
        
/*        .header {
            background: none;
            margin-bottom: 0;
            border-bottom-width: 0.1em;
            border-bottom-style: solid;
            border-bottom-color: #8DBF3F;
            h1, h2, h3, h4, h5, h6 {
                background: none;
                color: #1C68AA;
            }
        }*/
    }
    
    
    #map-wrapper{
        display: block;
        width: 70%;
        margin: auto 15%;
        height: 10em;
    }
}

.infoWindow {
    position: relative;
    line-height: 1.35em;
    text-align: center;
    overflow:hidden;
    height: 8em;
    width: 20em;
    @media only screen and (max-width: 600px)
    { 
        width: 11em;
        height: 11em;
    }
    
    
    .header{
        display: block;
        position: absolute;
        background-color: #1C68AA;
        color: #FFFFFF;
        top: 0;
        width: 100%;
        height: 3em;
        h4{
            display: block;
            position: relative;
            width: 100%;
            height: 100%;
            line-height: 100%;
        }
    }
    p{
        display: block;
        position: relative;
        top: 3em;
        height: 3em;
    }
}

.sticky-footer{
    min-height: 100%;
    margin-bottom: -16em;
    
    &:after {
        content: "";
        display: block;
        height: 16em;
    }
}

.push{
    display: none;
}

/*.push {
    clear: both;
    height: 0;
    z-index: -10;
}*/


#footer{
/*    display: block;*/
    position: relative;
    z-index: 3;
    max-width: 100%;
    bottom: 0;
/*    margin-top: 1em;*/
    border: 0;
    border-top: 2pt;
    border-color: #1C68AA;
    border-style: inset;
    bottom: 0;
    height: 17em;
    color: #FFFFFF;
    background-color: #1C68AA;
    
    a{
        z-index: 3;
        color: #FFFFFF;
        &:hover{
            /*color: #94BA65;*/
            color: #FFA01A;
        }
    }
    
    div{
        p{
            text-align: center;
        }
    }
    
    span{
        width: fit-content;
        display: block;
        margin: auto 0.2em;
    }
}

@media only screen and (max-width: 600px){
    #footer {
        margin-top: 0;
        overflow-x: hidden;
        height: auto;
    }
}

#links-trasporti{
    /*margin-top: -0.5em;*/
    .decorator-bottom{
        background: -webkit-linear-gradient(top, #1C68AA , #8DBF3F);
        background: -o-linear-gradient(bottom,  #1C68AA , #8DBF3F);
        background: -moz-linear-gradient(bottom,  #1C68AA , #8DBF3F);
        background: linear-gradient(to bottom,  #1C68AA , #8DBF3F);
    }
}
@keyframes carousel{
    0%    { left:0; }
    11%   { left:0; }
    12.5% { left:-100%; }
    23.5% { left:-100%; }
    25%   { left:-200%; }
    36%   { left:-200%; }
    37.5% { left:-300%; }
    48.5% { left:-300%; }
    50%   { left:-400%; }
    61%   { left:-400%; }
    62.5% { left:-300%; }
    73.5% { left:-300%; }
    75%   { left:-200%; }
    86%   { left:-200%; }
    87.5% { left:-100%; }
    98.5% { left:-100%; }
    100%  { left:0; }
}

@-webkit-keyframes carousel{
    0%    { left:0; }
    11%   { left:0; }
    12.5% { left:-100%; }
    23.5% { left:-100%; }
    25%   { left:-200%; }
    36%   { left:-200%; }
    37.5% { left:-300%; }
    48.5% { left:-300%; }
    50%   { left:-400%; }
    61%   { left:-400%; }
    62.5% { left:-300%; }
    73.5% { left:-300%; }
    75%   { left:-200%; }
    86%   { left:-200%; }
    87.5% { left:-100%; }
    98.5% { left:-100%; }
    100%  { left:0; }
}

.carousel{
    overflow:hidden;
    width:100%;
    margin-top: 1.2em;
    margin-bottom: 0;
    padding: 0;
    @media screen and (max-width: 600px)
    {
        margin-top: 0.6em;
    }
    .panes{
        list-style:none;
        position:relative;
        width:500%; /* Number of panes * 100% */
/*        height: 20em;
        @media screen and (max-width: 767px)
        {
            height: 12em;
        }
        @media screen and (max-width: 480px)
        {
            height: 7em;
        }*/
        padding: 0;
        overflow:hidden; /* This is used solely to clear floats, it does not add functionality. */
        margin: 0;
        -moz-animation: carousel 45s infinite;
        -webkit-animation: carousel 45s infinite;
        animation: carousel 45s infinite;
        
        li{
            margin: 0;
            padding: 0;
            position:relative;
            float:left;
            width: 20%; /* 100 / number of panes */
            
            a{
                display: block;
                width: 100%;
                height: 100%;
                color:#FFFFFF;
                overflow: hidden;
                text-decoration: none;
                &:hover{
                    h2{
                        color:#FFA01A;
                    }
                }
            
                img{
                    display:block;
                    position: relative;
                    width:100%;
/*                    max-width:100%;
                    max-height: 100%;*/
                    margin: 0 auto;
                }
                
                h2{
                    padding:0.5em;
                    z-index: 1;
                    position:absolute;
                    right:0;
                    top: 0;
                    left: 0;
                    text-align:right;
                    background-color: rgba(28,104,170, 0.9);
                    @media screen and (max-width: 600px)
                    {
                        padding: 0;
                        margin: 0;
                        position: relative;
                        text-decoration: none;
                    }
                }
            }
        }
    }
}