$menu-color: #000000;
$menu-text: #FFFFFF;
$first-level-color: #DFEBF6;
$first-level-color-hover: #75a9d2;
$first-level-color-selected: #8eb7d6;
$first-level-text: #FFFFFF;
$second-level-color: #70AB4B;
$second-level-text: #FFFFFF;


@media screen and (max-width: 769px)
{ 
        nav {
          margin: 0;
          padding: 0;
          font-family: 'sorts_mill_goudyregular';

            /* Stile di base per il menù chiuso */
            .menu-link {
                line-height: 2em;
                width: 70%;
                padding: 0.5em 15%;
                background-image: url('../img/menu-white.png');
                background-repeat: no-repeat;
                background-position: right center;
                background-size: 2em;
/*                background-color: $menu-color;*/
                color: $menu-text;
                /*background-position-x: 0.2em;*/
                &:hover{
                    text-decoration: underline;
                }
            }

            a {
              display: inline-block;
              clear: both;
              width: 80%;
              text-align: center;
              height: 2.4em;
              padding: 0.2em 10%;
              line-height: auto;
              text-decoration: none;
            }

            #close1 {
              display: none; }

            ul {
              display: block;
              position: absolute;
              list-style: none;
              margin: 0;
              padding: 0;
              width: 100%;
              height: auto;
              top: 0; 
              left: -10000px;

              li {
                display: block;
                width: 100%;
                height: 0em;
                float: left;
                -webkit-transition: height 0.25;
                -moz-transition: height 0.25s;
                -o-transition: height 0.25s;
                transition: height 0.25s;

                a {
                    background-color: #11855E;
                    color: $first-level-text;
                }
                
                &:first-child{
                    margin-top: 2px;
                }
                
                &:not(.selected){
                    &:hover{
                        a{
                            background-color: rgba(17,133,94, .7);
                            text-decoration: underline;
                        }
                    }
                }
                
              }
              
              .selected{
                  a{
                      background-color: rgba(17,133,94, .4);
                  }
                    
                }
            }
        }
        
        /* Stile per i bottoni del menù di primo livello, quando sono visibili */
        #navigation:target{
            #close1 {
                display: inline-block;
            }

            #open1 {
              display: none; }

            ul {
                display: block;
                position: relative;
                height: auto;
                left: 0px;
                top: 0;

                li {
                  display: block;
                  position: relative;
                  height: 2.8em;
                  margin: 0;
                  border-top: 1px groove;
                  border-bottom: 1px solid;
                  line-height: auto;
                  border-color: $first-level-color;
                  
                  &:first-child{
                      border-top: 2px groove;
                  }
                  
                  &:last-child{
                      border-bottom: 2px groove;
                  }
            }
       }
   }

}

@media screen and (min-width: 769px)
{ 
        nav{
            display: inline-block;
            position: relative;
            height: 1.8em;
            padding: 0;
            margin-top: 0.2em;
            margin-bottom: -0.2em;
            z-index: 10;
            font-family: 'sorts_mill_goudyregular';
            border-bottom: 0.3em solid #C4D99C;

                .menu-link {
                    display: none;
                    visibility: hidden;
                }
                
                .selected{
                    border-bottom: 0.3em solid #11855E;
                }
                
                ul{
                    display: inline-block;
                    position: relative;
                    list-style: none;
                    /*width: 100%;*/
                    margin: 0;
                    padding: 0;


                    li {
                        display: block;
                        height: 1.8em;
                        position: relative;
                        /*width: 1 / 6 * 100%;*/
                        float: left;
                        margin: 0;
                        padding: auto 0.4em;
/*                        top: 0;*/
                        &:hover:not(.selected){
                            border-bottom: 0.3em solid rgba(17,133,94, 0.5);
                        }

                        a{
                            display: inline-block;
                            position: relative;
                            height: 100%;
                            padding: 0 1em;
                            padding-top: 0.2em;
                            margin: 0;
                            line-height: auto;
                            text-align: center;
                            /*background-color: $menu-color;*/
                            color: $menu-text;
                            text-decoration: none;
                            &:hover {

                            }
                        }

                    }

                /*}*/
            }
        }
}


.menuMobileVisible{
    display: block;
    position: relative;
    height: auto;
    left: 0px;
    top: 0;

    li {
        display: block;
        position: relative;
        height: 2.8em;
        margin: 0;
        border-top: 1px groove;
        border-bottom: 1px solid;
        line-height: auto;
        border-color: $first-level-color;

        &:first-child{
            border-top: 2px groove;
        }

        &:last-child{
            border-bottom: 2px groove;
        }
    }
}

html, body {
    height: 100%;
}

@media screen and (max-width: 1280 / 16 * 1em)
{
    body{
        margin: 0;
        padding: 0;
    }
}

@media screen and (min-width: 1280 / 16 * 1em)
{
    body{
        width: 1140 / 16 * 1em;
        margin: auto;
        padding: 0;
        header{
            width: 100%;
            padding: 0;
            margin: 0;
        }
    }
}