$menu-color: #000000;
$menu-text: #FFFFFF;
$first-level-color: #DFEBF6;
$first-level-color-hover: #75a9d2;
$first-level-color-selected: #8eb7d6;
$first-level-text: #FFFFFF;
$second-level-color: #70AB4B;
$second-level-text: #FFFFFF;

.navigation{
    display: table;
    position: relative;
    height: 1.8em;
    padding: 0;
    margin: 0;
    margin-top: 0.2em;
    /*background-color: #1C68AA;*/
    border-bottom: 1pt inset #1C68AA;
    
    .decorator{
        display: none;
        visibility: hidden;
    }
    
    .wrapper{
        height: 1.8em;
        margin-top: 0;
        margin-bottom: 0;
        padding: 0;
        border: 0;
    }
    .menu-link {
        display: none;
    }

    .selected{
        /*background-color: #8DBF3F;*/
        border-width: 1pt 1pt 0 1pt;
        padding-bottom: 2pt;
        margin-bottom: -1pt;
        @media screen and (min-width: 2500px)
        {
            padding-bottom: 3pt;
            margin-bottom: -2pt;
        }
        border-style: outset;
        border-color: #8DBF3F;
        a{
            /*cursor: default;*/
            /*color: #030320;*/
            
        }
    }

    ul{
        display: block;
        position: relative;
        list-style: none;
        height: 100%;
        margin: 0;
        padding: 0;
        border: 0;

        li {
            display: inline-block;
            height: 1.8em;
            position: relative;
            float: left;
            margin: 0;
            padding: auto 0.4em;
            border: 0;
            &:hover:not(.selected){
                a{
                    /*color: #FFA01A;*/
                }
            }

            a{
                display: inline-block;
                position: relative;
                height: 100%;
                padding: 0 1em;
                margin: 0;
                line-height: 1.8em;
                text-align: center;
                /*color: #FFFFFF;*/
                color: inherit;
                text-decoration: none;
            }
        }
    }
}

@media screen and (max-width: 600px)
{ 
    .navigation {
        margin: 0;
        padding: 0;
        height: auto;
        border: 0;
        padding-top: -2pt;
        width: 79%;
        float: left;
        border-top-width: 0.1em;
        border-top-style: outset;
        border-bottom-width: 0.1em;
        border-bottom-style: outset;
        border-color: #1C68AA;

        //background:none;
        
        .wrapper{
            /*display: block;*/
            position: relative;
            height: auto;
            width: 80%;
            margin-left: 0;
            
            a {
                display: block;
                clear: both;
                width: 80%;
                text-align: center;
                padding: 0.2em 10%;
                line-height: 2em;
                text-decoration: none;
            }

            /* Stile di base per il menù chiuso */
            .menu-link {
                display: inline-block;
                height: 3em;
                line-height: 3em;
                width: 98%;
                margin-bottom: -0.01em;
                padding: 0 1%;
                /*margin-right: 4%;*/
                background-color: rgba(28,104,170,0.8);
                /*border-radius: 0.1em;*/
                border-right-width: 0.1em;
                border-right-style: groove;
/*                border-top-width: 0.1em;
                border-top-style: outset;
                border-bottom-width: 0.1em;
                border-bottom-style: outset;*/
                border-color: #1C68AA;
                background-image: url('../img/menu-white.png');
                background-repeat: no-repeat;
                background-position: right center;
                background-size: 1.3em;
                color: #F4F0E6;
                z-index: 5;
                &:hover{
                    text-decoration: underline;
                }
            }
            #open{
                display: block;
            }
            
            #close {
                display: none;
                background-image: url('../img/menu-white.png');
            }

            ul {
                font-size: inherit;
                display: block;
                position: absolute;
                list-style: none;
                margin: 0;
                padding: 0;
                border: 0;
                border-right-width: 1pt;
                border-style: groove;
                border-color: #1C68AA;
                width: 120%;
                height: auto;
                top: 3.1em;
                z-index: 3;
                left: -10000px;

                li {
                  display: inline-block;
                  width: 100%;
                  height: 0em;
                  border: 0;
                  float: left;
                  margin: 0;
                  /*margin-left: 0;*/
                  border-width: 1pt 0;
                  border-bottom: 0;
                  border-style: groove;
                  border-color: #1C68AA;
                  line-height: auto;
                  -webkit-transition: height 0.25;
                  -moz-transition: height 0.25s;
                  -o-transition: height 0.25s;
                  transition: height 0.25s;
                  z-index: inherit;

                  &:last-child{
                      border-bottom-width: 1pt;
                  }

                  a {
                      position: relative;
                      height: 3em;
                      line-height: 3em;
                      padding-left: 10%;
                      padding-right: 10%;
                      background-color: #FFFFFF;
                      color: #327CCB;
                      z-index: inherit;
                  }

                  &:hover:not(.selected){

                       a{
                           color: #FFA01A;
                       }
                  }
              }
              
              .selected{
                  a{
                      background-color: #8DBF3F;
                      color: #000000;
                  }
                    
                }
            }

            
        }
        /* Stile per i bottoni del menù di primo livello, quando sono visibili */
        &:target{
            #close {
                display: inline-block;
            }

            #open {
              display: none; }

            ul {
                height: auto;
                left: 0px;

                li {
                    height: auto;
                    
                    a {
                        height: 3em;
                    }
                }
            }
        }
    }

    .menuMobileVisible{
        #menu{
            height: auto;
            left: 0px;
            
            li {
                height: auto;
            }
        }
    }
}

html, body {
    height: 100%;
    min-height: 100%;
}

.body-background {
    display: table;
    z-index: -2;
    margin: 0;
    padding: 0;
    border: 0;
    width: 100%;
    background: -webkit-linear-gradient(top, #8DBF3F , #FFFFFF); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(bottom,  #8DBF3F , #FFFFFF); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(bottom,  #8DBF3F , #FFFFFF); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to bottom,  #8DBF3F , #FFFFFF); /* Standard syntax */
    
    @media screen and (max-width: 600px){
        background: none;
        /*background-color: #8DBF3F;*/
        border-top: 1pt inset #8DBF3F;
    }
    
    .decorator{
        display: none;
        visibility: hidden;
/*        @media screen and (max-width: 600px){
            display: block;
            visibility: visible;
            height: 0.5em;
            background: -webkit-linear-gradient(top, #1C68AA , #8DBF3F);  For Safari 5.1 to 6.0 
            background: -o-linear-gradient(bottom,  #1C68AA , #8DBF3F);  For Opera 11.1 to 12.0 
            background: -moz-linear-gradient(bottom,  #1C68AA , #8DBF3F);  For Firefox 3.6 to 15 
            background: linear-gradient(to bottom,  #1C68AA , #8DBF3F);  Standard syntax             
        }*/
    }
}


@media screen and (max-width: 1280px)
{
    body{
        width: 100%;
        margin: 0;
        padding: 0;
    }
}

.wrapper{
    display: block;
    
    width: 98%;
    margin: 0 1%;
    @media screen and (min-width: 600px){
        width: 100%;
        margin: 0;
    }
    
}

@media screen and (min-width: 1281px)
{
    .wrapper{
        
        width: 1140px;
        margin: 0 auto;
        padding: 0;
        header{
            width: 100%;
            padding: 0;
            margin: 0;
        }
    }
}