$menu-color: #000000;
$menu-text: #FFFFFF;
$first-level-color: #DFEBF6;
$first-level-color-hover: #75a9d2;
$first-level-color-selected: #8eb7d6;
$first-level-text: #FFFFFF;
$second-level-color: #70AB4B;
$second-level-text: #FFFFFF;

.navigation{
    display: table;
    position: relative;
    height: 1.8em;
    padding: 0;
    margin: 0;
    margin-top: 0.2em;
    border-bottom: 1pt inset #1C68AA;
    
    .decorator{
        display: none;
        visibility: hidden;
    }
    
    .wrapper{
        height: 1.8em;
        margin-top: 0;
        margin-bottom: 0;
        padding: 0;
        border: 0;
    }
    .menu-link {
        display: none;
    }

    .selected{
        border-width: 1pt 1pt 0 1pt;
        padding-bottom: 1pt;
        margin-bottom: -1pt;
        @media screen and (min-width: 2500px)
        {
            padding-bottom: 2pt;
            margin-bottom: -2pt;
        }
        border-style: outset;
        border-color: #8DBF3F;
    }

    ul{
        display: block;
        position: relative;
        list-style: none;
        height: 100%;
        margin: 0;
        padding: 0;
        border: 0;

        li {
            display: inline-block;
            height: 1.8em;
            position: relative;
            float: left;
            margin: 0;
            padding: auto 0.4em;
            border: 0;

            a{
                display: inline-block;
                position: relative;
                height: 100%;
                padding: 0 1em;
                margin: 0;
                line-height: 1.8em;
                text-align: center;
                color: inherit;
                text-decoration: none;
            }
        }
    }
}

@media screen and (max-width: 600px)
{     
    .navigation {
        margin: 0;
        padding: 0;
        height: auto;
        border: 0;
        padding-top: -2pt;
        width: 80%;
        float: left;
        border-top-width: 0.1em;
        border-top-style: outset;
        border-bottom-width: 0.1em;
        border-bottom-style: outset;
        border-color: #1C68AA;
        box-sizing: border-box;
        
        .wrapper{
            height: auto;
            float: left;
            margin: 0;
            width: 80%;
            position: relative;
            
            a {
                display: block;
                clear: both;
                width: 80%;
                text-align: center;
                padding: 0.2em 10%;
                line-height: 2em;
                text-decoration: none;
            }

            /* Stile di base per il menù chiuso */
            .menu-link {
                display: inline-block;
                box-sizing: border-box;
                height: 3em;
                line-height: 3em;
                width: 98%;
                margin-bottom: -0.01em;
                padding: 0 1%;
                background-color: rgba(28,104,170,0.8);
                border-right-width: 0.1em;
                border-right-style: groove;
                border-color: #1C68AA;
                z-index: 5;
                
                span{
                    display: inline-block;
                    position: relative;
                    float: left;
                    width: 60%;
                    margin: 0 5%;
                    height: 2.8em;
                    color: inherit;
                }
                
                .icon{
                    display: inline-block;
                    float: left;
                    width: 1.5em;
                    height: 1.5em;
                    margin: 0.75em 0.1em;
                    background-image: url('../img/icons/menu-white.png');
                    background-repeat: no-repeat;
                    background-position: right center;
                    background-size: 100% 100%;
                }
                
                &:hover{
                    .icon{
                        background-image: url('../img/icons/menu-hover.png');
                    }
                }
            }
            #open{
                display: block;
            }
            
            #close {
                display: none;
            }

            ul {
                font-size: inherit;
                display: block;
                position: absolute;
                list-style: none;
                margin: 0;
                padding: 0;
                border: 0;
                border-right-width: 1pt;
                border-style: groove;
                border-color: #1C68AA;
                width: 122%;
                height: auto;
                top: 3.1em;
                z-index: 3;
                left: -10000px;

                li {
                  display: inline-block;
                  width: 100%;
                  height: 0em;
                  border: 0;
                  float: left;
                  margin: 0;
                  border-width: 1pt 0;
                  border-bottom: 0;
                  border-style: groove;
                  border-color: #1C68AA;
                  line-height: auto;
                  -webkit-transition: height 0.25;
                  -moz-transition: height 0.25s;
                  -o-transition: height 0.25s;
                  transition: height 0.25s;
                  z-index: inherit;

                  &:last-child{
                      border-bottom-width: 1pt;
                  }

                  a {
                      position: relative;
                      height: 3em;
                      line-height: 3em;
                      padding-left: 10%;
                      padding-right: 10%;
                      background-color: #FFFFFF;
                      color: #327CCB;
                      z-index: inherit;
                  }

                  &:hover:not(.selected){
                       a{
                           color: #FFA01A;
                       }
                  }
              }
              
              .selected{
                  a{
                      background-color: #8DBF3F;
                      color: #000000;
                  }
                }
            }

            
        }
        
        @media screen and (max-width: 200px){
            .wrapper{
                width: 40%;
                .menu-link{
                    span{
                        display: none;
                    }
                    .icon{
                        float: none;
                        margin-left: auto;
                        margin-right: auto;
                    }
                }
                ul{
                    width: 272%;
                }
            }
        }
        
        /* Stile per i bottoni del menù di primo livello, quando sono visibili */
        &:target{
            #close {
                display: inline-block;
            }

            #open {
              display: none; }

            ul {
                height: auto;
                left: 0px;

                li {
                    height: auto;
                    
                    a {
                        height: 3em;
                    }
                }
            }
        }
    }

    .menuMobileVisible{
        #menu{
            height: auto;
            left: 0px;
            
            li {
                height: auto;
            }
        }
    }
}

html, body {
    height: 100%;
    min-height: 100%;
}

.body-background {
    display: table;
    z-index: -2;
    margin: 0;
    padding: 0;
    border: 0;
    width: 100%;
    background: -webkit-linear-gradient(top, #8DBF3F , #FFFFFF); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(bottom,  #8DBF3F , #FFFFFF); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(bottom,  #8DBF3F , #FFFFFF); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to bottom,  #8DBF3F , #FFFFFF); /* Standard syntax */
    
    @media screen and (max-width: 600px){
        background: none;
        border-top: 1pt inset #8DBF3F;
    }
    
    .decorator{
        display: none;
        visibility: hidden;
    }
}


@media screen and (max-width: 1280px)
{
    body{
        width: 100%;
        margin: 0;
        padding: 0;
    }
}

.wrapper{
    display: block;
    width: 98%;
    margin: 0 1%;
    @media screen and (min-width: 600px){
        width: 100%;
        margin: 0;
    }
    
}

@media screen and (min-width: 1281px)
{
    .wrapper{
        width: 1140px;
        margin: 0 auto;
        padding: 0;
        header{
            width: 100%;
            padding: 0;
            margin: 0;
        }
    }
}