/* 
    Created on : 16-feb-2014, 10.59.34
    Author     : Lorenzo Di Giuseppe <lorenzo.digiuseppe88@gmail.com>
*/

@media only screen and (min-width: 481px){

    #responsive-tab {
        clear: both;
        display: block;
        position: relative;
        width: 100%;
        margin: 2em auto;
        
        .icon{
            display: none;
        }
        
        .wrap {
            display:block;
            position: relative;
            margin: 0;
            padding: 0;
            border: 0;
            width: 100%;
            height: 100%;
        }
        
        .tab-panel{
            display: block;
            position: relative;
            height: auto !important;
            float: left;
            width: 20%;
        }
        #trasporto-gomma{
            .tab-panel:first-child{
                top: 0;
                a{
                    opacity: .6;
                    z-index: 3;
                }

                .tab-content{
                    display: block;
                    left: 0;
                    z-index: 1;
                    position: relative;
                }
            }
        }

        #trasporto-ferroviario{
            &:target {
                .tab-panel:first-child {
                    a{
                        opacity: 1;
                    }
                    .tab-content {
                        left: -100000px;
                    }
                }

                .tab-panel:nth-child(2){
                    top: 0;
                    a{
                        opacity: .6;
                        z-index: 3;
                    }

                    .tab-content{
                        left: -100%;

                    }
                }

            }
        }

        #trasporto-marittimo{
            &:target {
                .tab-panel:first-child {
                    a{
                        opacity: 1;
                    }
                    .tab-content {

                        left: -100000px;
                    }
                }

                .tab-panel:nth-child(3){
                    top: 0;
                    a{
                        opacity: .6;
                        z-index: 3;
                    }

                    .tab-content{
                        left: -200%;

                    }
                }

            }
        }

        #trasporto-aereo{
            &:target {
                .tab-panel:first-child {
                    a{
                        opacity: 1;
                    }
                    .tab-content {
                        left: -100000px;
                    }
                }

                .tab-panel:nth-child(4){
                    top: 0;
                    a{
                        z-index: 3;
                        opacity: .6;
                    }

                    .tab-content{
                        left: -300%;

                    }
                }

            }
        }

        #trasporto-combinato{
            &:target {
                .tab-panel:first-child {
                    a{
                        opacity: 1;
                    }
                    .tab-content {
                        left: -100000px;
                    }
                }

                .tab-panel:nth-child(5){
                    top: 0;
                    a{
                        opacity: .6;
                        z-index: 3;
                    }

                    .tab-content{
                        left: -400%;

                    }
                }

            }
        }

        a {
            display: block;
            position: relative;
            width: 90%;
            height: 3em;
            padding: 0.2em -2pt;
            margin: auto 5%;
            text-align: center;
            border-style: inset;
            border-color: #F2E9C2;
            border-width: 2pt;
            background-color: #4C99D4;
            color: #FFFFFF;
            text-decoration: none;
            font-weight: 3pt bold;

/*            &:first-child {
                margin-left: 0;
            }*/
            
            &:hover{
                text-decoration: underline;
                background-color: #75a9d2;
            }
        }
            
        .close{
            display: none;
        }

        .tab-content {
            display: block;
            position: relative;
            float: left;
            left: -100000px;
            width: 499%;
            border-top-style: groove;
            border-color: #F2E9C2;
            border-top-width: 2pt;
            background-color: #FFFFFF;
            margin: 0.2em auto;
            margin-bottom: 2em;
            z-index: 2;
            color: #666666;

            h5{
                text-align: center;
            }

            p {
                margin: 1em 0.5em;
            }

            .intro{
                display: block;
                position: relative;
            }

            .body {
                display: inline-block;
                position: relative;
            }

/*                img{
                float: left;
                max-width: 100%;
            }*/
        }
    }
}

.img-wrapper{
    display: block;
    position: relative;
    width: 90%;
    margin: auto;
    
    img{
        display: block;
        max-width: 100%;
    }
}

@media only screen and (max-width: 480px)
{
    #responsive-tab {
        clear: both;
        display: block;
        position: relative;
        margin: 2em auto;

        .close {
            display: none;
        }
        
        .wrap {
            display:block;
            position: relative;
            margin: 0;
            padding: 0;
            border: 0;
            width: 100%;
            height: 100%;
        }
        .tab-panel{
            display: block;
            position: relative;
            height: auto !important;
            float: left;
            width: 100%;
            
            .icon{
                    display: block;
                    position: absolute;
                    right: 0;
                    top: 0;
                    height: 2em;
                    width: 2em;
                    margin: 0.7em;
                    background-image: url('../img/arrow-right.png');
                    background-size: 2em 2em;
                    z-index: 4;
                }
        }
        #trasporto-gomma{
            
            &:target{
                .tab-panel:first-child{
                    top: 0;
                    
                    .icon {
                        background-image: url('../img/arrow-down.png');
                    }
                    a{
                        display: none;
                        opacity: .6;
                    }
                    
                    .close{
                        display: block;
                    }

                    .tab-content{
                        position: relative;
                        height: auto;
                        left: 0;
                    }
                }
            }
        }

        #trasporto-ferroviario{
            
            &:target {

                .tab-panel:nth-child(2){
                    top: 0;
                    
                    .icon {
                        background-image: url('../img/arrow-down.png');
                    }
                    a{
                        display: none;
                        opacity: .6;
                    }
                    
                    .close{
                        display: block;
                    }

                    .tab-content{
                        position: relative;
                        height: auto;
                        left: 0;

                    }
                }

            }
        }

        #trasporto-marittimo{

            &:target {

                .tab-panel:nth-child(3){
                    top: 0;
                    
                    .icon {
                        background-image: url('../img/arrow-down.png');
                    }
                    a{
                        display: none;
                        opacity: .6;
                    }
                    
                    .close{
                        display: block;
                    }

                    .tab-content{
                        position: relative;
                        height: auto;
                        left: 0;

                    }
                }

            }
        }

        #trasporto-aereo{

            &:target {

                .tab-panel:nth-child(4){
                    top: 0;
                    
                    .icon {
                        background-image: url('../img/arrow-down.png');
                    }
                    a{
                        display: none;
                        opacity: .6;
                    }
                    
                    .close{
                        display: block;
                    }

                    .tab-content{
                        position: relative;
                        height: auto;
                        left: 0;

                    }
                }

            }
        }

        #trasporto-combinato{


            &:target {

                .tab-panel:nth-child(5){
                    top: 0;
                    
                    .icon {
                        background-image: url('../img/arrow-down.png');
                    }
                    a{
                        display: none;
                        opacity: .6;
                    }
                    
                    .close{
                        display: block;
                    }

                    .tab-content{
                        position: relative;
                        height: auto;
                        left: 0;

                    }
                }

            }
        }

            a {
                display: block;
                position: relative;
                width: 100%;
                height: 3em;
                padding: 0.2em 0;
                margin: auto;
                text-align: center;
                border-bottom-style: groove;
                border-color: #F2E9C2;
                border-bottom-width: 0.5%;
                background-color: #4C99D4;
                color: #FFFFFF;
                text-decoration: none;
                font-weight: 3pt bold;
                
                
                
                &:hover{
                    text-decoration: underline;
                    background-color: #75a9d2;
                }
            }

            .tab-content {
                display: block;
                position: absolute;
                left: -100000px;
                width: 100%;
                height: 0;
                border-style: inset none;
                border-color: #FFFFFF;
                border-width: 1pt;
                background-color: #F2E9C2;
                margin: auto auto;
                padding-bottom: 1em;
                z-index: 2;
                color: #666666;

                h5{
                    text-align: center;
                }
                
                .content-box{
                    border: 0;
                }
                
                p {
                    margin: 1em 0.5em;
                }
                
                .intro{
                    display: block;
                    position: relative;
                }
                
                .body {
                    display: inline-block;
                    position: relative;
                }
                
                img{
                    float: left;
                    max-width: 100%;
                }
            }

        }
}