/* 
    Created on : 18-feb-2014, 23.02.43
    Author     : Lorenzo Di Giuseppe <lorenzo.digiuseppe88@gmail.com>
*/

@font-face {
    font-family: 'shantiregular';
    src: url('../css/fonts/shanti-regular-webfont.eot');
    src: url('../css/fonts/shanti-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../css/fonts/shanti-regular-webfont.woff') format('woff'),
         url('../css/fonts/shanti-regular-webfont.ttf') format('truetype'),
         url('../css/fonts/shanti-regular-webfont.svg#shantiregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'alluraregular';
    src: url('../css/fonts/allura-regular-webfont.eot');
    src: url('../css/fonts/allura-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../css/fonts/allura-regular-webfont.woff') format('woff'),
         url('../css/fonts/allura-regular-webfont.ttf') format('truetype'),
         url('../css/fonts/allura-regular-webfont.svg#alluraregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'sorts_mill_goudyregular';
    src: url('../css/fonts/goudystm-webfont.eot');
    src: url('../css/fonts/goudystm-webfont.eot?#iefix') format('embedded-opentype'),
         url('../css/fonts/goudystm-webfont.woff') format('woff'),
         url('../css/fonts/goudystm-webfont.ttf') format('truetype'),
         url('../css/fonts/goudystm-webfont.svg#sorts_mill_goudyregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'sorts_mill_goudyitalic';
    src: url('../css/fonts/goudystm-italic-webfont.eot');
    src: url('../css/fonts/goudystm-italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../css/fonts/goudystm-italic-webfont.woff') format('woff'),
         url('../css/fonts/goudystm-italic-webfont.ttf') format('truetype'),
         url('../css/fonts/goudystm-italic-webfont.svg#sorts_mill_goudyitalic') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'sofiaregular';
    src: url('../css/fonts/sofia-regular-webfont.eot');
    src: url('../css/fonts/sofia-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../css/fonts/sofia-regular-webfont.woff') format('woff'),
         url('../css/fonts/sofia-regular-webfont.ttf') format('truetype'),
         url('../css/fonts/sofia-regular-webfont.svg#sofiaregular') format('svg');
    font-weight: normal;
    font-style: normal;

}


h1, h2, h3, h4, h5, h6 {
    color: #E2E5DF;
}

#logo-text{
    font-family: Times New Roman, Boldoni;
    
    h4{
        font-size: 2em;
        color: #F4F0E6;
    }
    h6{
        font-size: 1em;
        color: #F4F0E6;
    }
}

nav{
    font-family: Arial, Verdana;
    font-size: 1.1em;
    font-weight: bold;
}

.infoWindow{
    font-family: Arial, Verdana;
}

#main-image{
    .image-mask{
        h5{
            color: #327CCB;
            font-family: Times New Roman, Boldoni;
            line-height: 1.6em;
            font-size: 1.6em;
        }
        
        p{
            color: #327CCB;
            font-family: Arial, Verdana;
            font-size: 1em;
        }
    }
}

#tab{
    a{
        font-family: Arial, Verdana;
        font-size: 1.1em;
    }
}

.content-box{
    .header{
        h4{
            font-size: 1.2em;
        }
    }
    h1, h2, h3, h4, h5, h6{
        font-family: Times New Roman, Boldoni;
    }
    
    h6{
        line-height: 2em;
        font-size: 1em;
    }
    p{
        font-family: Arial, Verdana;
        line-height: 1.5em;
    }
}

footer{
    font-family: Arial, Verdana;
}