/* 
    Created on : 9-feb-2014, 18.15.20
    Author     : Lorenzo Di Giuseppe <lorenzo.digiuseppe88@gmail.com>
*/
@media only screen and (max-width: 900px) {
  html {
    overflow-y: hidden;
    width: 100%;
    height: 100%; }

  body {
    overflow-y: auto; } }
header {
  background-color: #FFFFFF;
  padding-top: 1em;
  padding-bottom: 0;
  width: 100%;
  margin: 0;
  border: 0; }
  header #logo {
    display: block;
    position: relative;
    height: 4em;
    padding: 0;
    border: 0; }
    header #logo #logo-img {
      display: inline-block;
      position: relative;
      float: left;
      height: 100%;
      max-width: 40%;
      margin: auto 5%;
      margin-left: 0; }
      header #logo #logo-img a {
        z-index: 2;
        display: block;
        width: 100%;
        height: 100%;
        float: left;
        position: relative; }
        header #logo #logo-img a img {
          display: block;
          position: relative;
          height: 100%;
          float: left;
          margin: auto 0; }
    header #logo #logo-text {
      display: block;
      position: relative;
      padding: 0;
      margin-left: 1.6%;
      width: 50%;
      float: left; }
      header #logo #logo-text h4 {
        display: block;
        position: relative;
        padding: 0;
        width: 100%;
        margin: 0;
        margin-bottom: 0.1em; }
      header #logo #logo-text h6 {
        display: block;
        max-width: 100%;
        margin: 0;
        padding: 0; }
  header #breadcrumb {
    display: block;
    position: absolute;
    left: -10000px;
    height: 0;
    padding: 0.2em 0;
    line-height: 2em; }

.inverse {
  float: right; }

@media only screen and (max-width: 480px) {
  header #logo {
    height: auto; }
    header #logo #logo-img {
      width: 50%;
      max-width: 50%;
      height: auto;
      margin: auto 25%;
      float: none; }
      header #logo #logo-img a {
        margin: auto; }
        header #logo #logo-img a img {
          float: none;
          height: auto;
          width: 100%;
          margin: 0 auto; }
    header #logo #logo-text {
      width: 80%;
      float: none;
      margin: auto 10%;
      text-align: center; } }
.img {
  display: block;
  position: relative;
  width: 100%;
  top: 0;
  height: auto;
  margin: auto; }

#language {
  display: inline-block;
  position: relative;
  height: auto; }
  #language .selected {
    cursor: default; }
    #language .selected:hover span {
      text-decoration: none; }
    #language .selected span {
      color: #FBB820;
      text-decoration: none; }
  #language a {
    display: block;
    position: relative;
    width: 50%;
    height: 2em;
    padding: 0;
    margin: 0.5em 0;
    float: left; }
    #language a img {
      display: block;
      float: left;
      height: 1.5em;
      margin: 0.25em 0.2em;
      margin: auto 0;
      vertical-align: middle; }
    #language a span {
      display: block;
      width: 40%;
      height: 1.5em;
      margin: auto 0.2em;
      padding: 0.25em auto;
      line-height: 1.5em;
      float: left;
      color: #1C68AA; }
    #language a:hover span {
      color: #FBB820;
      text-decoration: underline;
      text-decoration-style: wavy; }

@media only screen and (max-width: 480px) {
  #language {
    margin-bottom: 0.4em; }
    #language a {
      width: 30%;
      text-decoration: none; }
      #language a span {
        width: 50%; }
      #language a:first-child {
        margin-left: 15%;
        margin-right: 5%; }
        #language a:first-child span {
          float: right;
          text-align: right; }
        #language a:first-child img {
          float: right; }
      #language a:last-child {
        margin-left: 5%; }
        #language a:last-child span {
          float: left;
          text-align: left; } }
@media only screen and (min-width: 481px) and (max-width: 769px) {
  #language a {
    float: none;
    width: 100%; } }
#main-image {
  margin-top: 1.4em;
  display: inline-block;
  position: relative;
  height: auto;
  min-height: 15em;
  min-width: 100%;
  width: 100%;
  max-width: 100%;
  box-shadow: 1pt 1pt 5pt #000000; }
  #main-image img {
    display: block;
    top: 0;
    min-width: 100%;
    width: 100%;
    max-width: 100%;
    margin: auto;
    left: 0;
    resize: none; }
    #main-image img:after {
      content: "";
      display: table; }
  #main-image .image-mask {
    position: absolute;
    width: 40%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: rgba(28, 104, 170, 0.9); }
    #main-image .image-mask a {
      display: inline-block;
      position: relative;
      width: 100%;
      height: 100%;
      max-height: 100%;
      z-index: 3;
      color: #FFFFFF;
      text-decoration: none; }
      #main-image .image-mask a:hover h5 {
        color: #FBB820; }
      #main-image .image-mask a h5 {
        display: block;
        position: relative;
        text-align: center;
        text-decoration: underline;
        margin: 0.4em auto;
        padding: 0 0.4em; }
      #main-image .image-mask a p {
        display: inline-block;
        width: 90%;
        /*                font-size: 10pt;*/
        margin: 5% 5%;
        overflow: hidden;
        text-overflow: clip;
        height: 60%;
        color: #F0F0D8; }

@media only screen and (max-width: 769px) {
  #main-image .image-mask {
    width: 100%;
    height: 70%;
    top: auto;
    bottom: 0; }
    #main-image .image-mask a h5 {
      margin: 0.2em auto; }
    #main-image .image-mask a p {
      text-align: center;
      margin: auto 2%; } }
@media only screen and (max-width: 481px) {
  #main-image {
    min-height: 0; }
    #main-image .image-mask {
      position: relative;
      height: auto; } }
#tab {
  list-style: none;
  padding-left: 0;
  padding: 0;
  margin-top: 1%; }
  #tab .current {
    min-height: 20em; }
    #tab .current a {
      background-color: #1693A5;
      color: #F0F1F7; }
      #tab .current a:hover {
        background-color: #1693A5;
        color: #FBB820;
        text-decoration: underline; }
      @media only screen and (max-width: 481px) {
        #tab .current a {
          text-decoration: none;
          background-image: url("../img/icons/icona_accordion_close.png"); }
          #tab .current a:hover a {
            color: #FBB820; } }
  #tab li {
    display: inline-block;
    padding: 0;
    margin: 0;
    float: left;
    height: auto; }
    @media only screen and (max-width: 481px) {
      #tab li {
        width: 100%;
        margin-top: 0;
        background-color: #F0F1F7;
        border-bottom: 0.2em outset;
        border-color: #CBCFBC; }
        #tab li:first-child {
          border-top: 0.2em inset; }
        #tab li .content-box {
          display: block;
          position: relative;
          box-shadow: none; }
          #tab li .content-box .header {
            display: block;
            position: relative;
            background-color: #F0F1F7;
            margin-top: 2em; }
            #tab li .content-box .header h4 {
              color: #1693A5; } }
    #tab li .tab-content {
      display: block;
      float: left; }
      @media only screen and (max-width: 481px) {
        #tab li .tab-content {
          margin-top: 0;
          top: 0; } }
    #tab li:not(.current) .tab-page {
      display: none; }
    #tab li:not(.current):hover a {
      border-color: #C4D99C; }
    @media only screen and (min-width: 481px) {
      #tab li:not(.current) {
        top: 0;
        float: right; }
      #tab li:nth-child(2) a {
        margin-top: 2.95em; }
      #tab li:nth-child(3) a {
        margin-top: 5.25em; }
      #tab li:nth-child(4) a {
        margin-top: 7.55em; }
      #tab li:nth-child(5) a {
        margin-top: 9.85em; }
      #tab li:nth-child(6) a {
        margin-top: 12.15em; } }
    #tab li a {
      display: block;
      box-shadow: 1pt 1pt 5pt #000000;
      background-color: #CDD7B6;
      color: #000000;
      text-decoration: none;
      text-align: center; }
      @media only screen and (min-width: 481px) {
        #tab li a {
          position: absolute;
          right: 0;
          height: 1.8em;
          margin-top: 0.65em;
          line-height: 1.8em;
          padding: auto; } }
      @media only screen and (max-width: 481px) {
        #tab li a {
          position: relative;
          height: 3em;
          line-height: 1.5em;
          width: 70%;
          padding-left: 15%;
          padding-right: 15%;
          background-image: url("../img/icons/icona_accordion.png");
          background-size: 1.5em;
          background-position: left top;
          background-repeat: no-repeat; } }
      #tab li a:hover {
        text-decoration: underline;
        background-color: #F0F1F7; }
    #tab li .tab-image {
      display: inline-block;
      position: relative;
      float: right; }
      @media only screen and (min-width: 481px) {
        #tab li .tab-image {
          right: 0;
          float: left;
          margin-left: 1.6%;
          margin-top: 15.6em; } }
        @media only screen and (min-width: 481px) and (max-width: 481px) {
          #tab li .tab-image {
            height: auto;
            vertical-align: text-top;
            margin-bottom: 2em; } }

#sol-trasporti {
  margin-top: 1em; }
  #sol-trasporti .content-box {
    display: block;
    position: relative;
    margin-top: 0;
    height: 100%;
    padding: 0; }
    #sol-trasporti .content-box a {
      display: block;
      margin: 0;
      padding: 0;
      width: 100%;
      height: 100%;
      text-decoration: none; }
      #sol-trasporti .content-box a:hover h5 {
        text-decoration: underline;
        color: #FBB820; }
      #sol-trasporti .content-box a .header .img-wrapper {
        display: table;
        position: relative;
        margin: 0 auto;
        max-height: 3em;
        padding: 0.5em auto;
        width: 80%; }
        #sol-trasporti .content-box a .header .img-wrapper img {
          display: block;
          position: relative;
          top: 0.5em;
          max-height: 2em;
          max-width: 100%;
          margin: auto; }
      #sol-trasporti .content-box a .header h5 {
        height: 3em; }
      #sol-trasporti .content-box a p {
        color: #000000; }

@media only screen and (max-width: 481px) {
  #sol-trasporti {
    margin-top: 0.6em; }
    #sol-trasporti .content-box {
      display: block;
      position: relative;
      margin-top: 0;
      height: 100%;
      padding: 0; }
      #sol-trasporti .content-box a {
        display: block;
        margin: 0;
        padding: 0;
        width: 100%;
        height: 100%; }
        #sol-trasporti .content-box a .header {
          height: 3em; }
          #sol-trasporti .content-box a .header .img-wrapper {
            display: inline-block;
            float: left;
            width: 20%;
            margin: 0.5em auto; }
            #sol-trasporti .content-box a .header .img-wrapper img {
              top: auto; }
          #sol-trasporti .content-box a .header h5 {
            display: block;
            float: left;
            position: relative;
            margin: auto;
            width: 60%;
            padding: 0;
            margin: 0.5em auto;
            text-align: center; }
        #sol-trasporti .content-box a p {
          display: block;
          float: left;
          width: 90%;
          margin: 0.5em 5%; } }
#map-canvas {
  display: inline-block;
  position: relative;
  width: 100%;
  height: 25em;
  background-size: 100% 100%;
  background-image: url("../img/map.png");
  background-repeat: no-repeat;
  z-index: 1; }

.page-img {
  box-shadow: 1pt 1pt 5pt #000000;
  margin-top: 0.7em;
  margin-bottom: 0.5em;
  float: left;
  height: fit-content; }

.content-box {
  background-color: #FFFFFF;
  color: #000000;
  margin-bottom: 0.4em;
  box-shadow: 1pt 1pt 5pt #000000;
  padding-bottom: 0.5em; }
  .content-box .header {
    z-index: 2;
    display: block;
    margin: 0;
    padding: 0;
    background-color: #1C68AA; }
    .content-box .header h1, .content-box .header h2, .content-box .header h3, .content-box .header h4, .content-box .header h5, .content-box .header h6 {
      display: block;
      position: relative;
      width: 70%;
      padding: 0.2em 10%;
      height: auto;
      text-decoration: none;
      text-align: center;
      color: #F0F1F7; }
  .content-box h1, .content-box h2, .content-box h3, .content-box h4, .content-box h5, .content-box h6 {
    color: #1693A5; }
  .content-box h1, .content-box h2, .content-box h3, .content-box h4, .content-box h5, .content-box h6, .content-box p {
    margin: 0.6em 0.5em; }

#map-wrapper {
  display: block;
  width: 100%;
  height: 20em; }
  #map-wrapper #map-canvas {
    display: block;
    position: relative;
    height: 100%;
    width: 100%;
    background-size: 100% 100%;
    background-image: url("../img/mappa.png");
    background-repeat: no-repeat; }

@media only screen and (max-width: 481px) {
  #map-wrapper {
    display: block;
    width: 70%;
    margin: auto 15%;
    height: 10em; } }
.infoWindow {
  position: relative;
  line-height: 1.35em;
  text-align: center;
  overflow: hidden;
  height: 8em;
  width: 20em; }
  @media only screen and (max-width: 481px) {
    .infoWindow {
      width: 11em;
      height: 11em; } }
  .infoWindow .header {
    display: block;
    position: absolute;
    background-color: #1693A5;
    color: #F0F1F7;
    top: 0;
    width: 100%;
    height: 3em; }
    .infoWindow .header h4 {
      display: block;
      position: relative;
      width: 100%;
      height: 100%;
      line-height: 100%; }
  .infoWindow p {
    display: block;
    position: relative;
    top: 3em;
    height: 3em; }

.content_wrapper {
  position: relative;
  clear: both;
  min-height: 100%;
  margin: 0 auto -15em; }

.push {
  display: block;
  clear: both;
  height: 15em;
  z-index: -10; }

footer {
  display: block;
  position: relative;
  z-index: 3;
  max-width: 100%;
  bottom: 0;
  margin-top: 1em;
  height: 15em;
  color: #FFFFFF;
  background-color: #1C68AA; }
  footer a {
    z-index: 3;
    color: #FFFFFF; }
    footer a:hover {
      color: #94BA65; }
  footer div p {
    text-align: center; }

@media only screen and (max-width: 481px) {
  .content_wrapper {
    margin-bottom: -20em; }

  footer, .push {
    height: 20em; } }
