{% load i18n %}

<p class="col_5_5"><a class="color_blue color_hover" href="#nav">{% trans "Torna al menù" %}</a></p>
<p class="col_5_5"><span>{% trans "via V. Pilotti - 64100 Teramo (Te) - c/o Centro Commerciale" %}</span><span>P.iva IT 01881060675</span></p>
<p class="group col_5_5">
    <b class="column col_3_5"><span>tel. +39 0861 221349</span><span>fax. +39 0861 1850749</span></b>
    <a class="column col_2_5 color_blue color_hover" href="mailto:info@fbsped.it">info@fbsped.it</a></p>
<p class="col_5_5">{% trans "Per informazioni e suggerimenti su come migliorare questo sito contattatemi a: email@prova.it" %}</p>
<p><span>&copy; Copyright 2014-2015</span></p>